@page "/organisation/{id}"
@using CO.CDP.OrganisationApp.Constants
@using CO.CDP.OrganisationApp.Pages
@using CO.CDP.OrganisationApp.WebApiClients
@model OrganisationOverviewModel

@{
    var organisationDetails = Model.OrganisationDetails!;
    var registeredAddress = organisationDetails.Addresses.FirstOrDefault(a => a.Type == CO.CDP.Organisation.WebApiClient.AddressType.Registered);
}

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <fieldset class="govuk-fieldset">
                <h1 class="govuk-heading-l">
                    <span class="govuk-label--l">@organisationDetails.Name</span>
                </h1>
                <h2 class="govuk-heading-m">Organisation details</h2>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@organisationDetails.Name</p>
                        </dd>
                        <authorize scope="@OrgScopeRequirement.Editor">
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="/organisation/@Model.Id/name">Change<span class="govuk-visually-hidden"> address</span></a>
                            </dd>
                        </authorize>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation identifier
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">
                                @organisationDetails.Identifier.Scheme.SchemeDescription()
                            </p>
                            <p class="govuk-body">
                                @if (@organisationDetails.Identifier.Id == null)
                                {
                                <p class="govuk-body">PPON generation pending.</p>
                                }
                                else
                                {
                                    @organisationDetails.Identifier.Id
                                }
                            </p>
                        </dd>
                        <authorize scope="@OrgScopeRequirement.Editor">
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
                            </dd>
                        </authorize>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@organisationDetails.ContactPoint.Email</p>
                        </dd>
                        <authorize scope="@OrgScopeRequirement.Editor">
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="/organisation/@Model.Id/email">Change<span class="govuk-visually-hidden"> address</span></a>
                            </dd>
                        </authorize>
                    </div>

                    @if (registeredAddress != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">@registeredAddress.StreetAddress</p>
                                <p class="govuk-body">@registeredAddress.Locality</p>
                                @if (!string.IsNullOrWhiteSpace(registeredAddress.Region))
                                {
                                    <p class="govuk-body">@registeredAddress.Region</p>
                                }
                                <p class="govuk-body">@registeredAddress.PostalCode</p>
                                <p class="govuk-body">@registeredAddress.CountryName</p>
                            </dd>
                            <authorize scope="@OrgScopeRequirement.Editor">
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link govuk-link--no-visited-state" href="/organisation/@Model.Id/address/@(registeredAddress.Country == Country.UKCountryCode ? "uk" : "non-uk")?frm-overview">Change<span class="govuk-visually-hidden"> address</span></a>
                                </dd>
                            </authorize>
                        </div>
                    }                    
                </dl>

                @if (organisationDetails.IsTenderer())
                {
                    <div class="govuk-!-margin-top-3">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold" href="/organisation/@RouteData.Values["id"]/supplier-information">Supplier information</a>
                    </div>
                }

                <authorize scope="@OrgScopeRequirement.Admin">
                    <div class="govuk-!-margin-top-3">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold" href="/organisation/@RouteData.Values["id"]/users/user-summary">Users</a>
                    </div>
                </authorize>               

                <div class="govuk-!-margin-top-6">
                    <a href="/organisation-selection" class="govuk-link govuk-link--no-visited-state">Back to all organisations</a>
                </div>
            </fieldset>
        </div>
    </div>
</main>