@page "/organisation/{id}/buyer/search"
@using CO.CDP.Localization
@model OrganisationPponSearchModel

@{
    ViewData["Title"] = StaticTextResource.PponSearch_Title;
}

@section BeforeContent {
    <a class="govuk-back-link" href="/organisation/@Model.Id">@StaticTextResource.Global_Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
                 data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    @StaticTextResource.Global_ErrorSummary_Heading
                </h2>
                <div class="govuk-error-summary__body" role="alert" aria-labelledby="error-summary-title">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li><a href="#organisation-search-input">@Model.ErrorMessage</a></li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>



<form method="post" aria-label="Organisation PPON search form">
    @Html.AntiForgeryToken()
    <div class="search-ppon-info-header govuk-!-margin-bottom-8 govuk-!-padding-5">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-margin-bottom-1">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-3 search-ppon-text" id="ppon-search-title">@StaticTextResource.PponSearch_Title</h1>
            </div>
            <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-1">
                <label class="govuk-label search-ppon-text" for="organisation-search-input" id="ppon-search-hint">
                    @StaticTextResource.PponSearch_Hint
                </label>
            </div>
            <div class="govuk-grid-column-two-thirds search-ppon-flex-display">

                <input class="govuk-input search-ppon-text-input"
                       id="organisation-search-input" name="SearchText" asp-for="SearchText" type="text" value="@Model.SearchText"
                       aria-label="Search by PPON or organisation name"
                       aria-describedby="ppon-search-hint">

                <button type="submit" class="govuk-button search-ppon-button" data-module="govuk-button">
                    <svg class="gem-c-search__icon" width="18" height="18" viewBox="0 0 27 27" fill="none"
                         xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                        <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                        <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor"
                              stroke-width="3"></line>
                    </svg>
                </button>

            </div>
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-8">
        <div class="govuk-grid-column-full">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">@StaticTextResource.PponSearch_Ppon_Desc_Title</p>
            <p class="govuk-body">@Html.Raw(@StaticTextResource.PponSearch_Ppon_Desc_Hint_01)</p>
            <p class="govuk-body">@Html.Raw(@StaticTextResource.PponSearch_Ppon_Desc_Hint_02)</p>
        </div>
    </div>


    @if (!string.IsNullOrEmpty(Model.FeedbackMessage))
    {
        <p class="govuk-body">@Model.FeedbackMessage</p>
    }

    @if (Model.TotalOrganisations > 0)
    {
        <div class="govuk-grid-row govuk-!-margin-bottom-5">

            @if (Model.TotalOrganisations == 1)
            {
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">@StaticTextResource.Global_Search_Result</h2>
                    <p class="govuk-body">@Html.Raw(@StaticTextResource.PponSearch_ResultsCountOneHeading)</p>
                </div>
            }
            else
            {
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">@StaticTextResource.Global_Search_Results</h2>
                    <p class="govuk-body">@Html.Raw(string.Format(StaticTextResource.PponSearch_ResultsCountMoreThanOneHeading, Model.TotalOrganisations))</p>
                </div>
                <div class="govuk-grid-column-one-third govuk-!-text-align-right">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-font-weight-bold" for="sort-order">
                            @StaticTextResource.Global_Sort_Results
                        </label>
                        <select class="govuk-select" id="sort-order" name="sortOrder" aria-controls="sort-submit">
                            <option value="rel" selected="@(Model.SortOrder == "rel")">
                                @StaticTextResource.Global_Sort_Relevance
                            </option>
                            <option value="asc" selected="@(Model.SortOrder == "asc")">
                                @StaticTextResource.Global_Sort_Alphabetical_Asc
                            </option>
                            <option value="desc" selected="@(Model.SortOrder == "desc")">
                                @StaticTextResource.Global_Sort_Alphabetical_Desc
                            </option>
                        </select>
                        <button type="submit" id="sort-submit" class="govuk-visually-hidden">
                            @StaticTextResource.Global_Sort_Txt
                        </button>
                        <noscript>
                            <button type="submit"
                                    class="govuk-button govuk-!-margin-left-2">@StaticTextResource.Global_Sort_Txt</button>
                        </noscript>

                    </div>
                </div>
            }
        </div>
    }
</form>

@if (Model.TotalOrganisations > 0)
{
    foreach (var org in Model.Organisations)
    {
        <div class="govuk-grid-row" aria-label="Search result for organisation: @org.Name">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m" id="org-name-@org.Id">@org.Name</h2>
                @if (org.Identifiers.Any(i => i.Scheme.Equals("GB-PPON") && i.Id != null))
                {
                    <p class="govuk-body govuk-!-margin-bottom-1">
                        <span class="govuk-!-font-weight-bold">PPON</span>
                        <span aria-label="PPON identifier">@org.Identifiers.First(i => i.Scheme.Equals("GB-PPON")).Id</span>
                    </p>
                }
                <p class="govuk-body">
                    <span class="govuk-!-font-weight-bold">Organisation address</span>&nbsp;
                    <span aria-label="Organisation address">@Model.FormatAddresses(org.Addresses)</span>
                </p>
            </div>
            <div class="govuk-grid-column-one-third govuk-!-text-align-right">
                <div class="govuk-grid-row" aria-label="Organisation roles">
                    @foreach (var partyRole in @org.Roles.Distinct())
                    {
                        <strong class="govuk-tag @Model.GetTagClassForRole(partyRole)" aria-label="Role: @partyRole">
                            @partyRole
                        </strong>
                    }
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>
        </div>
    }
}

@await Html.PartialAsync("_Pagination", Model.Pagination)

@section Scripts {
    <script nonce-csp>
        document.addEventListener('DOMContentLoaded', function () {
            const sortOrderSelect = document.getElementById('sort-order');
            if (sortOrderSelect) {
                sortOrderSelect.addEventListener('change', function () {
                    document.getElementById('sort-submit').click();
                });
            }
        });
    </script>
}
