@page "/organisation-selection"
@using CO.CDP.Organisation.WebApiClient
@using CO.CDP.OrganisationApp.Constants
@using CO.CDP.OrganisationApp.WebApiClients
@using CO.CDP.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@addTagHelper *, Microsoft.FeatureManagement.AspNetCore

@inject Microsoft.Extensions.Configuration.IConfiguration config

@model OrganisationSelectionModel

@{
    ViewData["Title"] = StaticTextResource.Organisation_MyAccount;
    var consortiumCount = Model.UserOrganisations.Count(y => y.Organisation.Type == Tenant.WebApiClient.OrganisationType.InformalConsortium);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

        <section>
            <h2 class="govuk-heading-m">@StaticTextResource.Organisation_SignInDetails</h2>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @StaticTextResource.Organisation_EmailAddress
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.UserDetails.Email
                    </dd>
                </div>
            </dl>

            @{
                var oneLoginAccountUrl = config["OneLogin:AccountUrl"];
            }
            <p class="govuk-body">
                @Html.Raw(string.Format(@StaticTextResource.Organisation_ChangeSignInDetails, oneLoginAccountUrl))
            </p>

        </section>

        <hr class="govuk-section-break govuk-section-break--invisible govuk-section-break--xl">

        @if (Model.UserOrganisations.Any())
        {
            <section>
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">@StaticTextResource.Organisation_MyOrganisations</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">@StaticTextResource.Organisation_OrganisationName</th>
                            <th scope="col" class="govuk-table__header">@StaticTextResource.Organisation_OrganisationAction</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @{
                            foreach (var (org, review) in Model.UserOrganisations)
                            {
                                if (org.Type != Tenant.WebApiClient.OrganisationType.InformalConsortium)
                                {
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            @org.Name
                                            @{
                                                if (review != null)
                                                {
                                                    if (review.Status == ReviewStatus.Rejected)
                                                    {
                                                        <strong class="govuk-tag govuk-tag--red">@StaticTextResource.Organisation_NotApproved</strong>
                                                    }
                                                    else if (review.Status == ReviewStatus.Pending)
                                                    {
                                                        <strong class="govuk-tag govuk-tag--light-blue govuk-!-font-size-16">@StaticTextResource.Organisation_PendingApproval</strong>
                                                    }
                                                }
                                            }
                                        </td>

                                        <td class="govuk-table__cell">
                                            <a class="govuk-link govuk-link--no-visited-state" href="/organisation/@org.Id/home">
                                                @StaticTextResource.Global_View<span class="govuk-visually-hidden"> @org.Name</span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </section>

            <div class="govuk-body">
                <a class="govuk-button govuk-button--secondary" asp-page="/Registration/OrganisationType">
                    @StaticTextResource.Organisation_AddAnotherOrganisation
                </a>
            </div>
        }
        else
        {
            <section>
                <h2 class="govuk-heading-m">@StaticTextResource.Organisation_MyOrganisations</h2>

                <p class="govuk-body">@StaticTextResource.Organisation_RegisterOrganisation</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>@StaticTextResource.Organisation_ContractingAuthority</li>
                    <li>@StaticTextResource.Organisation_OrganisationOrSoleTrader</li>
                </ul>

                <a asp-page="/Registration/OrganisationType" class="govuk-button" role="button" data-module="govuk-button">
                    @StaticTextResource.Organisation_RegisterAnOrganisation
                </a>

                <h3 class="govuk-heading-s">@StaticTextResource.Organisation_AfterYouveRegistered</h3>

                <p class="govuk-body">@StaticTextResource.Organisation_IfYouNeedTo</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>@StaticTextResource.Organisation_RegisterAsOtherRole</li>
                    <li>@StaticTextResource.Organisation_AddMoreOrganisations</li>
                </ul>
            </section>
        }

        <hr class="govuk-section-break govuk-section-break--invisible govuk-section-break--l">

        <feature name="@FeatureFlags.Consortium">
            @{
                if (consortiumCount == 0)
                {
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                @StaticTextResource.Organisation_CreateConsortiumHowToSummaryHead
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            @Html.Raw(StaticTextResource.Organisation_CreateConsortiumHowToSummaryDetail)

                            <div class="govuk-body">
                                <a class="govuk-button govuk-!-margin-bottom-0" href="/consortium/start">
                                    @StaticTextResource.Organisation_CreateNewConsortium
                                </a>
                            </div>
                        </div>
                    </details>
                }
                else
                {
                    <section id="myOrgs">
                        <h2 class="govuk-heading-m">
                            @StaticTextResource.Organisation_MyConsortium
                        </h2>

                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">@StaticTextResource.Organisation_ConsortiumName</th>
                                    <th scope="col" class="govuk-table__header">@StaticTextResource.Organisation_OrganisationAction</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @{
                                    foreach (var (org, review) in Model.UserOrganisations)
                                    {
                                        if (org.Type == Tenant.WebApiClient.OrganisationType.InformalConsortium)
                                        {
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell">
                                                    @org.Name
                                                </td>
                                                <td class="govuk-table__cell">
                                                    <a class="govuk-link govuk-link--no-visited-state" href="/consortium/@org.Id/overview">
                                                        @StaticTextResource.Global_View<span class="govuk-visually-hidden"> @org.Name</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>

                    </section>
                    <div class="govuk-body">
                        <a class="govuk-button govuk-button--secondary" href="/consortium/start">
                            @StaticTextResource.Organisation_CreateNewConsortium
                        </a>
                    </div>
                }
            }
        </feature>
    </div>
</div>