@page "/organisation/{id}"
@using CO.CDP.OrganisationApp.Constants
@using CO.CDP.OrganisationApp.Pages
@using CO.CDP.OrganisationApp.WebApiClients
@inject IUserInfoService userInfoService
@model OrganisationOverviewModel

@{
    var organisationDetails = Model.OrganisationDetails!;
    var registeredAddress = organisationDetails.Addresses.FirstOrDefault(a => a.Type == CO.CDP.Organisation.WebApiClient.AddressType.Registered);
    bool isViewer = await userInfoService.IsViewer();
}

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (organisationDetails.IsPendingBuyer())
            {
                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Important
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">
                            Buyer registration pending approval.
                        </p>
                    </div>
                </div>
            }

            <fieldset class="govuk-fieldset">
                <h1 class="govuk-heading-l">
                    <span class="govuk-label--l">@organisationDetails.Name</span>
                </h1>
                <h2 class="govuk-heading-m">Organisation details</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-3">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@organisationDetails.Name</p>
                        </dd>
                        <authorize scope="@OrgScopeRequirement.Editor">
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="/organisation/@Model.Id/name">Change<span class="govuk-visually-hidden"> address</span></a>
                            </dd>
                        </authorize>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation identifier
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <ul class="govuk-list govuk-list--bullet">
                                <li>
                                    @organisationDetails.Identifier.Scheme.SchemeDescription()
                                    @if (@organisationDetails.Identifier.Id == null)
                                    {
                                        <text><br />PPON generation pending.</text>
                                    }
                                    else
                                    {
                                        @organisationDetails.Identifier.Id
                                    }
                                </li>
                                @foreach (var aidentifier in organisationDetails.AdditionalIdentifiers)
                                {
                                    @if (@aidentifier.Scheme != Helper.VatSchemeName)
                                    {
                                        <li>
                                            @aidentifier.Scheme.SchemeDescription()
                                            <br />
                                            @aidentifier.Id
                                        </li>
                                    }
                                }
                            </ul>
                        </dd>
                        <authorize scope="@OrgScopeRequirement.Editor">
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="/organisation/@Model.Id/identifiers">Add<span class="govuk-visually-hidden"> address</span></a>
                            </dd>
                        </authorize>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@organisationDetails.ContactPoint.Email</p>
                        </dd>
                        <authorize scope="@OrgScopeRequirement.Editor">
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="/organisation/@Model.Id/email">Change<span class="govuk-visually-hidden"> address</span></a>
                            </dd>
                        </authorize>
                    </div>

                    @if (registeredAddress != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">@registeredAddress.StreetAddress</p>
                                <p class="govuk-body">@registeredAddress.Locality</p>
                                @if (!string.IsNullOrWhiteSpace(registeredAddress.Region))
                                {
                                    <p class="govuk-body">@registeredAddress.Region</p>
                                }
                                <p class="govuk-body">@registeredAddress.PostalCode</p>
                                <p class="govuk-body">@registeredAddress.CountryName</p>
                            </dd>
                            <authorize scope="@OrgScopeRequirement.Editor">
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link govuk-link--no-visited-state" href="/organisation/@Model.Id/address/@(registeredAddress.Country == Country.UKCountryCode ? "uk" : "non-uk")?frm-overview">Change<span class="govuk-visually-hidden"> address</span></a>
                                </dd>
                            </authorize>
                        </div>
                    }
                </dl>

                @if (organisationDetails.IsBuyer() && !organisationDetails.IsTenderer())
                {
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold" asp-page="./OrganisationRegisterBuyerAsSupplier" asp-route-id="@Model.Id">Register as a supplier</a>
                    <div class="govuk-section-break govuk-section-break--visible govuk-section-break--m"></div>
                }

                @if (organisationDetails.IsTenderer())
                {
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold" href="/organisation/@RouteData.Values["id"]/supplier-information">Supplier information</a>
                    <div class="govuk-section-break govuk-section-break--visible govuk-section-break--m"></div>
                }

                @if (organisationDetails.IsBuyer())
                {
                    <h3>
                        <a class="govuk-link" href="/organisation/@RouteData.Values["id"]/manage-api-keys">@(isViewer ? "View" : "Manage") API keys (for Buyers)</a>
                    </h3>

                    <p class="govuk-body">An application programming interface (API) key is a code that allows different pieces of software to share information.</p>
                    <p class="govuk-body">You need to create an API key and share it with the e-Sender you use to publish procurement notices on the Find a Tender service.</p>

                    <div class="govuk-section-break govuk-section-break--visible govuk-section-break--m"></div>
                }

                <authorize scope="@OrgScopeRequirement.Admin">
                    <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold" href="/organisation/@RouteData.Values["id"]/users/user-summary">Users</a>
                    <div class="govuk-section-break govuk-section-break--visible govuk-section-break--m"></div>
                </authorize>

                @if (organisationDetails.IsBuyer())
                {
                    <p class="govuk-body govuk-!-margin-top-6">
                        Get procurement guidance on the <a rel="noreferrer noopener" target="_blank" class="govuk-link" href="https://www.procurementpathway.civilservice.gov.uk/">Procurement Pathway service (opens in new tab)</a>
                    </p>
                }

                <div class="govuk-!-margin-top-6">
                    <a href="/organisation-selection" class="govuk-link govuk-link--no-visited-state">Back to all organisations</a>
                </div>
            </fieldset>
        </div>
    </div>
</main>