@page "/organisation/{id}"
@using CO.CDP.OrganisationApp.Constants
@using CO.CDP.OrganisationApp.WebApiClients
@using CO.CDP.Localization
@using Microsoft.FeatureManagement
@inject IUserInfoService userInfoService
@inject IFeatureManager FeatureManager
@model OrganisationOverviewModel

@{
    var organisationDetails = Model.OrganisationDetails!;
    var registeredAddress = organisationDetails.Addresses.FirstOrDefault(a => a.Type == CO.CDP.Organisation.WebApiClient.AddressType.Registered);
    bool isViewer = await userInfoService.IsViewer();
    bool isAdmin = await userInfoService.IsAdmin();
    var supplierToBuyerDevolvedRegulationsPage = $"/organisation/{@Model.Id}/supplier-to-buyer-devolved-regulation";
    var supplierToBuyerSelectDevolvedRegulationsPage = $"/organisation/{@Model.Id}/buyer/select-devolved-regulation";
    ViewData["Title"] = organisationDetails.Name;
}

@section BeforeContent {
    <a class="govuk-back-link" href="@Model.BackLinkUrl">@StaticTextResource.Global_Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (Model.Review != null && Model.Review.Status == CDP.Organisation.WebApiClient.ReviewStatus.Rejected)
        {
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        @StaticTextResource.Organisation_RegistrationNotApproved
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                        @StaticTextResource.Organisation_WeCouldNotApproveYourRequest
                    </h3>
                    <p class="govuk-body">@Model.Review.Comment</p>
                </div>
            </div>
        }
        else if (organisationDetails.IsPendingBuyer() || (organisationDetails.IsBuyer() && Model.HasBuyerSignedMou == false && isAdmin))
        {
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        @StaticTextResource.Global_Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                        @StaticTextResource.Organisation_BuyerRegistrationPendingApproval
                    </h3>
                    <p class="govuk-body">
                        @StaticTextResource.OrganisationOverView_Banner_PendingApproval_Hint
                    </p>

                    <ul class="govuk-list govuk-list--bullet">
                        @if (Model.HasBuyerSignedMou == false)
                        {
                            <authorize scope="@OrgScopeRequirement.Admin">
                                <li>@Html.Raw(string.Format(@StaticTextResource.OrganisationOverView_Banner_Review_MoU_Link, Model.Id))</li>
                            </authorize>
                        }
                        @if (organisationDetails.IsPendingBuyer())
                        {
                            <li>@StaticTextResource.OrganisationOverView_Banner_PendingApproval</li>
                        }
                    </ul>
                </div>
            </div>
        }

        <fieldset class="govuk-fieldset">
            <h1 class="govuk-heading-l">
                <span class="govuk-label--l">@ViewData["Title"]</span>
            </h1>
            <h2 class="govuk-heading-m">@StaticTextResource.Organisation_OrganisationDetails</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @StaticTextResource.Organisation_OrganisationName
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">@organisationDetails.Name</p>
                    </dd>
                    <authorize scope="@OrgScopeRequirement.Editor">
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="/organisation/@Model.Id/name">@Html.Raw(@StaticTextResource.Organisation_ChangeName)</a>
                        </dd>
                    </authorize>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @StaticTextResource.Organisation_OrganisationIdentifier
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                @if (@organisationDetails.Identifier.Id == null)
                                {
                                    <text>@StaticTextResource.Organisation_PponGenerationPending</text>
                                }
                                else
                                {
                                    @organisationDetails.Identifier.Scheme.SchemeDescription(Model.IdentifierRegistriesDetails)
                                    <br />
                                    @organisationDetails.Identifier.Id
                                }
                            </li>
                            @foreach (var aidentifier in organisationDetails.AdditionalIdentifiersToShow())
                            {
                                <li>
                                    @aidentifier.Scheme.SchemeDescription(Model.IdentifierRegistriesDetails)
                                    <br />
                                    @aidentifier.Id
                                </li>
                            }
                        </ul>
                    </dd>
                    <authorize scope="@OrgScopeRequirement.Editor">
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="/organisation/@Model.Id/identifiers">@Html.Raw(StaticTextResource.Organisation_AddOrganisationIdentifier)</a>
                        </dd>
                    </authorize>
                    <authorize scope="@PersonScopeRequirement.SupportAdmin">
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="/organisation/@Model.Id/identifiers">@StaticTextResource.Global_Change</a>
                        </dd>
                    </authorize>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @StaticTextResource.Organisation_OrganisationEmail
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">@organisationDetails.ContactPoint.Email</p>
                    </dd>
                    <authorize scope="@OrgScopeRequirement.Editor">
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="/organisation/@Model.Id/email">@Html.Raw(StaticTextResource.Organisation_ChangeEmail)</a>
                        </dd>
                    </authorize>
                </div>

                @if (registeredAddress != null)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @StaticTextResource.Organisation_OrganisationAddress
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@registeredAddress.StreetAddress</p>
                            <p class="govuk-body">@registeredAddress.Locality</p>
                            @if (!string.IsNullOrWhiteSpace(registeredAddress.Region))
                            {
                                <p class="govuk-body">@registeredAddress.Region</p>
                            }
                            <p class="govuk-body">@registeredAddress.PostalCode</p>
                            <p class="govuk-body">@registeredAddress.CountryName</p>
                        </dd>
                        <authorize scope="@OrgScopeRequirement.Editor">
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="/organisation/@Model.Id/address/@(registeredAddress.Country == Country.UKCountryCode ? "uk" : "non-uk")?frm-overview">@Html.Raw(StaticTextResource.Organisation_ChangeAddress)</a>
                            </dd>
                        </authorize>
                    </div>
                }

                @if (Model.BuyerInformation != null)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @StaticTextResource.Organisation_BuyerType
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">
                                @if (BuyerOrganisationTypeModel.BuyerTypes.Keys.Contains(Model.BuyerInformation.BuyerType!))
                                {
                                    @(BuyerOrganisationTypeModel.BuyerTypes[Model.BuyerInformation.BuyerType!])
                                }
                                else
                                {
                                    @(Model.BuyerInformation.BuyerType)
                                }
                            </p>
                        </dd>
                        <authorize scope="@OrgScopeRequirement.Editor">
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="/organisation/@Model.Id/buyer-organisation-type">
                                    @StaticTextResource.Global_Change<span class="govuk-visually-hidden"> @StaticTextResource.Organisation_BuyerType</span>
                                </a>
                            </dd>
                        </authorize>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @StaticTextResource.Organisation_DevolvedRegulations
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">
                                @(Model.BuyerInformation.DevolvedRegulations.Count > 0 ? StaticTextResource.Global_Yes : StaticTextResource.Global_No)
                            </p>
                        </dd>
                        <authorize scope="@OrgScopeRequirement.Editor">
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="@supplierToBuyerDevolvedRegulationsPage?frm-overview">@Html.Raw(@StaticTextResource.SupplierToBuyer_OrganisationSummary_ChangeDevolvedRegulations)</a>
                            </dd>
                        </authorize>
                    </div>

                    @if (Model.BuyerInformation.DevolvedRegulations.Count > 0)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @StaticTextResource.Organisation_DevolvedRegions
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">
                                    @if (Model.Regulations != null)
                                    {
                                        @Html.Raw(string.Join("<br /> ", Model.Regulations.Select(x => x.Description())))
                                    }
                                </p>
                            </dd>
                            <authorize scope="@OrgScopeRequirement.Editor">
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link govuk-link--no-visited-state" href="@supplierToBuyerSelectDevolvedRegulationsPage?frm-overview">@Html.Raw(@StaticTextResource.SupplierToBuyer_OrganisationSummary_ChangeDevolvedRegions)</a>
                                </dd>
                            </authorize>
                        </div>
                    }

                    @if (Model.HasBuyerSignedMou)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @StaticTextResource.MoU_DataSharingAgreement_Title
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">
                                    @if (Model.MouSignedOnDate != null)
                                    {
                                        @Model.MouSignedOnDate
                                        ;
                                    }
                                </p>
                            </dd>
                            <authorize scope="@OrgScopeRequirement.Admin">
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link govuk-link--no-visited-state" href="/organisation/@Model.Id/mou-summary">
                                        @StaticTextResource.Global_View<span class="govuk-visually-hidden"> @StaticTextResource.MoU_DataSharingAgreement_Title</span>
                                    </a>
                                </dd>
                            </authorize>
                        </div>
                    }
                }
            </dl>

            @if (organisationDetails.IsBuyer())
            {
                @if (await FeatureManager.IsEnabledAsync(FeatureFlags.BuyerParentChildRelationship))
                {
                    <h3 class="govuk-heading-m govuk-!-padding-top-8"
                        id="child-organisations">@StaticTextResource.OrganisationOverview_ChildOrganisations_Heading</h3>
                    <p class="govuk-body">@StaticTextResource.OrganisationOverview_ChildOrganisations_Description</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>@StaticTextResource.OrganisationOverview_ChildOrganisations_ListItem1</li>
                        <li>@Html.Raw(StaticTextResource.OrganisationOverview_ChildOrganisations_ListItem2)</li>
                    </ul>
                    <details class="govuk-details govuk-!-padding-top-4">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                @StaticTextResource.OrganisationOverview_ChildOrganisations_DetailsSummary
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">@StaticTextResource.OrganisationOverview_ChildOrganisations_DetailsText</p>
                        </div>
                    </details>
                    @if (Model.ChildOrganisations != null && Model.ChildOrganisations.Any())
                    {
                        <table class="govuk-table govuk-!-margin-bottom-3">
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Organisation</th>
                                <th scope="col" class="govuk-table__header">PPON</th>
                                <th scope="col" class="govuk-table__header"></th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                            @foreach (var childOrg in Model.ChildOrganisations)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-!-width-one-half">@childOrg.Name</td>
                                    <td class="govuk-table__cell govuk-!-width-one-third">@childOrg.Ppon</td>
                                    <td class="govuk-table__cell" style="text-align: right;">
                                        <authorize scope="@OrgScopeRequirement.Editor">
                                            <a class="govuk-link" asp-page="/Buyer/Hierarchy/ChildOrganisationRemovePage"
                                               asp-route-id="@Model.Id" asp-route-childId="@childOrg.Id" asp-route-ppon="GB-PPON:@childOrg.Ppon">
                                                @StaticTextResource.Global_Remove<span class="govuk-visually-hidden"> child organisation</span>
                                            </a>
                                        </authorize>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                    <authorize scope="@OrgScopeRequirement.Editor">
                        <a href="/organisation/@RouteData.Values["id"]/buyer/hierarchy/add/child/search" role="button"
                           draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-top-3"
                           data-module="govuk-button">
                            @StaticTextResource.OrganisationOverview_ChildOrganisations_ButtonText
                        </a>
                    </authorize>
                }
            }

            @if (organisationDetails.IsTenderer())
            {
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">
                    <a class="govuk-link" href="/organisation/@RouteData.Values["id"]/supplier-information">@StaticTextResource.Organisation_CompleteSupplierInformation</a>
                </h3>
                <p class="govuk-body">@StaticTextResource.Organisation_CompleteAndShareSupplierInformation</p>
                <div class="govuk-section-break govuk-section-break--visible govuk-section-break--m"></div>
            }

            @if (organisationDetails.IsBuyer())
            {
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">
                    <a class="govuk-link" href="/organisation/@RouteData.Values["id"]/manage-api-keys">@(isViewer ? StaticTextResource.Organisation_ViewApiKeys : StaticTextResource.Organisation_ManageApiKeys) @(organisationDetails.IsTenderer() ? StaticTextResource.Organisation_ApiKeysForBuyers : "")</a>
                </h3>

                <p class="govuk-body">@StaticTextResource.Organisation_CreateApiKey</p>

                <div class="govuk-section-break govuk-section-break--visible govuk-section-break--m"></div>
            }

            @if (organisationDetails.IsBuyer() && Model.SearchRegistryPponEnabled)
            {
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">
                    <a class="govuk-link" href="/organisation/@Model.Id/buyer/search?origin=overview">@StaticTextResource.Organisation_SearchOrganisations</a>
                </h3>

                <p class="govuk-body">@StaticTextResource.Organisation_SearchOrganisationsHint</p>

                <div class="govuk-section-break govuk-section-break--visible govuk-section-break--m"></div>
            }

            <authorize scope="@OrgScopeRequirement.Admin">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">
                    <a class="govuk-link" href="/organisation/@RouteData.Values["id"]/users/user-summary">@StaticTextResource.Organisation_ManageUsers</a>
                </h3>
                <p class="govuk-body">@StaticTextResource.Organisation_ViewAddRemoveUsers</p>
                <div class="govuk-section-break govuk-section-break--visible govuk-section-break--m"></div>
            </authorize>

            @if (!isAdmin)
            {
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">
                    <a class="govuk-link" href="/organisation/@RouteData.Values["id"]/users/view-admins">@StaticTextResource.UserSummary_ViewAdmins_Title</a>
                </h3>

                <p class="govuk-body">@StaticTextResource.UserSummary_ViewAdmins_Supplier_HintText</p>
                <p class="govuk-body">@StaticTextResource.UserSummary_ViewAdmins_Buyer_HintText</p>

                <div class="govuk-section-break govuk-section-break--visible govuk-section-break--m"></div>
            }

            @if ((organisationDetails.IsPendingBuyer() || organisationDetails.IsBuyer()) && !organisationDetails.IsTenderer())
            {
                <authorize scope="@OrgScopeRequirement.Admin">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-3">
                        <a class="govuk-link" asp-page="./OrganisationRegisterBuyerAsSupplier" asp-route-id="@Model.Id">@StaticTextResource.Organisation_RegisterAsSupplier</a>
                    </h3>
                    <p class="govuk-body">@StaticTextResource.Organisation_SupplyGoodsServices</p>
                    <div class="govuk-section-break govuk-section-break--visible govuk-section-break--m"></div>
                </authorize>
            }

            @if (organisationDetails.IsBuyer())
            {
                <p class="govuk-body govuk-!-margin-top-6">
                    @StaticTextResource.Organisation_GetProcurementGuidance <a rel="noreferrer noopener" target="_blank" class="govuk-link" href="https://www.procurementpathway.civilservice.gov.uk/">@StaticTextResource.Organisation_ProcurementPathwayService</a>
                </p>
            }

            <authorize scope="@OrgScopeRequirement.Admin">
                @if (organisationDetails.IsTenderer() && !(organisationDetails.IsPendingBuyer() || organisationDetails.IsBuyer()))
                {
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-3">
                        <a class="govuk-link" asp-page="./OrganisationRegisterSupplierAsBuyer" asp-route-id="@Model.Id">@StaticTextResource.OrganisationOverview_RegisterAsBuyer_Link</a>
                    </h3>
                    <p class="govuk-body">@StaticTextResource.OrganisationOverview_RegisterAsBuyer_Text</p>
                    <div class="govuk-section-break govuk-section-break--visible govuk-section-break--m"></div>
                }
            </authorize>
        </fieldset>
    </div>
</div>
