@page "/organisation/buyer/search"
@using CO.CDP.Localization
@using CO.CDP.OrganisationApp.Pages.Shared
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SearchModel

@{
    ViewData["Title"] = Model.Title;
    var queryValue = Request.Query["q"];
}

@section BeforeContent {
    <a class="govuk-back-link" href="/organisation-selection">@StaticTextResource.Global_Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    @StaticTextResource.Global_ErrorSummary_Heading
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li><a href="#organisation-search-input">@Model.ErrorMessage</a></li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<form method="get">
    <div class="govuk-grid-row govuk-!-margin-bottom-5">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-3">
            <label class="govuk-label" for="organisation-search-input">
                @Model.SearchTitle
            </label>
            <input class="govuk-input" id="organisation-search-input" name="q" type="text" value="@queryValue">
        </div>
        <div class="govuk-grid-column-two-thirds">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                @StaticTextResource.Global_Search
            </button>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        @StaticTextResource.PponSearch_Ppon_Desc_Title
                    </span>
                </summary>
                <div class="govuk-details__text">
                    @Html.Raw(@StaticTextResource.PponSearch_Ppon_Desc_Hint_01)
                    @Html.Raw(@StaticTextResource.PponSearch_Ppon_Desc_Hint_02)
                </div>
            </details>
        </div>
    </div>

    @if (Model.TotalOrganisations > 0)
    {
        <div class="govuk-grid-row">
            @if(Model.TotalOrganisations == 1){
            <div class="govuk-grid-column-one-half" style="padding-left: 0">
                <h2 class="govuk-heading-l">Search results</h2>
                <p class="govuk-body">@StaticTextResource.PponSearch_ResultsCountOneHeading</p>
            </div>
            }else{
            <div class="govuk-grid-column-one-half" style="padding-left: 0">
                <h2 class="govuk-heading-l">Search results</h2>
                <p class="govuk-body">@(string.Format(StaticTextResource.PponSearch_ResultsCountMoreThanOneHeading, Model.TotalOrganisations))</p>
            </div>
            <div class="govuk-grid-column-one-half govuk-!-text-align-right" style="padding-left: 0 !important;">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="sort-order">
                        @StaticTextResource.Global_Search_Results
                    </label>
                    <select class="govuk-select" id="sort-order" name="sortOrder" onchange="this.form.submit()">
                        <option value="relevance"
                                selected="@(Request.Query["sortOrder"] == "relevance" ? "selected" : null)">
                            @StaticTextResource.Global_Sort_Relevance
                        </option>
                        <option value="ascending"
                                selected="@(Request.Query["sortOrder"] == "ascending" ? "selected" : null)">
                            @StaticTextResource.Global_Sort_Alphabetical_Asc
                        </option>
                        <option value="descending"
                                selected="@(Request.Query["sortOrder"] == "descending" ? "selected" : null)">
                            @StaticTextResource.Global_Sort_Alphabetical_Desc
                        </option>
                    </select>
                </div>
            </div>
            }
        </div>
    }
</form>

@if (Model.TotalOrganisations > 0)
{
    foreach (var org in Model.Organisations)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">@org.Name</h2>
                @if (org.Identifiers.Any(i => i.Scheme.Equals("GB-PPON") && i.Id != null))
                {
                    <p class="govuk-body govuk-!-margin-bottom-1">
                        <span class="govuk-!-font-weight-bold">PPON</span>
                        @org.Identifiers.First(i => i.Scheme.Equals("GB-PPON")).Id
                    </p>
                }
                <p class="govuk-body">
                    <span class="govuk-!-font-weight-bold">Organisation address</span>&nbsp;
                    @Model.FormatAddresses(org.Addresses)
                </p>
            </div>
            <div class="govuk-grid-column-one-third govuk-!-text-align-right">
                <div class="govuk-grid-row" style="text-align: right;margin-right:0">
                    @foreach (var partyRole in @org.Roles)
                    {
                        <strong class="govuk-tag @Model.GetTagClassForRole(partyRole)">
                            @partyRole
                        </strong>
                    }
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>
        </div>
    }
}

@await Html.PartialAsync("_Pagination", new PaginationPartialModel
{
    CurrentPage = Model.CurrentPage,
    TotalItems = Model.TotalOrganisations,
    PageSize = Model.PageSize,
    Url = $"/support/organisations/buyer?q={queryValue}"
})
