@page "/organisation/{id}/buyer/select-devolved-regulation"
@model CO.CDP.OrganisationApp.Pages.Organisation.SupplierToBuyerSelectDevolvedRegulationModel
@using CO.CDP.Localization
@using CO.CDP.OrganisationApp.Constants
@{
    ViewData["Title"] = StaticTextResource.SupplierToBuyer_SelectDevolvedRegulation_Title;
    var regulationsHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.Regulations)).HasInnerHtml;

    var backLink = $"/organisation/{@Model.Id}/supplier-to-buyer-devolved-regulation";

    string IsSelected(DevolvedRegulation regulationValue)
    {
        return Model.Regulations.Contains(regulationValue) ? "checked='checked'" : string.Empty;
    }
}

@section BeforeContent {
    <a href="@backLink" class="govuk-back-link">@StaticTextResource.Global_Back</a>
}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-body">
            <partial name="_ErrorSummary" model="@ModelState" />
            <form method="post">
                <div class="govuk-form-group @(regulationsHasError ? "govuk-form-group--error" : "")">
                    <fieldset class="govuk-fieldset" aria-describedby="regulations-hint @(regulationsHasError ? "devolved-error" : "")">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                @ViewData["Title"]
                            </h1>
                        </legend>
                        <div id="regulations-hint" class="govuk-hint">
                            @Html.Raw(@StaticTextResource.SupplierToBuyer_SelectDevolvedRegulation_Hint)
                        </div>
                        @if (regulationsHasError)
                        {
                            <p id="devolved-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">@StaticTextResource.Global_Error:</span> @Html.ValidationMessageFor(m => m.Regulations)
                            </p>
                        }
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="radni" name="Regulations" type="radio" value="@DevolvedRegulation.NorthernIreland" @IsSelected(DevolvedRegulation.NorthernIreland)>
                                <label class="govuk-label govuk-radios__label" for="radni">
                                @StaticTextResource.SupplierToBuyer_SelectDevolvedRegulation_NorthernIreland
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="radscotland" name="Regulations" type="radio" value="@DevolvedRegulation.Scotland" @IsSelected(DevolvedRegulation.Scotland)>
                                <label class="govuk-label govuk-radios__label" for="radscotland">
                                @StaticTextResource.SupplierToBuyer_SelectDevolvedRegulation_Scotland
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="radwales" name="Regulations" type="radio" value="@DevolvedRegulation.Wales" @IsSelected(DevolvedRegulation.Wales)>
                                <label class="govuk-label govuk-radios__label" for="radwales">
                                @StaticTextResource.SupplierToBuyer_SelectDevolvedRegulation_Wales
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <govuk-button>
                    @StaticTextResource.Global_Continue
                </govuk-button>
            </form>
        </div>
    </div>