@page "/organisation/{id}/supplier-to-buyer-organisation-details-summary"
@using CO.CDP.OrganisationApp.Constants
@model CO.CDP.OrganisationApp.Pages.Organisation.SupplierToBuyerOrganisationDetailsSummaryModel
@using CO.CDP.Localization
@{
    ViewData["Title"] = StaticTextResource.SupplierToBuyer_OrganisationSummary_Title;
    var details = Model.SupplierToBuyerDetailsModel!;

    var supplierToBuyerOrganisationTypePage = $"/organisation/{@Model.Id}/supplier-to-buyer-organisation-type";
    var supplierToBuyerDevolvedRegulationsPage = $"/organisation/{@Model.Id}/supplier-to-buyer-devolved-regulation";
    var supplierToBuyerSelectDevolvedRegulationsPage = $"/organisation/{@Model.Id}/supplier-to-buyer-select-devolved-regulation";

    var backLink = $"/organisation/{@Model.Id}/supplier-to-buyer-devolved-regulation";

    if (details.Devolved == true)
    {
        backLink = $"/organisation/{@Model.Id}/supplier-to-buyer-select-devolved-regulation";
    }
}
@section BeforeContent {
    <a href="@backLink" class="govuk-back-link">@StaticTextResource.Global_Back</a>
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@ModelState" />
            
            <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">@StaticTextResource.SupplierToBuyer_OrganisationSummary_BuyerDetails</span>
                @ViewData["Title"]
            </h1>
            
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @StaticTextResource.SupplierToBuyer_OrganisationSummary_OrganisationType
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (SupplierToBuyerOrganisationTypeModel.BuyerTypes.Keys.Contains(details.BuyerOrganisationType!))
                            {
                                @(SupplierToBuyerOrganisationTypeModel.BuyerTypes[details.BuyerOrganisationType!])
                            }
                            else
                            {
                                @(details.BuyerOrganisationType)
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" href="@supplierToBuyerOrganisationTypePage?frm-summary">@Html.Raw(@StaticTextResource.SupplierToBuyer_OrganisationSummary_ChangeOrganisationType)</a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @StaticTextResource.SupplierToBuyer_OrganisationSummary_DevolvedRegulations
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @(details.Devolved == true ? StaticTextResource.Global_Yes : StaticTextResource.Global_No)
                        </dd>
                        <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" href="@supplierToBuyerDevolvedRegulationsPage?frm-summary">@Html.Raw(@StaticTextResource.SupplierToBuyer_OrganisationSummary_ChangeDevolvedRegulations)</a>
                        </dd>
                    </div>
                    @if (details.Devolved == true)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @StaticTextResource.SupplierToBuyer_OrganisationSummary_DevolvedRegions
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Html.Raw(string.Join("<br /> ", details.Regulations.Select(x => x.Description())))
                            </dd>
                            <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="@supplierToBuyerSelectDevolvedRegulationsPage?frm-summary">@Html.Raw(@StaticTextResource.SupplierToBuyer_OrganisationSummary_ChangeDevolvedRegions)</a>
                            </dd>
                        </div>
                    }
                </dl>
            
            <form method="post">
                <govuk-button>
                    @StaticTextResource.Global_Save
                </govuk-button>
            </form>
        </div>
    </div>