@page "/organisation/{id}/supplier-to-buyer-devolved-regulation"
@using CO.CDP.OrganisationApp.Constants
@using CO.CDP.Localization
@model CO.CDP.OrganisationApp.Pages.Organisation.SupplierToBuyerDevolvedRegulationModel
@{
    ViewData["Title"] = StaticTextResource.OrganisationRegistration_BuyerDevolvedRegulation_Heading;
    var devolvedHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.Devolved)).HasInnerHtml;
    var fromSummaryPage = Request.Query.ContainsKey("frm-summary");
    var fromOverviewPage = Request.Query.ContainsKey("frm-overview");

    var backLink = $"/organisation/{@Model.Id}/supplier-to-buyer-organisation-type{(fromSummaryPage ? "?frm-summary" : "")}";

    if (fromOverviewPage)
    {
        backLink = $"/organisation/{@Model.Id}";
    }
    else if (fromSummaryPage)
    {
        backLink = $"/organisation/{@Model.Id}/buyer/supplier-to-buyer-organisation-details-summary";
    }
}

@section BeforeContent {
    <a href="@backLink" class="govuk-back-link">@StaticTextResource.Global_Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-body">
        <partial name="_ErrorSummary" model="@ModelState" />
        <form method="post">
            @if (Request.Query.ContainsKey("frm-summary"))
            {
                <input type="hidden" name="RedirectToSummary" value="true" />
            }

            @if (Request.Query.ContainsKey("frm-overview"))
            {
                <input type="hidden" name="RedirectToOverview" value="true" />
            }

            <div class="govuk-form-group @(devolvedHasError ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset" @(devolvedHasError ? "aria-describedby=devolved-error" : "")>
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            @ViewData["Title"]
                        </h1>
                    </legend>
                    <div id="buyerdevolvedregulation-hint" class="govuk-hint">
                        @StaticTextResource.OrganisationRegistration_BuyerDevolvedRegulation_Hint
                    </div>

                    @if (devolvedHasError)
                    {
                        <p id="devolved-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">@StaticTextResource.Global_Error:</span> @Html.ValidationMessageFor(m => m.Devolved)
                        </p>
                    }

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="@nameof(Model.Devolved)" name="@nameof(Model.Devolved)"
                                   type="radio"
                                   value="true"
                            @(Model.Devolved == true ? "checked" : "")>
                            <label class="govuk-label govuk-radios__label" for="@nameof(Model.Devolved)">
                                @StaticTextResource.Global_Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="@nameof(Model.Devolved)-1" name="@nameof(Model.Devolved)"
                                   type="radio"
                                   value="false"
                            @(Model.Devolved == false ? "checked" : "")>
                            <label class="govuk-label govuk-radios__label" for="@nameof(Model.Devolved)-1">
                                @StaticTextResource.Global_No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <govuk-button>
                @StaticTextResource.Global_Continue
            </govuk-button>

        </form>
    </div>
</div>
