@model CO.CDP.UserManagement.App.Models.ChangeUserRoleViewModel
@{
    ViewData["Title"] = "What is their role in your organisation?";
    var currentRoleTagClass = OrganisationRoleContent.GetTagClass(Model.CurrentRole);
}

@section BeforeContent {
    <a href="/organisation/@Model.OrganisationSlug" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="/Pages/Shared/_ErrorSummary.cshtml" model="ViewData.ModelState" />

        <div class="app-filter-container govuk-!-margin-bottom-6">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Changing user role:</p>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">@Model.UserDisplayName</h2>
            <p class="govuk-body govuk-!-margin-bottom-2">@Model.Email</p>
            <p class="govuk-body govuk-!-margin-bottom-0">
                Current role: <strong class="govuk-tag @currentRoleTagClass">@Model.CurrentRole</strong>
            </p>
        </div>

        <h1 class="govuk-heading-xl">What is their role in your organisation?</h1>
        <p class="govuk-body">This determines what the user can manage at the organisation level, separate to application-specific roles.</p>

        <form method="post">
            @Html.AntiForgeryToken()

            <div class="govuk-form-group @(ViewData.ModelState.ContainsKey("organisationRole") && !ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-visually-hidden">What is their role in your organisation?</legend>
                    @if (ViewData.ModelState.ContainsKey("organisationRole") && !ViewData.ModelState.IsValid)
                    {
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState["organisationRole"]?.Errors.FirstOrDefault()?.ErrorMessage
                        </p>
                    }
                    <div class="govuk-radios" data-module="govuk-radios">
                        @foreach (var roleOption in OrganisationRoleContent.Options)
                        {
                            var roleValue = roleOption.Role.ToString();
                            var isChecked = Model.SelectedRole == roleOption.Role;
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="role-@roleValue" name="organisationRole" type="radio" value="@roleValue" checked="@isChecked">
                                <label class="govuk-label govuk-radios__label" for="role-@roleValue"><strong>@roleOption.Role</strong></label>
                                <div class="govuk-hint govuk-radios__hint">
                                    @roleOption.Description
                                </div>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">More about organisation roles</span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body"><strong>Organisation roles vs Application roles</strong></p>
                    <p class="govuk-body">Organisation roles control what a user can do at the organisation level, such as managing users and enabling applications. Application roles are separate and control what a user can do within each specific application they are assigned to.</p>
                    <p class="govuk-body">A user needs both:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>An organisation role to be part of your organisation</li>
                        <li>Application roles to access specific applications</li>
                    </ul>
                </div>
            </details>

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">Continue</button>
                <a class="govuk-link" href="/organisation/@Model.OrganisationSlug">Cancel</a>
            </div>
        </form>
    </div>
</div>
