@using CO.CDP.UserManagement.Shared.Enums
@model CO.CDP.UserManagement.App.Models.ChangeUserRoleViewModel
@{
    ViewData["Title"] = "Check organisation role changes";
    var selectedRole = Model.SelectedRole ?? Model.CurrentRole;
    var changeUrl = Model.IsPending
        ? $"/organisation/{Model.OrganisationSlug}/invites/{Model.InviteGuid}/change-role"
        : $"/organisation/{Model.OrganisationSlug}/user/{Model.CdpPersonId}/change-role";
}

@section BeforeContent {
    <a href="@changeUrl" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="app-filter-container govuk-!-margin-bottom-6">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Changing user role:</p>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">@Model.UserDisplayName</h2>
            <p class="govuk-body govuk-!-margin-bottom-0">@Model.Email</p>
        </div>

        <h1 class="govuk-heading-xl">Check organisation role changes</h1>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Current role</dt>
                <dd class="govuk-summary-list__value">@Model.CurrentRole</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">New role</dt>
                <dd class="govuk-summary-list__value">@selectedRole</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@changeUrl">
                        Change<span class="govuk-visually-hidden"> new role</span>
                    </a>
                </dd>
            </div>
        </dl>

        <form method="post">
            @Html.AntiForgeryToken()
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">Save changes</button>
                <a class="govuk-link" href="/organisation/@Model.OrganisationSlug">Cancel</a>
            </div>
        </form>
    </div>
</div>
