@model CO.CDP.UserManagement.App.Models.InviteSuccessViewModel
@{
    ViewData["Title"] = "User added";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">User Added</h1>
            <div class="govuk-panel__body">
                @Model.FirstName @Model.LastName has been added to @Model.OrganisationName
            </div>
        </div>

        <h2 class="govuk-heading-m govuk-!-margin-top-7">User details</h2>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Name</dt>
                <dd class="govuk-summary-list__value">@Model.FirstName @Model.LastName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Email address</dt>
                <dd class="govuk-summary-list__value">@Model.Email</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Organisation</dt>
                <dd class="govuk-summary-list__value">@Model.OrganisationName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Organisation role</dt>
                <dd class="govuk-summary-list__value">@Model.OrganisationRole</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date added</dt>
                <dd class="govuk-summary-list__value">@Model.DateAdded.ToString("d MMMM yyyy")</dd>
            </div>
        </dl>

        <h3 class="govuk-heading-s">Application roles:</h3>
        <dl class="govuk-summary-list">
            @foreach (var application in Model.Applications)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">@application.ApplicationName</dt>
                    <dd class="govuk-summary-list__value">@application.RoleName</dd>
                </div>
            }
        </dl>

        <h3 class="govuk-heading-s">What happens next?</h3>
        <p class="govuk-body">
            @Model.FirstName @Model.LastName can now sign in and access the services and roles you've given them. They'll receive an email confirming which services they've been added to. You can change their roles or remove their access at any time.
        </p>

        <p class="govuk-body">
            <a class="govuk-link" href="/organisation/@Model.OrganisationSlug">Return to dashboard</a>
        </p>
    </div>
</div>
