@model FormElementTextInputModel

@{
    var hasError = ((TagBuilder)Html.ValidationMessageFor(m => m.TextInput)).HasInnerHtml;
}

<div class="govuk-form-group">
   
    @if (!string.IsNullOrWhiteSpace(Model.Heading))
    {
        <h1 class="govuk-label govuk-label--l" for="textInput">@Model.Heading</h1>
    }
    @if (!string.IsNullOrWhiteSpace(Model.Caption))
    {
        <span class="govuk-caption-l">@Model.Caption</span>
    }

    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        @Html.Raw(Model.Description)
    }

    @if (hasError)
    {
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            @Html.ValidationMessageFor(m => m.TextInput)
        </p>
    }

    <input class="govuk-input govuk-!-width-two-thirds" id="textInput" name="TextInput" type="text" value="@Model.TextInput">
</div>