@model FormElementTextInputModel

@{
    var hasError = ((TagBuilder)Html.ValidationMessageFor(m => m.TextInput)).HasInnerHtml;
}

<div class="govuk-form-group">
    <span class="govuk-caption-l">@Html.Raw(@Model.Caption)</span>
    <label class="govuk-label govuk-label--l" for="declarationInput">
        @Model.Heading
    </label>
    <div id="inputHint" class="govuk-hint">
        Your name as the person authorised to declare the supplier information.
    </div>

    @if (hasError)
    {
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            @Html.ValidationMessageFor(m => m.TextInput)
        </p>
    }

    <input class="govuk-input govuk-!-width-two-thirds" name="TextInput" type="text" value="@Model.TextInput">
</div>