@model FormElementDateInputModel

@{
    var dayHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.Day)).HasInnerHtml;
    var monthHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.Month)).HasInnerHtml;
    var yearHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.Year)).HasInnerHtml;
    var dateStringHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.DateString)).HasInnerHtml;
    var hasDateError = dateStringHasError || dayHasError || monthHasError || yearHasError;
    var selectOptionHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.HasValue)).HasInnerHtml;

    string GetAriaDescribedBy()
    {
        string ariaDescribedBy = "date-hint";

        @if (dayHasError)
        {
            ariaDescribedBy += " day-error";
        }
        @if (monthHasError)
        {
            ariaDescribedBy += " month-error";
        }
        @if (yearHasError)
        {
            ariaDescribedBy += " year-error";
        }
        @if (dateStringHasError)
        {
            ariaDescribedBy += " date-error";
        }
        @if (selectOptionHasError)
        {
            ariaDescribedBy += " has-value-error";
        }

        return ariaDescribedBy;
    }

    void RenderField()
    {
        <div id="date-hint">
            @if (!string.IsNullOrWhiteSpace(Model.Caption))
            {
                @Html.Raw(Model.Caption)
            }
            else
            {
                <div class="govuk-hint">For example, 27 3 2007</div>
            }
        </div>

        @if (dayHasError)
        {
            <p class="govuk-error-message" id="day-error">
                <span class="govuk-visually-hidden">Error:</span>
                @Html.ValidationMessageFor(m => m.Day)
            </p>
        }
        @if (monthHasError)
        {
            <p class="govuk-error-message" id="month-error">
                <span class="govuk-visually-hidden">Error:</span>
                @Html.ValidationMessageFor(m => m.Month)
            </p>
        }
        @if (yearHasError)
        {
            <p class="govuk-error-message" id="year-error">
                <span class="govuk-visually-hidden">Error:</span>
                @Html.ValidationMessageFor(m => m.Year)
            </p>
        }
        @if (dateStringHasError)
        {
            <p class="govuk-error-message" id="date-error">
                <span class="govuk-visually-hidden">Error:</span>
                @Html.ValidationMessageFor(m => m.DateString)
            </p>
        }
        <div class="govuk-date-input">
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="@nameof(Model.Day)">
                        Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 @(dayHasError || dateStringHasError ? "govuk-input--error" : "")"
                           id="@nameof(Model.Day)" name="@nameof(Model.Day)" type="text" inputmode="numeric" value="@Model.Day">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="@nameof(Model.Month)">
                        Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 @(monthHasError || dateStringHasError ? "govuk-input--error" : "")"
                           id="@nameof(Model.Month)" name="@nameof(Model.Month)" type="text" inputmode="numeric" value="@Model.Month">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="@nameof(Model.Year)">
                        Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4 @(yearHasError || dateStringHasError ? "govuk-input--error" : "")"
                           id="@nameof(Model.Year)" name="@nameof(Model.Year)" type="text" inputmode="numeric" value="@Model.Year">
                </div>
            </div>
        </div>
    }
}

<div class="govuk-form-group @((Model.IsRequired && hasDateError) || selectOptionHasError ? "govuk-form-group--error" : "")">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="@GetAriaDescribedBy()">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            @if (!string.IsNullOrWhiteSpace(Model.Heading))
            {
                <h1 class="govuk-fieldset__heading">@Model.Heading</h1>
            }
        </legend>

        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            @Html.Raw(Model.Description)
        }

        @if (selectOptionHasError)
        {
            <p class="govuk-error-message" id="has-value-error">
                <span class="govuk-visually-hidden">Error:</span>
                @Html.ValidationMessageFor(m => m.HasValue)
            </p>
        }

        @if (Model.IsRequired)
        {
            RenderField();
        }
        else
        {
            <div class="govuk-radios" data-module="govuk-radios">

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="@nameof(Model.HasValue)" name="@nameof(Model.HasValue)" type="radio"
                           value="true" data-aria-controls="conditional-YES" @(Model.HasValue == true ? "checked" : "")>
                    <label class="govuk-label govuk-radios__label" for="@nameof(Model.HasValue)">Yes</label>
                </div>

                <div class="govuk-radios__conditional" id="conditional-YES">
                    <div class="govuk-form-group @(hasDateError ? "govuk-form-group--error" : "")">
                        @{
                            RenderField();
                        }
                    </div>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="@nameof(Model.HasValue)-1" name="HasValue" type="radio"
                           value="false" @(Model.HasValue == false ? "checked" : "")>
                    <label class="govuk-label govuk-radios__label" for="@nameof(Model.HasValue)-1">No</label>
                </div>
            </div>
        }
    </fieldset>
</div>