@model FormElementSingleChoiceModel
@using CO.CDP.Localization

@{
    var hasError = Model.HasValidationError(nameof(Model.SelectedOption), ViewData.ModelState);
    string ariaDescribedby = "";

    if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        ariaDescribedby += Model.GetFieldName("SelectedOption-description");
    }

    if (hasError)
    {
        ariaDescribedby += " " + Model.GetFieldName("SelectedOption-error");
    }
}

<div class="govuk-form-group @(hasError ? "govuk-form-group--error" : "")">
    <fieldset class="govuk-fieldset" aria-describedby="@ariaDescribedby">
        @RenderLegend(Model.Heading, Model.Caption, Model.IsFirstQuestion, Model.Options?.Layout?.Heading?.Size)

        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <div id="@Model.GetFieldName("SelectedOption-description")">
                @Html.Raw(Model.Description)
            </div>
        }

        @if (hasError)
        {
            <p class="govuk-error-message" id="@Model.GetFieldName("SelectedOption-error")">
                <span class="govuk-visually-hidden">@StaticTextResource.Global_Error:</span>
                @Model.GetValidationMessage(nameof(Model.SelectedOption), ViewData.ModelState)
            </p>
        }

        <div class="govuk-radios" data-module="govuk-radios">
            @{
                var index = 0;
                if (Model.Options?.Choices != null ) {
                    foreach(var choice in Model.Options.Choices)
                    {
                        var id = index == 0 ? Model.GetFieldName(nameof(Model.SelectedOption)) : $"{Model.GetFieldName(nameof(Model.SelectedOption))}_{index}";

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="@id" name="@Model.GetFieldName(nameof(Model.SelectedOption))" type="radio" value="@choice.Key" @(Model.SelectedOption == choice.Key ? "checked" : "")>
                            <label class="govuk-label govuk-radios__label" for="@id">@choice.Value</label>
                        </div>

                        index++;
                    }
                }
            }
        </div>
    </fieldset>
</div>