@model FormElementYesNoInputModel
@using CO.CDP.Localization
@{
    var hasError = ((TagBuilder)Html.ValidationMessageFor(m => m.YesNoInput)).HasInnerHtml;
}

<div class="govuk-form-group @(hasError ? "govuk-form-group--error" : "")" @(hasError ? Html.Raw($"aria-describedby=\"{Model.GetFieldName("yes-no-error")}\"") : null)>
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            @if (!string.IsNullOrWhiteSpace(Model.Heading))
            {
                <h1 class="govuk-fieldset__heading">@Model.Heading</h1>
            }
        </legend>

        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            @Html.Raw(Model.Description)
        }

        @if (hasError)
        {
            <p class="govuk-error-message" id="@Model.GetFieldName("yes-no-error")">
                <span class="govuk-visually-hidden">@StaticTextResource.Global_Error:</span>
                @Html.ValidationMessageFor(m => m.YesNoInput)
            </p>
        }

        <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="@Model.GetFieldName(nameof(Model.YesNoInput))" name="@Model.GetFieldName(nameof(Model.YesNoInput))" type="radio" value="yes" @(Model.YesNoInput == "yes" ? "checked" : "")>
                <label class="govuk-label govuk-radios__label" for="@Model.GetFieldName(nameof(Model.YesNoInput))">@(Model.Options?.Layout?.CustomYesText ?? StaticTextResource.Global_Yes)</label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="@(Model.GetFieldName(nameof(Model.YesNoInput)) + "-1")" name="@Model.GetFieldName(nameof(Model.YesNoInput))" type="radio" value="no" @(Model.YesNoInput == "no" ? "checked" : "")>
                <label class="govuk-label govuk-radios__label" for="@(Model.GetFieldName(nameof(Model.YesNoInput)) + "-1")">@(Model.Options?.Layout?.CustomNoText ?? StaticTextResource.Global_No)</label>
            </div>
        </div>
    </fieldset>
</div>