@page "/organisation/{organisationId:guid}/forms/{formId:guid}/sections/{sectionId:guid}/{currentQuestionId:guid?}"
@model CO.CDP.OrganisationApp.Pages.Forms.DynamicFormsPageModel
@inject CO.CDP.OrganisationApp.IFormsEngine FormsEngine

@{
    var backUrl = $"/organisation/{Model.OrganisationId}/supplier-information";

    if (Model.PreviousQuestionId.HasValue)
    {
        backUrl = $"/organisation/{Model.OrganisationId}/forms/{Model.FormId}/sections/{Model.SectionId}/{Model.PreviousQuestionId}";
    }
}

<a href="@backUrl" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@ModelState" />

            <form method="post" enctype="@Model.EncType">

                <fieldset class="govuk-fieldset">
                    @if (Model.CurrentQuestion != null)
                    {
                        var (partialViewName, viewModel) = Model.GetPartialView(Model.CurrentQuestion.Type);
                        if (partialViewName != null && viewModel != null)
                        {
                            <input type="hidden" name="IsRequired" value="@viewModel.IsRequired.ToString().ToLower()" />
                            <input type="hidden" name="FormQuestionType" value="@viewModel.FormQuestionType" />

                            @await Html.PartialAsync(partialViewName, viewModel)
                        }
                        else
                        {
                            <p>Unsupported question type: @Model.CurrentQuestion.Type</p>
                        }
                    }
                </fieldset>

                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
</main>