@page "/organisation/{organisationId:guid}/forms/{formId:guid}/sections/{sectionId:guid}/check-further-questions-exempted"

@model FormsCheckFurtherQuestionsExemptedModel

@{
    var hasError = ((TagBuilder)Html.ValidationMessageFor(m => m.Confirm)).HasInnerHtml;
    ViewData["Title"] = Model.Heading;
}

<a href="/organisation/@Model.OrganisationId/supplier-information" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@Model.ModelState" />

            <form method="post">
                <div class="govuk-form-group @(hasError ? "govuk-form-group--error" : "")">
                    <fieldset class="govuk-fieldset" @(hasError ? Html.Raw(@"aria-describedby=""confirm-error""") : null)>
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">@Model.Heading</h1>
                        </legend>

                        @if (!string.IsNullOrEmpty(Model.Hint))
                        {
                            <div class="govuk-hint">@Model.Hint</div>
                        }

                        @if (hasError)
                        {
                            <p class="govuk-error-message" id="confirm-error">
                                <span class="govuk-visually-hidden">Error:</span> Select an option
                            </p>
                        }

                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="@nameof(Model.Confirm)" name="@nameof(Model.Confirm)" type="radio"
                                       value="true" @(Model.Confirm == true ? "checked" : "")>
                                <label class="govuk-label govuk-radios__label" for="@nameof(Model.Confirm)">Yes</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="@nameof(Model.Confirm)-1" name="@nameof(Model.Confirm)" type="radio"
                                       value="false" @(Model.Confirm == false ? "checked" : "")>
                                <label class="govuk-label govuk-radios__label" for="@nameof(Model.Confirm)-1">No</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <govuk-button class="govuk-!-margin-top-6">
                    Continue
                </govuk-button>
            </form>
        </div>
    </div>
</main>