@page "/organisation/{organisationId:guid}/forms/{formId:guid}/sections/{sectionId:guid}/questions/{currentQuestionId}"
@using CO.CDP.OrganisationApp.Constants
@model FormsQuestionPageModel

@{
    var isCheckYourAnswersPage = Model.CurrentFormQuestionType == Models.FormQuestionType.CheckYourAnswers;
    var backUrl = $"/organisation/{Model.OrganisationId}/supplier-information";
    var fromCheckAnswerPage = Model.RedirectFromCheckYourAnswerPage == true;

    if (Request.Query["UkOrNonUk"] == "non-uk")
    {
        backUrl = fromCheckAnswerPage ? "?frm-chk-answer" : "?";
    }
    else
    {
        if (fromCheckAnswerPage)
        {
            var checkYourAnswerQuestionId = Model.CheckYourAnswerQuestionId;
            backUrl = $"/organisation/{Model.OrganisationId}/forms/{Model.FormId}/sections/{Model.SectionId}/questions/{checkYourAnswerQuestionId}";
        }
        else if (Model.PreviousQuestion != null)
        {
            backUrl = $"/organisation/{Model.OrganisationId}/forms/{Model.FormId}/sections/{Model.SectionId}/questions/{Model.PreviousQuestion.Id}{(Model.PreviousQuestionHasNonUKAddressAnswer() ? "?UkOrNonUk=non-uk" : "")}";
        }
    }
}

<a href="@backUrl" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="@(isCheckYourAnswersPage ? "govuk-grid-column-full" : "govuk-grid-column-two-thirds")">
            <partial name="_ErrorSummary" model="@ModelState" />

            <form method="post" enctype="@Model.EncType">
                @if (Model.PartialViewName != null && Model.PartialViewModel != null)
                {
                    @await Html.PartialAsync(Model.PartialViewName, Model.PartialViewModel)
                }

                @if (isCheckYourAnswersPage)
                {
                    var answers = await Model.GetAnswers();

                    <h1 class="govuk-heading-l">Check your answers</h1>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        @foreach (var answer in answers)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    @answer.Title
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Html.Raw(answer.Answer)
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="@answer.ChangeLink">
                                        Change<span class="govuk-visually-hidden">
                                            @($"the {answer.Title?.ToLower()}")
                                        </span>
                                    </a>
                                </dd>
                            </div>
                        }
                    </dl>

                    if (Model.FormSectionType == Models.FormSectionType.Declaration)
                    {
                        <button type="submit" data-prevent-double-click="true" class="govuk-button">Confirm and get share code</button>
                    }
                    else
                    {
                        <button type="submit" data-prevent-double-click="true" class="govuk-button">Save</button>
                    }
                }
                else
                {
                    <button type="submit" data-prevent-double-click="true" class="govuk-button">Continue</button>
                }

            </form>
        </div>
    </div>
</main>