@page "/organisation/{organisationId:guid}/forms/{formId:guid}/sections/{sectionId:guid}/answers/{answerSetId:guid}/remove-confirmation"

@model FormsAnswerSetRemoveConfirmationModel

@{
    var hasError = ((TagBuilder)Html.ValidationMessageFor(m => m.ConfirmRemove)).HasInnerHtml;
    ViewData["Title"] = Model.Heading;
}

<a href="/organisation/@Model.OrganisationId/forms/@Model.FormId/sections/@Model.SectionId/summary" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@Model.ModelState" />

            <form method="post">
                <fieldset class="govuk-fieldset" @(hasError ? Html.Raw(@"aria-describedby=""confirm-error""") : null)>
                    <div class="govuk-form-group @(hasError ? "govuk-form-group--error" : "")">

                        @if (!string.IsNullOrWhiteSpace(@Model.Heading))
                        {
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">
                                    @if (!string.IsNullOrWhiteSpace(@Model.Caption))
                                    {
                                        <span class="govuk-caption-l">@Model.Caption</span>
                                    }
                                    @Model.Heading
                                </h1>
                            </legend>
                        }

                        @if (hasError)
                        {
                            <p class="govuk-error-message" id="confirm-error">
                                <span class="govuk-visually-hidden">Error:</span>
                                @Html.ValidationMessageFor(m => m.ConfirmRemove)
                            </p>
                        }

                        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="@nameof(Model.ConfirmRemove)" name="@nameof(Model.ConfirmRemove)" type="radio"
                                       value="true" @(Model.ConfirmRemove == true ? "checked" : "")>
                                <label class="govuk-label govuk-radios__label" for="@nameof(Model.ConfirmRemove)">Yes</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="@nameof(Model.ConfirmRemove)-1" name="@nameof(Model.ConfirmRemove)" type="radio"
                                       value="false" @(Model.ConfirmRemove == false ? "checked" : "")>
                                <label class="govuk-label govuk-radios__label" for="@nameof(Model.ConfirmRemove)-1">No</label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <govuk-button class="govuk-!-margin-top-6">Save and continue</govuk-button>
            </form>
        </div>
    </div>
</main>