@page "/organisation/{organisationId:guid}/forms/{formId:guid}/sections/{sectionId:guid}/check-further-questions-exempted"

@model FormsCheckFurtherQuestionsExemptedModel

@{
    var hasError = ((TagBuilder)Html.ValidationMessageFor(m => m.Confirm)).HasInnerHtml;
}

<a href="/organisation/@Model.OrganisationId/supplier-information" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@Model.ModelState" />

            <form method="post">
                <div class="govuk-form-group @(hasError ? "govuk-form-group--error" : "")">
                    <fieldset class="govuk-fieldset">
                        @if (!string.IsNullOrEmpty(Model.Heading))
                        {
                            @Html.Raw(Model.Heading)
                        }

                        <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="conditional-YES" name="Confirm" type="radio"
                                       value="true" @(Model.Confirm == true ? "checked" : "")>
                                <label class="govuk-label govuk-radios__label" for="conditional-YES">Yes</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="conditional-NO" name="Confirm" type="radio"
                                       value="false" @(Model.Confirm == false ? "checked" : "")>
                                <label class="govuk-label govuk-radios__label" for="conditional-NO">No</label>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <govuk-button class="govuk-!-margin-top-6">
                    Continue
                </govuk-button>
            </form>
        </div>
    </div>
</main>