@model CO.CDP.ApplicationRegistry.App.Models.EnableApplicationViewModel
@{
    ViewData["Title"] = "Enable application";
}

@section BeforeContent {
    <a href="/organisation/@Model.OrganisationSlug/applications" class="govuk-back-link">Back to applications</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl">Enable @Model.ApplicationName for your organisation</h1>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">About this application</h2>
            </div>
            <div class="govuk-summary-card__content">
                @if (!string.IsNullOrEmpty(Model.ApplicationDescription))
                {
                    <p class="govuk-body">@Model.ApplicationDescription</p>
                }
                
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    @if (!string.IsNullOrEmpty(Model.ApplicationCategory))
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Category</dt>
                            <dd class="govuk-summary-list__value">@Model.ApplicationCategory</dd>
                        </div>
                    }
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Available roles</dt>
                        <dd class="govuk-summary-list__value">@Model.AvailableRoles.Count</dd>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.SupportContact))
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Support</dt>
                            <dd class="govuk-summary-list__value">
                                <a href="mailto:@Model.SupportContact" class="govuk-link">@Model.SupportContact</a>
                            </dd>
                        </div>
                    }
                </dl>
            </div>
        </div>

        <h2 class="govuk-heading-l">Available roles</h2>
        <p class="govuk-body">When you enable this application, you will be able to assign these roles to users in your organisation:</p>

        @foreach (var role in Model.AvailableRoles)
        {
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h3 class="govuk-summary-card__title">@role.Name</h3>
                </div>
                <div class="govuk-summary-card__content">
                    @if (!string.IsNullOrEmpty(role.Description))
                    {
                        <p class="govuk-body">@role.Description</p>
                    }
                    @if (role.Permissions.Count > 0)
                    {
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">View permissions</span>
                            </summary>
                            <div class="govuk-details__text">
                                <ul class="govuk-list govuk-list--bullet">
                                    @foreach (var permission in role.Permissions)
                                    {
                                        <li>@permission</li>
                                    }
                                </ul>
                            </div>
                        </details>
                    }
                </div>
            </div>
        }

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Once enabled, organisation administrators will be able to assign users to this application.
            </strong>
        </div>

        <form method="post">
            @Html.AntiForgeryToken()
            <div class="govuk-form-group @(ViewData.ModelState.ContainsKey("confirm") && !ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">Confirm you want to enable this application</h2>
                    </legend>
                    @if (ViewData.ModelState.ContainsKey("confirm") && !ViewData.ModelState.IsValid)
                    {
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState["confirm"]?.Errors.FirstOrDefault()?.ErrorMessage
                        </p>
                    }
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="confirm" name="confirm" type="checkbox" value="true">
                            <label class="govuk-label govuk-checkboxes__label" for="confirm">
                                I confirm I want to enable @Model.ApplicationName for @Model.OrganisationName
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">Enable application</button>
                <a class="govuk-link" href="/organisation/@Model.OrganisationSlug/applications">Cancel</a>
            </div>
        </form>

    </div>
</div>
