@page "/organisation/{id}"
@using CO.CDP.OrganisationApp.Constants
@using CO.CDP.OrganisationApp.WebApiClients
@model OrganisationOverviewModel

@{
    var organisationDetails = Model.OrganisationDetails!;
    var registeredAddress = organisationDetails.Addresses.FirstOrDefault(a => a.Type == Organisation.WebApiClient.AddressType.Registered);
    var pponIndentifier = organisationDetails.AdditionalIdentifiers.Prepend(organisationDetails.Identifier).FirstOrDefault(i => i.Scheme == "CDP-PPON");
    var otherIdentifier = organisationDetails.AdditionalIdentifiers.Prepend(organisationDetails.Identifier).FirstOrDefault(i => i.Scheme == "Other");
    var identifierToShow = (pponIndentifier != null && otherIdentifier != null) ? pponIndentifier : @organisationDetails.Identifier;
}

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <fieldset class="govuk-fieldset">
                <h1 class="govuk-heading-l">
                    <span class="govuk-label--l">@organisationDetails.Name</span>
                </h1>
                <h2 class="govuk-heading-m">Organisation details</h2>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@organisationDetails.Name</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation identifier
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">
                                @identifierToShow.Scheme.SchemeDescription()
                            </p>
                            <p class="govuk-body">
                                @identifierToShow.Id
                             </p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@organisationDetails.ContactPoint.Email</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
                        </dd>
                    </div>

                    @if (registeredAddress != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">@registeredAddress.StreetAddress</p>
                                <p class="govuk-body">@registeredAddress.Locality</p>
                                @if (!string.IsNullOrWhiteSpace(registeredAddress.Region))
                                {
                                    <p class="govuk-body">@registeredAddress.Region</p>
                                }
                                <p class="govuk-body">@registeredAddress.PostalCode</p>
                                <p class="govuk-body">@registeredAddress.CountryName</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
                            </dd>
                        </div>
                    }

                </dl>

                @if (organisationDetails.IsTenderer())
                {
                    <h3 class="govuk-!-margin-top-3">
                        <a class="govuk-link" href="/organisation/@RouteData.Values["id"]/supplier-information">Supplier information</a>
                    </h3>
                }

                <h3 class="govuk-!-margin-top-3">
                    <a class="govuk-link" href="#">Users</a>
                </h3>

                <div class="govuk-!-margin-top-6">
                    <a href="/organisation-selection" class="govuk-link govuk-link--no-visited-state">Back to all organisations</a>
                </div>
            </fieldset>
        </div>
    </div>
</main>