@page "/provide-feedback-and-contact"
@model ProvideFeedbackAndContact
@{
    if (Model.Context == "FEEDBACK")
    { ViewData["Title"] = "Provide Find a Tender Feedback"; }
    else if (Model.Context == "SUPPORT")
    { ViewData["Title"] = "Contact Find a Tender"; }
}

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@ModelState" />
            @if (Model.Context == "FEEDBACK")
            {
                <h1 class="govuk-heading-xl">
                    Provide Find a Tender feedback
                </h1>
            }
            else if (Model.Context == "SUPPORT")
            {
                <h1 class="govuk-heading-xl">
                    Contact Find a Tender
                </h1>
            }

            <form method="post">
                @if (Model.Context == "FEEDBACK")
                {
                    <p class="govuk-body">This form is to provide feedback on the Find a Tender Website.</p>
                    <p class="govuk-body">You can use it to suggest feedback, an improvement or suggestion to the Find a Tender team.</p>
                }
                else if (Model.Context == "SUPPORT")
                {
                    <p class="govuk-body">This form is to raise issues or support requests related to Find a Tender website.</p>
                    <p class="govuk-body">You can ask a question, report a problem or suggest an improvement to the Find a Tender team.</p>
                }

                <div class="govuk-form-group govuk-!-margin-bottom-6">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <span class="govuk-fieldset__heading">What's it to do with?</span>
                        </legend>

                        <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-module-started="true">
                            <div class="govuk-radios__item">
                                <input type="radio" name="@nameof(Model.FeedbackOrContactOption)" id="@nameof(Model.FeedbackOrContactOption)" value="WholeSite" class="govuk-radios__input" @(Model.FeedbackOrContactOption == "WholeSite" ? "checked" : "")>
                                <label for="location-0" class="govuk-label govuk-radios__label">The whole site</label>
                            </div>

                            <div class="govuk-radios__item">
                                <input type="radio" name="@nameof(Model.FeedbackOrContactOption)" id="@nameof(Model.FeedbackOrContactOption)-1" value="SpecificPage" class="govuk-radios__input" @(Model.FeedbackOrContactOption == "SpecificPage" ? "checked" : "") aria-controls="conditional-SpecificPage" aria-expanded="true">
                                <label for="location-1" class="govuk-label govuk-radios__label">A specific page</label>
                            </div>

                            <div class="govuk-radios__conditional govuk-body govuk-radios__conditional--hidden" id="conditional-SpecificPage">
                                <div class="govuk-form-group">
                                    <label for="link" class="govuk-label">Enter URL or name of page</label>
                                    <input class="govuk-input" data-ga4-form-include-input="" id="@nameof(Model.UrlOfPage)" name="@nameof(Model.UrlOfPage)" spellcheck="false" type="text" value="@Model.UrlOfPage">
                                </div>
                            </div>                         

                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="10000">
                    <h1 class="govuk-label-wrapper">
                          @if (Model.Context == "FEEDBACK")
                        {
                            <label class="govuk-label govuk-label--l" for="@nameof(Model.Details)">
                                What is your Feedback
                            </label>
                        }
                        else if (Model.Context == "SUPPORT")
                        {
                            <label class="govuk-label govuk-label--l" for="@nameof(Model.Details)">
                                What are the details?
                            </label>
                        }
                    </h1>
                    <div id="@nameof(Model.Details)-hint" class="govuk-hint">
                        Do not include personal or financial information like your National Insurance number or credit card details
                    </div>
                    <textarea class="govuk-textarea govuk-js-character-count" id="@nameof(Model.Details)" name="@nameof(Model.Details)" rows="5">@Model.Details</textarea>
                    <div id="@nameof(Model.Details)-info" class="govuk-hint govuk-character-count__message">
                        You can enter up to 10000 characters
                    </div>
                </div>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">If you want a reply (optional)</legend>

                        <p class="govuk-body">If you'd like us to get back to you, please leave your details below.</p>

                        <div class="govuk-form-group">
                            <label for="@nameof(Model.Name)" class="govuk-label">Your name</label>

                            <input autocomplete="@nameof(Model.Name)" class="govuk-input" id="@nameof(Model.Name)" name="@nameof(Model.Name)" spellcheck="false" type="text" value="@(Model.Name)">
                        </div>

                        <div class="govuk-form-group">

                            <label for="@nameof(Model.Email)" class="govuk-label">Your email address</label>

                            <div class="govuk-hint" id="email-hint">
                                We'll only use this to reply to your message.
                            </div>

                            <input aria-describedby="email-hint" autocomplete="email" class="govuk-input" id="@nameof(Model.Email)" name="@nameof(Model.Email)" spellcheck="false" type="email" value="@(Model.Email)">
                        </div>

                    </fieldset>
                </div>

                <button class="govuk-button" type="submit">Send message</button>
            </form>
        </div>
    </div>

</main>