@page "/provide-feedback-and-contact"
@model ProvideFeedbackAndContact
@{
    ViewData["Title"] = "Provide Find a Tender Feedback";
}

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@ModelState" />
            <h1 class="govuk-heading-xl">
                Provide Find a Tender feedback
            </h1>

            <form method="post">
                <p class="govuk-body">This form is to provide feedback on the Find a Tender Website.</p>
                <p class="govuk-body">You can use it to suggest feedback, an improvement or suggestion to the Find a Tender team.</p>

                <div class="govuk-form-group govuk-!-margin-bottom-6">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <span class="govuk-fieldset__heading">What's it to do with?</span>
                        </legend>

                        <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-module-started="true">
                            <div class="gem-c-radio govuk-radios__item">
                                <input type="radio" name="FeedbackOption" id="WholeSite" value="WholeSite" class="govuk-radios__input" @(Model.FeedbackOption == "WholeSite" ? "checked" : "")>
                                <label for="location-0" class="gem-c-label govuk-label govuk-radios__label">The whole site</label>
                            </div>

                            <div class="gem-c-radio govuk-radios__item">
                                <input type="radio" name="FeedbackOption" id="SpecificPage" value="SpecificPage" class="govuk-radios__input" @(Model.FeedbackOption == "SpecificPage" ? "checked" : "") aria-controls="conditional-713d30a1" aria-expanded="true">
                                <label for="location-1" class="gem-c-label govuk-label govuk-radios__label">A specific page</label>

                            </div>
                            <div class="govuk-radios__conditional govuk-body">
                                <div class="govuk-form-group">
                                    <label for="link" class="gem-c-label govuk-label">Enter URL or name of page</label>
                                    <input class="gem-c-input govuk-input" data-ga4-form-include-input="" id="UrlOfPage" name="UrlOfPage" spellcheck="false" type="text" value="@Model.UrlOfPage">
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="10000">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="with-hint">
                            Can you provide more detail?
                        </label>
                    </h1>
                    <div id="with-hint-hint" class="govuk-hint">
                        Do not include personal or financial information like your National Insurance number or credit card details
                    </div>
                    <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="feedback" rows="5" aria-describedby="with-hint-info with-hint-hint">@Model.Feedback</textarea>
                    <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                        You can enter up to 10000 characters
                    </div>
                </div>

                <div class="gem-c-fieldset govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">If you want a reply (optional)</legend>

                        <p class="govuk-body">If you'd like us to get back to you, please leave your details below.</p>

                        <div class="govuk-form-group">
                            <label for="name" class="gem-c-label govuk-label">Your name</label>

                            <input autocomplete="name" class="gem-c-input govuk-input" id="@nameof(Model.Name)" name="@nameof(Model.Name)" spellcheck="false" type="text" value="@(Model.Name)">
                        </div>

                        <div class="govuk-form-group">

                            <label for="email" class="gem-c-label govuk-label">Your email address</label>

                            <div class="gem-c-hint govuk-hint">
                                We'll only use this to reply to your message.
                            </div>

                            <input aria-describedby="hint-a28138ec" autocomplete="email" class="gem-c-input govuk-input" id="@nameof(Model.Email)" name="@nameof(Model.Email)" spellcheck="false" type="email" value="@(Model.Email)">
                        </div>

                    </fieldset>
                </div>

                <button class="gem-c-button govuk-button gem-c-button--bottom-margin" type="submit">Send message</button>
            </form>
        </div>
    </div>

</main>