@page
@attribute [RazorCompiledItemMetadata("RouteTemplate", RegistrationStepModel.BuyerSelectDevolvedRegulationPage)]
@model BuyerSelectDevolvedRegulationModel
@using CO.CDP.OrganisationApp.Constants
@using CO.CDP.Localization

@{
    ViewData["Title"] = @StaticTextResource.OrganisationRegistration_BuyerSelectDevolvedRegulation_Heading;
    var regulationsHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.Regulations)).HasInnerHtml;

    var backLink = RegistrationStepModel.BuyerDevolvedRegulationPage;
    if (Request.Query.ContainsKey("frm-summary"))
    {
        backLink = RegistrationStepModel.OrganisationSummaryPage;
        Model.RedirectToSummary = true;
    }

    string IsSelected(DevolvedRegulation regulationValue)
    {
        return Model.Regulations.Contains(regulationValue) ? "checked='checked'" : string.Empty;
    }
}

@section BeforeContent {
    <a href="@backLink" class="govuk-back-link">
        @StaticTextResource.Global_Back
    </a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-body">
        <partial name="_ErrorSummary" model="@ModelState" />
        <form method="post">
            <div class="govuk-form-group @(regulationsHasError ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            @ViewData["Title"]
                        </h1>
                    </legend>
                    <div id="waste-hint" class="govuk-body">                        
                        @Html.Raw(@StaticTextResource.OrganisationRegistration_BuyerSelectDevolvedRegulation_Hint)
                    </div>
                    @if (regulationsHasError)
                    {
                        <p id="devolved-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">@StaticTextResource.Global_Error:</span> @Html.ValidationMessageFor(m => m.Regulations)
                        </p>
                    }

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radni" name="Regulations" type="radio" value="@DevolvedRegulation.NorthernIreland" @IsSelected(DevolvedRegulation.NorthernIreland)>
                            <label class="govuk-label govuk-radios__label" for="radni">
                                @StaticTextResource.OrganisationRegistration_BuyerSelectDevolvedRegulation_NI_Label
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radscotland" name="Regulations" type="radio" value="@DevolvedRegulation.Scotland" @IsSelected(DevolvedRegulation.Scotland)>
                            <label class="govuk-label govuk-radios__label" for="radscotland">
                                @StaticTextResource.OrganisationRegistration_BuyerSelectDevolvedRegulation_Scotland_Label
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radwales" name="Regulations" type="radio" value="@DevolvedRegulation.Wales" @IsSelected(DevolvedRegulation.Wales)>
                            <label class="govuk-label govuk-radios__label" for="radwales">
                                @StaticTextResource.OrganisationRegistration_BuyerSelectDevolvedRegulation_Wales_Label
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <govuk-button>
                @StaticTextResource.Global_Continue
            </govuk-button>
        </form>
    </div>
</div>
