@page
@attribute [RazorCompiledItemMetadata("RouteTemplate", RegistrationStepModel.OrganisationHasCompanyHouseNumberPage)]
@model CO.CDP.OrganisationApp.Pages.Registration.CompanyHouseNumberQuestionModel

@{
    var companiesHouseNumberHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.HasCompaniesHouseNumber)).HasInnerHtml
        || ((TagBuilder)Html.ValidationMessageFor(m => m.CompaniesHouseNumber)).HasInnerHtml;

    var backLink = "/registration/organisation-type";
    if (Request.Query.ContainsKey("frm-summary"))
    {
        backLink = "/registration/organisation-details-summary";
        Model.RedirectToSummary = true;
    }
}
<a href="@backLink" class="govuk-back-link">
    Back
</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@Model.ModelState" />

            <h1 class="govuk-heading-l">Does your organisation have a Companies House number?</h1>
            <form method="post">
                @if (Request.Query.ContainsKey("frm-summary"))
                {
                    <input type="hidden" name="RedirectToSummary" value="true" />
                }

                <input type="hidden" id="FailedCompaniesHouseNumber" name="FailedCompaniesHouseNumber" value="@(Model.FailedCompaniesHouseNumber)" />

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-radios" data-module="govuk-radios">

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="YES" name="HasCompaniesHouseNumber" type="radio"
                                       value="true" data-aria-controls="conditional-YES" @(Model.HasCompaniesHouseNumber == true ? "checked" : "")>
                                <label class="govuk-label govuk-radios__label" for="YES">Yes</label>
                            </div>

                            <div class="govuk-radios__conditional" id="conditional-YES">
                                <div class="govuk-form-group @(companiesHouseNumberHasError ? "govuk-form-group--error" : "")">
                                    <label class="govuk-label" for="CompaniesHouseNumber">Company House Number</label>
                                    <input class="govuk-input govuk-!-width-one-half @(companiesHouseNumberHasError ? "govuk-input--error" : "")"
                                           id="CompaniesHouseNumber" name="CompaniesHouseNumber" type="text" spellcheck="false" autocomplete="off"
                                           value="@(Model.HasCompaniesHouseNumber == true ? Model.CompaniesHouseNumber : "")">
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="NO" name="HasCompaniesHouseNumber" type="radio"
                                       value="false" data-aria-controls="conditional-NO" @(Model.HasCompaniesHouseNumber == false ? "checked" : "")>
                                <label class="govuk-label govuk-radios__label" for="NO">No</label>
                                <div class="govuk-radios__conditional--hidden" id="conditional-NO"></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <govuk-button>Continue</govuk-button>
            </form>
        </div>
    </div>
</main>