@page "/registration/{identifier}/join-organisation"
@model JoinOrganisationModel

@{
    var organisationDetails = Model.OrganisationDetails!;
    var userDetails = Model.UserDetails;
    var joinHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.Join)).HasInnerHtml;
    ViewData["Title"] = $"Join company: {@organisationDetails.Name}";
}

<a href="/registration/has-companies-house-number" class="govuk-back-link">
    Back
</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@Model.ModelState" />
            <fieldset class="govuk-fieldset">
                <h1 class="govuk-heading-l">
                    <span class="govuk-label--l">@ViewData["Title"]</span>
                </h1>
                <h2 class="govuk-heading-m">Organisation details</h2>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@organisationDetails.Name</p>
                        </dd>
                    </div>
                </dl>
                <br/>
                <h2 class="govuk-heading-m">User details</h2>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Firstname
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@userDetails.FirstName</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Lastname
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@userDetails.LastName</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@userDetails.Email</p>
                        </dd>
                    </div>
                </dl>
            </fieldset>
        </div>
    </div>
    <br/>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post">
                <fieldset class="govuk-fieldset" @(joinHasError ? Html.Raw(@"aria-describedby=""approval-error""") : null)>
                    <legend class="govuk-form-group @(joinHasError ? "govuk-form-group--error" : "")">
                        <h2 class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          Would you like to join @organisationDetails.Name?
                        </h2>
                        @if (joinHasError)
                        {
                            <p id="approval-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                @Html.ValidationMessageFor(m => m.Join)
                            </p>
                        }
                        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="@nameof(Model.Join)" name="@nameof(Model.Join)" type="radio"
                                       value="true">
                                <label class="govuk-label govuk-radios__label" for="@nameof(Model.Join)">Yes</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="@nameof(Model.Join)-no" name="@nameof(Model.Join)" type="radio"
                                       value="false">
                                <label class="govuk-label govuk-radios__label" for="@nameof(Model.Join)-no">No</label>
                            </div>
                        </div>
                    </legend>
                </fieldset>
                <govuk-button>
                    Continue
                </govuk-button>
            </form>
        </div>
    </div>
</main>