@page
@attribute [RazorCompiledItemMetadata("RouteTemplate", RegistrationStepModel.OrganisationInternationalIdentificationCountryPage)]
@model CO.CDP.OrganisationApp.Pages.Registration.OrganisationInternationalIdentificationCountryModel
@using CO.CDP.Localization

@{
    ViewData["Title"] = @StaticTextResource.OrganisationRegistration_InternationalCountry_Heading;

    var countryHasError = ModelState[nameof(Model.Country)]?.Errors?.Any() ?? false;
    var backLink = $"{RegistrationStepModel.OrganisationIdentifierPage}{(Request.Query.ContainsKey("frm-summary") ? "?frm-summary" : "")}";
}

@section BeforeContent {
    @if (backLink != null)
    {
        <a href="@backLink" class="govuk-back-link">@StaticTextResource.Global_Back</a>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="@Model.ModelState" />
        <form method="post">
            @if (Request.Query.ContainsKey("frm-summary"))
            {
                <input type="hidden" name="RedirectToSummary" value="true" />
            }
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            @ViewData["Title"]
                        </h1>
                    </legend>
                    <div class="govuk-form-group @(countryHasError ? "govuk-form-group--error" : "")">
                        @if (countryHasError)
                        {
                            <p id="country-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                @ModelState[nameof(Model.Country)]!.Errors[0].ErrorMessage
                            </p>
                        }
                        <select asp-for="Country" class="govuk-select @(countryHasError ? "govuk-select--error" : "")" aria-describedby="country-error">
                            <option value="">Please select</option>
                            @foreach (var cnt in Constants.Country.NonUKCountries)
                            {
                                <option value="@cnt.Key">@cnt.Value</option>
                            }
                        </select>
                    </div>
                </fieldset>
            </div>
            <govuk-button>
                @StaticTextResource.Global_Continue
            </govuk-button>

        </form>
    </div>
</div>
