@page
@attribute [RazorCompiledItemMetadata("RouteTemplate", RegistrationStepModel.OrganisationTypePage)]
@model OrganisationTypeModel
@using CO.CDP.Organisation.WebApiClient
@using CO.CDP.OrganisationApp.Constants
@using CO.CDP.Localization

@{
    ViewData["Title"] = @StaticTextResource.OrganisationRegistration_OrganisationType_Heading;
    var organisationTypeHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.OrganisationType)).HasInnerHtml;

    var backLink = "/organisation-selection";
    if (Request.Query.ContainsKey("frm-summary"))
    {
        backLink = RegistrationStepModel.OrganisationSummaryPage;
        Model.RedirectToSummary = true;
    }

    string IsSelected(Constants.OrganisationType radioValue)
    {
        return Model.OrganisationType == radioValue ? "checked='checked'" : string.Empty;
    }
}

@section BeforeContent {
    <a href="@backLink" class="govuk-back-link">
        @StaticTextResource.Global_Back
    </a>
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@ModelState" />
            <form method="post">
                @if (Request.Query.ContainsKey("frm-summary"))
                {
                    <input type="hidden" name="RedirectToSummary" value="true" />
                }
                <div class="govuk-form-group @(organisationTypeHasError ? "govuk-form-group--error" : "")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                @ViewData["Title"]
                            </h1>
                        </legend>

                        @if (organisationTypeHasError)
                        {
                            <p id="organisationType-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">@StaticTextResource.Global_Error:</span> @Html.ValidationMessageFor(m => m.OrganisationType)
                            </p>
                        }

                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="buyer" name="OrganisationType"
                                   type="radio" value="@Constants.OrganisationType.Buyer"
                                   aria-describedby="buyer-hint" @IsSelected(Constants.OrganisationType.Buyer)>
                                <label class="govuk-label govuk-radios__label" for="buyer">
                                    @StaticTextResource.OrganisationRegistration_OrganisationType_Buyer
                                </label>
                                <div id="buyer-hint" class="govuk-hint govuk-radios__hint">
                                    @StaticTextResource.OrganisationRegistration_OrganisationType_Buyer_Hint
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="supplier" name="OrganisationType"
                                   type="radio" value="@Constants.OrganisationType.Supplier"
                                   aria-describedby="supplier-hint" @IsSelected(Constants.OrganisationType.Supplier)>
                                <label class="govuk-label govuk-radios__label" for="supplier">
                                    @StaticTextResource.OrganisationRegistration_OrganisationType_Supplier
                                </label>
                                <div id="supplier-hint" class="govuk-hint govuk-radios__hint">
                                    @StaticTextResource.OrganisationRegistration_OrganisationType_Supplier_Hint
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <govuk-button>
                    @StaticTextResource.Global_Continue
                </govuk-button>
            </form>
        </div>
    </div>
