@page "/registration/organisation-overview"
@using CO.CDP.OrganisationApp.Constants
@model CO.CDP.OrganisationApp.Pages.Registration.OrganisationOverviewModel

@{
    var organisationDetails = Model.OrganisationDetails!;
    var registeredAddress = organisationDetails.Addresses.FirstOrDefault(a => a.Type == CDP.Organisation.WebApiClient.AddressType.Registered);
}

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <fieldset class="govuk-fieldset">
                <h1 class="govuk-heading-l">
                    <span class="govuk-label--l">@organisationDetails.Name</span>
                </h1>
                <h2 class="govuk-heading-m">Organisation details</h2>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@organisationDetails.Name</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation identifier
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">
                                @organisationDetails.Identifier.Scheme.SchemeDescription()
                            </p>
                            <p class="govuk-body">@organisationDetails.Identifier.Id</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@organisationDetails.ContactPoint.Email</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
                        </dd>
                    </div>

                    @if (registeredAddress != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">@registeredAddress.StreetAddress</p>
                                @if (!string.IsNullOrWhiteSpace(registeredAddress.StreetAddress2))
                                {
                                    <p class="govuk-body">@registeredAddress.StreetAddress2</p>
                                }
                                <p class="govuk-body">@registeredAddress.Locality</p>
                                @if (!string.IsNullOrWhiteSpace(registeredAddress.Region))
                                {
                                    <p class="govuk-body">@registeredAddress.Region</p>
                                }
                                <p class="govuk-body">@registeredAddress.PostalCode</p>
                                <p class="govuk-body">@registeredAddress.CountryName</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
                            </dd>
                        </div>
                    }
                </dl>
                <h2 class="govuk-heading-m govuk-!-margin-top-9">Supplier information</h2>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <a class="govuk-link govuk-link--no-visited-state" href="/organisation/supplier-type?id=@organisationDetails.Id">Basic information</a>
                        </dt>
                        <dd class="govuk-summary-list__value">

                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <strong class="govuk-tag">In progress</strong>
                        </dd>
                    </div>
                </dl>

                <h2 class="govuk-heading-m govuk-!-margin-top-9">Organisation users</h2>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <a href="#">Add users</a>
                        </dt>
                        <dd class="govuk-summary-list__value">

                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <strong class="govuk-tag govuk-tag--blue">
                                Incomplete
                            </strong>
                        </dd>
                    </div>
                </dl>
                <a href="organisation-selection" class="govuk-link govuk-link--no-visited-state">Back to all organisations</a>
            </fieldset>
        </div>
    </div>
</main>