@page "/registration/organisation-details"
@model CO.CDP.OrganisationApp.Pages.Registration.OrganisationDetailModel

<a href="/registration/your-details" class="govuk-back-link">
    Back
</a>
@{
    var organisationNameHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.OrganisationName)).HasInnerHtml;    
    var emailAddressHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.EmailAddress)).HasInnerHtml;
}

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@ModelState" />

            <h1 class="govuk-heading-xl">Supplier Registration</h1>

            <form method="post">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Enter your organisation details
                            </h1>
                        </legend>
                        <div class="govuk-form-group @(organisationNameHasError ? "govuk-form-group--error" : "")">
                            <label class="govuk-label" for="@nameof(Model.OrganisationName)">
                                @Html.DisplayNameFor(m => m.OrganisationName)
                            </label>
                            @if (organisationNameHasError)
                            {
                                <p id="organisation-name-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    @Html.ValidationMessageFor(m => m.OrganisationName)
                                </p>
                            }
                            <input class="govuk-input @(organisationNameHasError ? "govuk-input--error" : "")" id="@nameof(Model.OrganisationName)"
                                   value="@Model.OrganisationName" name="@nameof(Model.OrganisationName)" type="text"
                                   spellcheck="false" @(organisationNameHasError ? "aria-describedby=organisation-name-error" : "")>
                        </div>                        

                        <div class="govuk-form-group @(emailAddressHasError ? "govuk-form-group--error" : "")">
                            <label class="govuk-label" for="@nameof(Model.EmailAddress)">
                                @Html.DisplayNameFor(m => m.EmailAddress)
                            </label>
                            @if (emailAddressHasError)
                            {
                                <p id="email-address-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    @Html.ValidationMessageFor(m => m.EmailAddress)
                                </p>
                            }
                            <input class="govuk-input @(emailAddressHasError ? "govuk-input--error" : "")" id="@nameof(Model.EmailAddress)"
                                   value="@Model.EmailAddress" type="text" name="@nameof(Model.EmailAddress)"
                                   spellcheck="false" autocomplete="email" @(emailAddressHasError ? "aria-describedby=email-address-error" : "")>
                        </div>
                    </fieldset>
                </div>
                
                <button type="submit"
                        class="govuk-button"
                        data-module="govuk-button">
                    Continue
                </button>
                
            </form>
        </div>
    </div>
</main>