@page
@attribute [RazorCompiledItemMetadata("RouteTemplate", RegistrationStepModel.OrganisationTypePage)]
@model OrganisationTypeModel
@using CO.CDP.Organisation.WebApiClient
@using CO.CDP.OrganisationApp.Constants

@{
    var organisationTypeHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.OrganisationType)).HasInnerHtml;

    var backLink = "/organisation-selection";
    if (Request.Query.ContainsKey("frm-summary"))
    {
        backLink = RegistrationStepModel.OrganisationSummaryPage;
        Model.RedirectToSummary = true;
    }

    string IsSelected(OrganisationType radioValue)
    {
        return Model.OrganisationType == radioValue ? "checked='checked'" : string.Empty;
    }
}

<a href="@backLink" class="govuk-back-link">
    Back
</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@ModelState" />
            <form method="post">
                @if (Request.Query.ContainsKey("frm-summary"))
                {
                    <input type="hidden" name="RedirectToSummary" value="true" />
                }
                <div class="govuk-form-group @(organisationTypeHasError ? "govuk-form-group--error" : "")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                What do you want to register your organisation as?
                            </h1>
                        </legend>

                        @if (organisationTypeHasError)
                        {
                            <p id="organisationType-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> @Html.ValidationMessageFor(m => m.OrganisationType)
                            </p>
                        }

                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="buyer" name="OrganisationType"
                                       type="radio" value="@OrganisationType.Buyer"
                                       aria-describedby="buyer-hint" @IsSelected(OrganisationType.Buyer)>
                                <label class="govuk-label govuk-radios__label" for="buyer">
                                    A buyer
                                </label>
                                <div id="buyer-hint" class="govuk-hint govuk-radios__hint">
                                    You are involved with managing, paying for, or procuring contracts for goods, works, or services.
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="supplier" name="OrganisationType"
                                       type="radio" value="@OrganisationType.Supplier"
                                       aria-describedby="supplier-hint" @IsSelected(OrganisationType.Supplier)>
                                <label class="govuk-label govuk-radios__label" for="supplier">
                                    A supplier
                                </label>
                                <div id="supplier-hint" class="govuk-hint govuk-radios__hint">
                                    You look at contracts to supply, have enquired about supplying, have submitted tenders, or have been paid to supply goods, works, or services.
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <a href="/registration/organisation-details">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </a>
            </form>
        </div>
    </div>
</main>