@page "/registration/organisation-identification"
@model CO.CDP.OrganisationApp.Pages.Registration.OrganisationIdentificationModel

@{
    var companiesHouseNumberHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.CompaniesHouseNumber)).HasInnerHtml;    
    var charityCommissionEnglandWalesNumberHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.CharityCommissionEnglandWalesNumber)).HasInnerHtml;
    var scottishCharityRegulatorNumberHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.ScottishCharityRegulatorNumber)).HasInnerHtml;
    var charityCommissionNorthernIrelandNumberHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.CharityCommissionNorthernIrelandNumber)).HasInnerHtml;

    var mutualsPublicRegisterNumberHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.MutualsPublicRegisterNumber)).HasInnerHtml;
    var guernseyRegistryNumberHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.GuernseyRegistryNumber)).HasInnerHtml;
    var jerseyFinancialServicesCommissionRegistryNumberHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.JerseyFinancialServicesCommissionRegistryNumber)).HasInnerHtml;
    var isleofManCompaniesRegistryNumberHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.IsleofManCompaniesRegistryNumber)).HasInnerHtml;

    var ukLearningProviderReferenceNumberHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.UKLearningProviderReferenceNumber)).HasInnerHtml;
    var vatNumberHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.VATNumber)).HasInnerHtml;
    
    var nationalHealthServiceOrganisationsRegistryNumberHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.NationalHealthServiceOrganisationsRegistryNumber)).HasInnerHtml;

    var backLink = "/registration/has-companies-house-number";
    if (Request.Query.ContainsKey("frm-summary"))
    {
        backLink = "/registration/organisation-details-summary";
        Model.RedirectToSummary = true;
    }
}

<a href="@backLink" class="govuk-back-link">
    Back
</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@Model.ModelState" />
            <h1 class="govuk-heading-l">Organisation Identification</h1>
            <form method="post">
                @if (Request.Query.ContainsKey("frm-summary"))
                {
                    <input type="hidden" name="RedirectToSummary" value="true" />
                }
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            Organisation Type
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="CHN" name="OrganisationScheme" type="radio" value="CHN" data-aria-controls="conditional-CHN" @(Model.OrganisationScheme == "CHN" ? "checked" : "")>
                                @Html.LabelFor(m => m.CompaniesHouse, new { @class = "govuk-label govuk-radios__label", @for = "CHN" })
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-CHN">
                                <div class="govuk-form-group @(companiesHouseNumberHasError ? "govuk-form-group--error" : "")">
                                    @Html.LabelFor(m => m.CompaniesHouseNumber, new { @class = "govuk-label", @for = Model.CompaniesHouseNumber })
                                    @Html.ValidationMessageFor(m => m.CompaniesHouseNumber, "", new { @class = "govuk-error-message", @id = "CompaniesHouseNumber-error" })
                                    @Html.TextBoxFor(m => m.CompaniesHouseNumber, new { @class = "govuk-input " + (companiesHouseNumberHasError ? "govuk-input--error" : ""), @id = "CompaniesHouseNumber", @type = "text", spellcheck = "false", autocomplete = "off" })
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="CCEW" name="OrganisationScheme" type="radio" value="CCEW" data-aria-controls="conditional-CCEW" @(Model.OrganisationScheme == "CCEW" ? "checked" : "")>
                                @Html.LabelFor(m => m.CharityCommissionEnglandWales, new { @class = "govuk-label govuk-radios__label", @for = "CCEW" })
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-CCEW">
                                <div class="govuk-form-group @(charityCommissionEnglandWalesNumberHasError ? "govuk-form-group--error" : "")">
                                    @Html.LabelFor(m => m.CharityCommissionEnglandWalesNumber, new { @class = "govuk-label", @for = Model.CharityCommissionEnglandWalesNumber })
                                    @Html.ValidationMessageFor(m => m.CharityCommissionEnglandWalesNumber, "", new { @class = "govuk-error-message", @id = "CharityCommissionEnglandWalesNumber-error" })
                                    @Html.TextBoxFor(m => m.CharityCommissionEnglandWalesNumber, new { @class = "govuk-input " + (charityCommissionEnglandWalesNumberHasError ? "govuk-input--error" : ""), @id = "CharityCommissionEnglandWalesNumber", @type = "text", spellcheck = "false", autocomplete = "off" })
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="SCR" name="OrganisationScheme" type="radio" value="SCR" data-aria-controls="conditional-SCR" @(Model.OrganisationScheme == "SCR" ? "checked" : "")>
                                @Html.LabelFor(m => m.ScottishCharityRegulator, new { @class = "govuk-label govuk-radios__label", @for = "SCR" })
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-SCR">
                                <div class="govuk-form-group @(scottishCharityRegulatorNumberHasError ? "govuk-form-group--error" : "")">
                                    @Html.LabelFor(m => m.ScottishCharityRegulatorNumber, new { @class = "govuk-label", @for = Model.ScottishCharityRegulatorNumber })
                                    @Html.ValidationMessageFor(m => m.ScottishCharityRegulatorNumber, "", new { @class = "govuk-error-message", @id = "OfficeOfScottishCharityRegulatorNumber-error" })
                                    @Html.TextBoxFor(m => m.ScottishCharityRegulatorNumber, new { @class = "govuk-input " + (scottishCharityRegulatorNumberHasError ? "govuk-input--error" : ""), @id = "OfficeOfScottishCharityRegulatorNumber", @type = "text", spellcheck = "false", autocomplete = "off" })
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="CCNI" name="OrganisationScheme" type="radio" value="CCNI" data-aria-controls="conditional-CCNI" @(Model.OrganisationScheme == "CCNI" ? "checked" : "")>
                                @Html.LabelFor(m => m.CharityCommissionNorthernIreland, new { @class = "govuk-label govuk-radios__label", @for = "CCNI" })
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-CCNI">
                                <div class="govuk-form-group @(charityCommissionNorthernIrelandNumberHasError ? "govuk-form-group--error" : "")">
                                    @Html.LabelFor(m => m.CharityCommissionNorthernIrelandNumber, new { @class = "govuk-label", @for = Model.CharityCommissionNorthernIrelandNumber })
                                    @Html.ValidationMessageFor(m => m.CharityCommissionNorthernIrelandNumber, "", new { @class = "govuk-error-message", @id = "CharityCommissionNorthernIrelandNumber-error" })
                                    @Html.TextBoxFor(m => m.CharityCommissionNorthernIrelandNumber, new { @class = "govuk-input " + (charityCommissionNorthernIrelandNumberHasError ? "govuk-input--error" : ""), @id = "CharityCommissionNorthernIrelandNumber", @type = "text", spellcheck = "false", autocomplete = "off" })
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="MPR" name="OrganisationScheme" type="radio" value="MPR" data-aria-controls="conditional-MPR" @(Model.OrganisationScheme == "MPR" ? "checked" : "")>
                                @Html.LabelFor(m => m.MutualsPublicRegister, new { @class = "govuk-label govuk-radios__label", @for = "MPR" })
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-MPR">
                                <div class="govuk-form-group @(mutualsPublicRegisterNumberHasError ? "govuk-form-group--error" : "")">
                                    @Html.LabelFor(m => m.MutualsPublicRegisterNumber, new { @class = "govuk-label", @for = Model.MutualsPublicRegisterNumber })
                                    @Html.ValidationMessageFor(m => m.MutualsPublicRegisterNumber, "", new { @class = "govuk-error-message", @id = "MutualsPublicRegisterNumber-error" })
                                    @Html.TextBoxFor(m => m.MutualsPublicRegisterNumber, new { @class = "govuk-input " + (mutualsPublicRegisterNumberHasError ? "govuk-input--error" : ""), @id = "MutualsPublicRegisterNumber", @type = "text", spellcheck = "false", autocomplete = "off" })
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="GRN" name="OrganisationScheme" type="radio" value="GRN" data-aria-controls="conditional-GRN" @(Model.OrganisationScheme == "GRN" ? "checked" : "")>
                                @Html.LabelFor(m => m.GuernseyRegistry, new { @class = "govuk-label govuk-radios__label", @for = "GRN" })
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-GRN">
                                <div class="govuk-form-group @(guernseyRegistryNumberHasError ? "govuk-form-group--error" : "")">
                                    @Html.LabelFor(m => m.GuernseyRegistryNumber, new { @class = "govuk-label", @for = Model.GuernseyRegistryNumber })
                                    @Html.ValidationMessageFor(m => m.GuernseyRegistryNumber, "", new { @class = "govuk-error-message", @id = "GuernseyRegistryNumber-error" })
                                    @Html.TextBoxFor(m => m.GuernseyRegistryNumber, new { @class = "govuk-input " + (guernseyRegistryNumberHasError ? "govuk-input--error" : ""), @id = "GuernseyRegistryNumber", @type = "text", spellcheck = "false", autocomplete = "off" })
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="JFSC" name="OrganisationScheme" type="radio" value="JFSC" data-aria-controls="conditional-JFSC" @(Model.OrganisationScheme == "JFSC" ? "checked" : "")>
                                @Html.LabelFor(m => m.JerseyFinancialServicesCommissionRegistry, new { @class = "govuk-label govuk-radios__label", @for = "JFSC" })
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-JFSC">
                                <div class="govuk-form-group @(jerseyFinancialServicesCommissionRegistryNumberHasError ? "govuk-form-group--error" : "")">
                                    @Html.LabelFor(m => m.JerseyFinancialServicesCommissionRegistryNumber, new { @class = "govuk-label", @for = Model.JerseyFinancialServicesCommissionRegistryNumber })
                                    @Html.ValidationMessageFor(m => m.JerseyFinancialServicesCommissionRegistryNumber, "", new { @class = "govuk-error-message", @id = "JerseyFinancialServicesCommissionRegistryNumber-error" })
                                    @Html.TextBoxFor(m => m.JerseyFinancialServicesCommissionRegistryNumber, new { @class = "govuk-input " + (jerseyFinancialServicesCommissionRegistryNumberHasError ? "govuk-input--error" : ""), @id = "JerseyFinancialServicesCommissionRegistryNumber", @type = "text", spellcheck = "false", autocomplete = "off" })
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="IMCR" name="OrganisationScheme" type="radio" value="IMCR" data-aria-controls="conditional-IMCR" @(Model.OrganisationScheme == "IMCR" ? "checked" : "")>
                                @Html.LabelFor(m => m.IsleofManCompaniesRegistry, new { @class = "govuk-label govuk-radios__label", @for = "IMCR" })
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-IMCR">
                                <div class="govuk-form-group @(isleofManCompaniesRegistryNumberHasError ? "govuk-form-group--error" : "")">
                                    @Html.LabelFor(m => m.IsleofManCompaniesRegistryNumber, new { @class = "govuk-label", @for = Model.IsleofManCompaniesRegistryNumber })
                                    @Html.ValidationMessageFor(m => m.IsleofManCompaniesRegistryNumber, "", new { @class = "govuk-error-message", @id = "IsleofManCompaniesRegistryNumber-error" })
                                    @Html.TextBoxFor(m => m.IsleofManCompaniesRegistryNumber, new { @class = "govuk-input " + (isleofManCompaniesRegistryNumberHasError ? "govuk-input--error" : ""), @id = "IsleofManCompaniesRegistryNumber", @type = "text", spellcheck = "false", autocomplete = "off" })
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="NHOR" name="OrganisationScheme" type="radio" value="NHOR" data-aria-controls="conditional-NHOR" @(Model.OrganisationScheme == "NHOR" ? "checked" : "")>
                                @Html.LabelFor(m => m.NationalHealthServiceOrganisationsRegistry, new { @class = "govuk-label govuk-radios__label", @for = "NHOR" })
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-NHOR">
                                <div class="govuk-form-group @(nationalHealthServiceOrganisationsRegistryNumberHasError ? "govuk-form-group--error" : "")">
                                    @Html.LabelFor(m => m.NationalHealthServiceOrganisationsRegistryNumber, new { @class = "govuk-label", @for = Model.NationalHealthServiceOrganisationsRegistryNumber })
                                    @Html.ValidationMessageFor(m => m.NationalHealthServiceOrganisationsRegistryNumber, "", new { @class = "govuk-error-message", @id = "NationalHealthServiceOrganisationsRegistryNumber-error" })
                                    @Html.TextBoxFor(m => m.NationalHealthServiceOrganisationsRegistryNumber, new { @class = "govuk-input " + (nationalHealthServiceOrganisationsRegistryNumberHasError ? "govuk-input--error" : ""), @id = "NationalHealthServiceOrganisationsRegistryNumber", @type = "text", spellcheck = "false", autocomplete = "off" })
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="UKPRN" name="OrganisationScheme" type="radio" value="UKPRN" data-aria-controls="conditional-UKPRN" @(Model.OrganisationScheme == "UKPRN" ? "checked" : "")>
                                @Html.LabelFor(m => m.UKLearningProviderReference, new { @class = "govuk-label govuk-radios__label", @for = "VAT" })
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-UKPRN">
                                <div class="govuk-form-group @(ukLearningProviderReferenceNumberHasError ? "govuk-form-group--error" : "")">
                                    @Html.LabelFor(m => m.UKLearningProviderReferenceNumber, new { @class = "govuk-label", @for = Model.UKLearningProviderReferenceNumber })
                                    @Html.ValidationMessageFor(m => m.UKLearningProviderReferenceNumber, "", new { @class = "govuk-error-message", @id = "UKLearningProviderReferenceNumber-error" })
                                    @Html.TextBoxFor(m => m.UKLearningProviderReferenceNumber, new { @class = "govuk-input " + (ukLearningProviderReferenceNumberHasError ? "govuk-input--error" : ""), @id = "UKLearningProviderReferenceNumber", @type = "text", spellcheck = "false", autocomplete = "off" })
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="VAT" name="OrganisationScheme" type="radio" value="VAT" data-aria-controls="conditional-VAT" @(Model.OrganisationScheme == "VAT" ? "checked" : "")>
                                @Html.LabelFor(m => m.VAT, new { @class = "govuk-label govuk-radios__label", @for = "VAT" })
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-VAT">
                                <div class="govuk-form-group @(vatNumberHasError ? "govuk-form-group--error" : "")">
                                    @Html.LabelFor(m => m.VATNumber, new { @class = "govuk-label", @for = Model.VATNumber })
                                    @Html.ValidationMessageFor(m => m.VATNumber, "", new { @class = "govuk-error-message", @id = "VATNumber-error" })
                                    @Html.TextBoxFor(m => m.VATNumber, new { @class = "govuk-input " + (vatNumberHasError ? "govuk-input--error" : ""), @id = "VATNumber", @type = "text", spellcheck = "false", autocomplete = "off" })
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="Other" name="OrganisationScheme" type="radio" value="Other" @(Model.OrganisationScheme == "Other" ? "checked" : "")>
                                @Html.LabelFor(m => m.Other, new { @class = "govuk-label govuk-radios__label", @for = "Other" })
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
            </form>
        </div>
    </div>
</main>
