@page
@attribute [RazorCompiledItemMetadata("RouteTemplate", RegistrationStepModel.OrganisationSummaryPage)]
@using CO.CDP.OrganisationApp.Constants
@model CO.CDP.OrganisationApp.Pages.Registration.OrganisationDetailsSummaryModel

@{
    ViewData["Title"] = "Check your answers";
    var details = Model.RegistrationDetails!;

    var backLink = RegistrationStepModel.OrganisationAddressPage;

    if (details.OrganisationType == OrganisationType.Buyer)
    {
        if (details.Devolved == true)
        {
            backLink = RegistrationStepModel.BuyerSelectDevolvedRegulationPage;
        }
        else
        {
            backLink = RegistrationStepModel.BuyerDevolvedRegulationPage;
        }
    }
}


<a href="@backLink" class="govuk-back-link">
    Back
</a>

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@ModelState" />
            <h1 class="govuk-heading-l">
                @ViewData["Title"]
            </h1>
            <fieldset class="govuk-fieldset">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation identifier
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @details.OrganisationScheme.SchemeDescription()
                            @if (details.OrganisationScheme != "Other")
                            {
                                <br />
                                @details.OrganisationIdentificationNumber
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/has-companies-house-number?frm-summary">
                                Change<span class="govuk-visually-hidden"> organisation type</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @details.OrganisationName
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/organisation-name?frm-summary">Change<span class="govuk-visually-hidden"> the organisation name</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @details.OrganisationEmailAddress
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/organisation-email?frm-summary">Change<span class="govuk-visually-hidden"> the email address</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Registered address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@details.OrganisationAddressLine1</p>
                            @if (!string.IsNullOrWhiteSpace(details.OrganisationAddressLine2))
                            {
                                <p class="govuk-body">@details.OrganisationAddressLine2</p>
                            }
                            <p class="govuk-body">@details.OrganisationCityOrTown</p>
                            @if (!string.IsNullOrWhiteSpace(details.OrganisationRegion))
                            {
                                <p class="govuk-body">@details.OrganisationRegion</p>
                            }
                            <p class="govuk-body">@details.OrganisationPostcode</p>
                            <p class="govuk-body">@details.OrganisationCountryName</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link"
                               href="/registration/organisation-registered-address/@(details.OrganisationCountryCode == Country.UKCountryCode ? "uk" : "non-uk")?frm-summary">
                                Change<span class="govuk-visually-hidden"> the registered address</span>
                            </a>
                        </dd>
                    </div>
                    @if (details.OrganisationType == OrganisationType.Buyer)
                    {

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @if (BuyerOrganisationTypeModel.BuyerTypes.Keys.Contains(details.BuyerOrganisationType!))
                                {
                                    @(BuyerOrganisationTypeModel.BuyerTypes[details.BuyerOrganisationType!])
                                }
                                else
                                {
                                    @(details.BuyerOrganisationType)
                                }
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="@RegistrationStepModel.BuyerOrganisationTypePage?frm-summary">Change<span class="govuk-visually-hidden"> the organisation type</span></a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Devolved regulations
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @(details.Devolved == true ? "Yes" : "No")
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="@RegistrationStepModel.BuyerDevolvedRegulationPage?frm-summary">Change<span class="govuk-visually-hidden"> the devolved regulations</span></a>
                            </dd>
                        </div>
                        @if (details.Devolved == true)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Devolved regions
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Html.Raw(string.Join("<br /> ", details.Regulations.Select(x => x.Description())))
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link govuk-link--no-visited-state" href="@RegistrationStepModel.BuyerSelectDevolvedRegulationPage?frm-summary">Change<span class="govuk-visually-hidden"> the devolved regions</span></a>
                                </dd>
                            </div>
                        }
                    }
                </dl>
            </fieldset>
            <form method="post">
                <govuk-button>
                    Save
                </govuk-button>
            </form>
        </div>
    </div>
</main>
