@using CO.CDP.OrganisationApp.Constants
@using Microsoft.AspNetCore.Mvc.Localization
@using CO.CDP.Localization
@using Microsoft.FeatureManagement
@addTagHelper *, Microsoft.FeatureManagement.AspNetCore

@inject Microsoft.Extensions.Configuration.IConfiguration config
@inject IUserInfoService userInfoService
@inject ICookiePreferencesService cookiePreferencesService;
@inject IHtmlLocalizer<StaticTextResource> Localizer
@inject IFtsUrlService FtsUrlService
@inject IAnnouncementService AnnouncementService
@inject IFeatureManager featureManager;

@{
    @* Common, rebranded page chrome lives in CO.CDP.UI.Foundation/_GovUkLayout. *@
    Layout = "_GovUkLayout";

    var organisationId = userInfoService.GetOrganisationId();
    var homeLink = User.Identity?.IsAuthenticated == true ? FtsUrlService.BuildUrl("/login", organisationId, "/") : FtsUrlService.BuildUrl("/");
    var pageName = ViewContext.ActionDescriptor?.DisplayName;
    var ftsRedirectEnabled = await featureManager.IsEnabledAsync(FeatureFlags.AllowFtsRedirectLinks);
    var googleTagId = config["GoogleTagId"];

    ViewData["HtmlLang"] ??= System.Globalization.CultureInfo.CurrentUICulture.Name;
    ViewData["ServiceName"] = StaticTextResource.Header_ServiceName;
    ViewData["ServiceUrl"] = ftsRedirectEnabled ? homeLink : null;
}

@section Head {
    @{
        if (!string.IsNullOrWhiteSpace(googleTagId) && cookiePreferencesService.IsAccepted())
        {
            <!-- Google Tag Manager -->
            <script nonce-csp>(function(w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', '@googleTagId');</script>
            <!-- End Google Tag Manager -->
        }
    }
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true">
}

@section BodyStart {
    @if (!string.IsNullOrWhiteSpace(googleTagId) && cookiePreferencesService.IsAccepted())
    {
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=@googleTagId" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    }
}

@section CookieBanner {
    <partial name="Shared/_CookieBanner" />
}

@section LanguageSwitcher {
    <partial name="Shared/_LanguageSwitcher" />
}

@section PhaseBanner {
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                Beta
            </strong>
            <span class="govuk-phase-banner__text">
                @Html.Raw(StaticTextResource.Header_Contact)
            </span>
        </p>
    </div>
}

@section HeaderNavigation {
    @{
        // Highlight a nav item only when on its own local linked page (prefix-match the link path).
        // Items that link to another app (e.g. Search -> FTS) never light up here.
        var __cur = ("/" + (Context.Request.Path.Value ?? "").Trim('/')).TrimEnd('/').ToLowerInvariant();
        var __accountActive = __cur == "/organisation-selection" || __cur.StartsWith("/organisation-selection/");
        var __supportActive = __cur == "/support/organisations/buyer" || __cur.StartsWith("/support/organisations/buyer/");
    }
    @if (User.Identity?.IsAuthenticated == true)
    {
        @if (await userInfoService.HasOrganisations())
        {
            if (organisationId != null)
            {
                <feature name="@FeatureFlags.AllowFtsRedirectLinks">
                    <li class="govuk-service-navigation__item">
                        <a class="govuk-service-navigation__link" href="@FtsUrlService.BuildUrl("/login", organisationId, "/Search/Results")">
                            @StaticTextResource.Header_Search
                        </a>
                    </li>

                    <li class="govuk-service-navigation__item">
                        <a class="govuk-service-navigation__link" href="@FtsUrlService.BuildUrl("/login", organisationId, "/dashboard")">
                            @StaticTextResource.Header_MyNotices
                        </a>
                    </li>
                </feature>
            }

            <li class="govuk-service-navigation__item@(__accountActive ? " govuk-service-navigation__item--active" : "")">
                <a class="govuk-service-navigation__link" aria-current="@(__accountActive ? "true" : null)" href="/organisation-selection">
                    @StaticTextResource.Header_MyAccount
                </a>
            </li>
        }

        <authorize scope="@PersonScopeRequirement.SupportAdmin">
            <li class="govuk-service-navigation__item@(__supportActive ? " govuk-service-navigation__item--active" : "")">
                <a class="govuk-service-navigation__link" aria-current="@(__supportActive ? "true" : null)" href="/support/organisations/buyer">
                    @StaticTextResource.Header_Support
                </a>
            </li>
        </authorize>

        <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/one-login/sign-out">
                @StaticTextResource.Header_SignOut
            </a>
        </li>
    }
    else
    {
        <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/one-login/sign-in">
                @StaticTextResource.Header_SignIn
            </a>
        </li>
    }
}

@section MainStart {
    <partial name="_FlashMessage" />

    @{
        if (userInfoService.IsAuthenticated())
        {
            var latestAnnouncement = await AnnouncementService.GetLatestAnnouncementAsync(pageName);

            if (latestAnnouncement != null)
            {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                            <div class="govuk-notification-banner__header">
                                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                                    Important
                                </h2>
                            </div>
                            <div class="govuk-notification-banner__content">
                                <p class="govuk-notification-banner__heading">
                                    @latestAnnouncement.Title
                                </p>
                                <p>
                                    @latestAnnouncement.Body
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}

@section FooterLinks {
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/contact-us">@StaticTextResource.Footer_ContactUs</a>
    </li>

    <feature name="@FeatureFlags.AllowFtsRedirectLinks">
        <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="@FtsUrlService.BuildUrl("/login", organisationId, "/Home/AccessibilityStatement")">@StaticTextResource.Footer_AccessibilityStatement</a>
        </li>
        <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="@FtsUrlService.BuildUrl("/login", organisationId, "/Home/TermsAndConditions")">@StaticTextResource.Footer_TermsAndConditions</a>
        </li>
    </feature>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/privacy-notice">@StaticTextResource.Footer_PrivacyNotice</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/cookies">@StaticTextResource.Footer_Cookies</a>
    </li>

    <feature name="@FeatureFlags.AllowFtsRedirectLinks">
        <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="@FtsUrlService.BuildUrl("/login", organisationId, "/Developer/Documentation")">@StaticTextResource.Footer_DataAndAPI</a>
        </li>
    </feature>
}

@section FooterLicence {
    @Html.Raw(StaticTextResource.Footer_OGL)
}

@section FooterExtra {
    <p>@StaticTextResource.Footer_TED, <a class="govuk-footer__link" href="https://ted.europa.eu">https: //ted.europa.eu</a>, 1998–2020</p>
}

@section FooterCopyright {
    &copy; @StaticTextResource.Footer_Copyright
}

@section GovUkInit {
    <script nonce-csp type="module">
        import { initAll } from '/js/govuk-frontend-6.1.0.min.js'
        // See https://frontend.design-system.service.gov.uk/configure-components/#configure-all-components-using-the-initall-function
        initAll({
            characterCount: {
                i18n: {
                    charactersUnderLimit: {
                        one: '@StaticTextResource.GovukFrontend_CharacterCount_CharactersUnderLimit_One',
                        other: '@StaticTextResource.GovukFrontend_CharacterCount_CharactersUnderLimit_Other'
                    },
                    charactersAtLimit: '@StaticTextResource.GovukFrontend_CharacterCount_CharactersAtLimit',
                    charactersOverLimit: {
                        one: '@StaticTextResource.GovukFrontend_CharacterCount_CharactersOverLimit_One',
                        other: '@StaticTextResource.GovukFrontend_CharacterCount_CharactersOverLimit_Other'
                    },
                }
            }
        })
    </script>
}

@section Scripts {
    <script nonce-csp type="module">
        import { initSessionTimeoutWarning } from '/js/session-timeout-warning.js';

        @{
            var timeout = int.Parse(config["SessionTimeoutInMinutes"] ?? "60") * 60 * 1000;
            var warning = timeout - (5 * 60 * 1000);
        }

        initSessionTimeoutWarning(@timeout, @warning, @(userInfoService.IsAuthenticated().ToString().ToLower()), {
            timeoutDialogHeader: '@StaticTextResource.SessionTimeoutWarningDialog_Header',
            timeoutDialogLede: '@StaticTextResource.SessionTimeoutWarningDialog_Lede',
            timeoutDialogText: '@string.Format(StaticTextResource.SessionTimeoutWarningDialog_Text, "5")',
            timeoutDialogContinue: '@StaticTextResource.SessionTimeoutWarningDialog_Continue',
            timeoutDialogSignOut: '@StaticTextResource.SessionTimeoutWarningDialog_SignOut'
        });
    </script>

    @if (IsSectionDefined("Scripts"))
    {
        @await RenderSectionAsync("Scripts", required: false)
    }
}

@section BeforeContent {
    @if (IsSectionDefined("BeforeContent"))
    {
        @await RenderSectionAsync("BeforeContent", required: false)
    }
}

@RenderBody()
