@page "/organisation/{id}/buyer/hierarchy/add/child/results"
@model ChildOrganisationResultsPage
@using CO.CDP.Localization

@{
    ViewData["Title"] = StaticTextResource.BuyerParentChildRelationship_SearchPage_Title;
}

@section BeforeContent {
    <a href="@Url.Page("ChildOrganisationSearchPage", new { Model.Id })"
       class="govuk-back-link">@StaticTextResource.Global_Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        @StaticTextResource.Global_ErrorSummary_Heading
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li><a href="#organisation-0">@Model.ErrorMessage</a></li>
                        </ul>
                    </div>
                </div>
            }

            <h1 class="govuk-heading-l">@StaticTextResource.BuyerParentChildRelationship_ResultsPage_Title</h1>
            @if(!string.IsNullOrEmpty(Model.FeedbackMessage))
            {
                <p class="govuk-body">@Html.Raw(Model.FeedbackMessage)</p>
            }

            @if (Model.Results.Count > 0)
            {
                @if (Model.Results.Count == 1)
                {
                    <p class="govuk-body">@string.Format(StaticTextResource.BuyerParentChildRelationship_ResultsPage_TextSingle, Model.Results.Count, Model.Query)</p>
                }
                else
                {
                    <p class="govuk-body">@string.Format(StaticTextResource.BuyerParentChildRelationship_ResultsPage_TextPlural, Model.Results.Count, Model.Query)</p>
                }

                <div class="govuk-form-group @(!string.IsNullOrEmpty(Model.ErrorMessage) ? "govuk-form-group--error" : "")" id="organisation-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="@(!string.IsNullOrEmpty(Model.ErrorMessage) ? "organisation-error" : "")">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            @StaticTextResource.BuyerParentChildRelationship_ResultsPage_Label
                        </legend>
                        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            <p id="organisation-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">@StaticTextResource.Global_Error: </span>@Model.ErrorMessage
                            </p>
                        }
                        <div class="govuk-radios @(!string.IsNullOrEmpty(Model.ErrorMessage) ? "govuk-radios--error" : "")" data-module="govuk-radios">
                            @foreach (var (organisation, index) in Model.Results.Select((value, i) => (value, i)))
                            {
                                var radioId = $"organisation-{index}";
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="@radioId" asp-for="SelectedChildId"
                                           type="radio" value="@organisation.OrganisationId"
                                           aria-describedby="@($"{radioId}-hint")">
                                    <label class="govuk-label govuk-radios__label" for="@radioId">
                                        @organisation.Name
                                    </label>
                                    <div id="@($"{radioId}-hint")" class="govuk-hint govuk-radios__hint">
                                        @organisation.GetFormattedIdentifier()
                                    </div>
                                </div>
                            }
                        </div>
                    </fieldset>
                </div>
            }

            <div class="govuk-button-group">
                @if (Model.Results.Count == 0)
                {
                    <a href="@Url.Page("ChildOrganisationSearchPage", new { Model.Id })"
                       class="govuk-button" data-module="govuk-button">@StaticTextResource.Global_SearchAgain</a>
                    <a class="govuk-link" href="/organisation/@Model.Id">@StaticTextResource.Global_Cancel</a>
                }
                else
                {
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        @StaticTextResource.Global_Confirm
                    </button>
                    <a href="@Url.Page("ChildOrganisationSearchPage", new { Model.Id })"
                       class="govuk-button govuk-button--secondary">@StaticTextResource.Global_SearchAgain</a>
                    <a class="govuk-link" href="/organisation/@Model.Id">@StaticTextResource.Global_Cancel</a>
                }
            </div>
        </form>
    </div>
</div>