@page "/organisation/{id:guid}/buyer/hierarchy/add/child/confirm"
@model ChildOrganisationConfirmPage
@using CO.CDP.Localization
@using CO.CDP.OrganisationApp.Extensions

@{
    ViewData["Title"] = StaticTextResource.BuyerParentChildRelationship_ConfirmPage_Title;
}

@section BeforeContent {
    <a href="@Url.Page("ChildOrganisationResultsPage", new { Model.Id, Model.Query })"
       class="govuk-back-link">@StaticTextResource.Global_Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@StaticTextResource.BuyerParentChildRelationship_ConfirmPage_Title</h1>
        @if (!string.IsNullOrEmpty(Model.WarningMessage))
        {
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">@StaticTextResource.Global_Warning</span>
                    @Model.WarningMessage
                </strong>
            </div>
        }
        <form method="post">
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        @Model.ChildOrganisation?.Name
                    </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            @if (!string.IsNullOrEmpty(Model.WarningTagMessage))
                            {
                                <strong class="govuk-tag govuk-tag--blue">
                                    @Model.WarningTagMessage
                                </strong>
                            }
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @StaticTextResource.Global_PPON
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.ChildOrganisation?.GetPponValue()
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @StaticTextResource.BuyerParentChildRelationship_ConfirmPage_OrganisationTypeLabel
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.ChildOrganisationType
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @StaticTextResource.BuyerParentChildRelationship_ConfirmPage_OrganisationAddressLabel
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @if (Model.HasChildOrganisationAddress && Model.ChildOrganisationAddress != null)
                                {
                                    @if (!string.IsNullOrEmpty(Model.ChildOrganisationAddress.StreetAddress))
                                    {
                                        @Model.ChildOrganisationAddress.StreetAddress<br/>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.ChildOrganisationAddress.Locality))
                                    {
                                        @Model.ChildOrganisationAddress.Locality<br/>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.ChildOrganisationAddress.Region))
                                    {
                                        @Model.ChildOrganisationAddress.Region<br/>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.ChildOrganisationAddress.PostalCode))
                                    {
                                        @Model.ChildOrganisationAddress.PostalCode<br/>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.ChildOrganisationAddress.CountryName))
                                    {
                                        @Model.ChildOrganisationAddress.CountryName
                                    }
                                }
                                else
                                {
                                    @StaticTextResource.Global_NoAddressAvailable
                                }
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @StaticTextResource.BuyerParentChildRelationship_ConfirmPage_OrganisationEmailLabel
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @if (!string.IsNullOrEmpty(Model.ChildOrganisationContactPoint?.Email))
                                {
                                    @Model.ChildOrganisationContactPoint.Email
                                }
                                else
                                {
                                    @StaticTextResource.Global_NoEmailAvailable
                                }
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

            <div class="govuk-button-group">
                @if (string.IsNullOrEmpty(Model.WarningMessage))
                {
                    <button type="submit" class="govuk-button">@StaticTextResource.Global_Confirm</button>
                    <a class="govuk-button govuk-button--secondary" asp-page="ChildOrganisationSearchPage"
                       asp-route-id="@Model.Id">@StaticTextResource.Global_SearchAgain</a>
                }
                else
                {
                    <a class="govuk-button govuk-button" asp-page="ChildOrganisationSearchPage"
                       asp-route-id="@Model.Id">@StaticTextResource.Global_SearchAgain</a>
                }
                <a class="govuk-link" href="/organisation/@Model.Id">@StaticTextResource.Global_Cancel</a>
            </div>
        </form>
    </div>
</div>