@page "/organisation/{organisationId:guid}/forms/{formId:guid}/sections/{sectionId:guid}/share-code-confirmation"
@using CO.CDP.Localization
@model ShareCodeConfirmationModel
@{
    ViewData["Title"] = StaticTextResource.ShareYourInformation_ShareCodeCreated;
    var backUrl = $"/organisation/{Model.OrganisationId}/forms/{Model.FormId}/sections/{Model.SectionId}/share-codes-list-view";
    var organisationDetailUrl = $"/organisation/{Model.OrganisationId}/supplier-information";
    var footerbody1 = StaticTextResource.ShareYourInformation_ShareCodeCreatedFooterBody1;

    if (Model.IsInformalConsortium)
    {
        organisationDetailUrl = $"/consortium/{Model.OrganisationId}/overview";
        footerbody1 = StaticTextResource.ShareYourInformation_ConsortiumShareCodeCreatedFooterBody1;
    }
}

@section BeforeContent {
    <a href="@backUrl" class="govuk-back-link">@StaticTextResource.Global_Back</a>
}

    <div class="govuk-grid-column-ful-width">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                @ViewData["Title"]
            </h1>
            <div class="govuk-panel__body">
                @StaticTextResource.ShareYourInformation_YourShareCode<br><strong>@Model.ShareCode</strong>
            </div>
        </div>

        <p class="govuk-body">
            @Html.Raw(string.Format(footerbody1, Model.ShareCode))
        </p>
        <p class="govuk-body">@StaticTextResource.ShareYourInformation_ShareCodeCreatedFooterBody2</p>
        <p class="govuk-body"><a href="@organisationDetailUrl">@StaticTextResource.ShareYourInformation_BackOrganisationDetails</a></p>
    </div>
