@page "/organisation/{id}/supplier-information"
@using CO.CDP.OrganisationApp.Pages.Forms
@using CO.CDP.OrganisationApp.Constants
@inject IUserInfoService userInfoService
@model CO.CDP.OrganisationApp.Pages.Supplier.SupplierInformationSummaryModel

@{
    string GetStepStatusDescription(StepStatus status)
    {
        return status switch
        {
            StepStatus.NotStarted => "Not started",
            StepStatus.InProcess => "In progress",
            StepStatus.Completed => "Completed",
            _ => "Not started"
        };
    }

    bool isViewer = await userInfoService.UserHasScope(OrganisationPersonScopes.Viewer);

    var basicInformationLink = $"/organisation/{Model.Id}/supplier-information/{((Model.HasSupplierType || isViewer) ? "basic-information" : "individual-or-org")}";
    var connectedEntityLink = $"/organisation/{Model.Id}/supplier-information/connected-person/{((Model.ConnectedEntities.Count > 0 || isViewer) ? "connected-person-summary" : "declaration")}";

    string NoOfConnectedPersonText()
    {
        int count = Model.ConnectedEntities.Count;

        if (count == 0)
        {
            return Model.ConnectedPersonStepStatus == StepStatus.Completed ? "No connected persons" : string.Empty;
        }

        return $"{count} Connected person{(count > 1 ? "s" : "")}";
    }
}

<a href="/organisation/@Model.Id" class="govuk-back-link">
    Back
</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-body">
            <h1 class="govuk-heading-l">
                <span class="govuk-label--l">@Model.Name</span>
            </h1>
            <h2 class="govuk-heading-m">Supplier information</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        <a class="govuk-link govuk-link--no-visited-state" href="@basicInformationLink">Basic information</a>
                    </dt>
                    <dd class="govuk-summary-list__value">

                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <strong class="govuk-tag">@GetStepStatusDescription(Model.BasicInformationStepStatus)</strong>
                    </dd>
                </div>
            </dl>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        <a class="govuk-link govuk-link--no-visited-state" href="@connectedEntityLink">Connected persons</a>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @NoOfConnectedPersonText()
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <strong class="govuk-tag">@GetStepStatusDescription(Model.ConnectedPersonStepStatus)</strong>
                    </dd>
                </div>

            </dl>

            @foreach (var section in Model.FormSections)
            {
                var declarationSection = section.Type == CDP.Forms.WebApiClient.FormSectionType.Declaration;
                var exclusionsSection = section.Type == CDP.Forms.WebApiClient.FormSectionType.Exclusions;
                var redirectLink = $"/organisation/{Model.Id}/forms/{FormsEngine.OrganisationSupplierInfoFormId}/sections/{section.SectionId}";
                var requiredScope = OrgScopeRequirement.Viewer;

                if (declarationSection)
                {
                    redirectLink += "/share-codes-list-view";
                    requiredScope = OrgScopeRequirement.Editor;
                }
                else if (exclusionsSection)
                {
                    redirectLink += "/add-exclusion-declaration";
                }
                else if (section.AnswerSetCount > 0 && section.AllowsMultipleAnswerSets == true)
                {
                    redirectLink += "/add-another-answer-set";
                }

                <authorize scope="@requiredScope">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <a class="govuk-link govuk-link--no-visited-state" href="@redirectLink">
                                    @(section.SectionName)
                                </a>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @if (!declarationSection && section.AnswerSetCount > 0)
                                {
                                    @(section.AnswerSetCount) @:records
                                }
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                @if (!declarationSection)
                                {
                                    <strong class="govuk-tag">@(section.AnswerSetCount > 0 ? $"Completed" : "Not started")</strong>
                                }
                            </dd>
                        </div>
                    </dl>
                </authorize>
            }

            <div class="govuk-!-margin-top-3">
                <a class="govuk-link" href="/organisation/@Model.Id">Back to organisation details</a>
            </div>

        </div>
    </div>
</main>