@page "/organisation/{id}/supplier-information/basic-information"
@model CO.CDP.OrganisationApp.Pages.Supplier.SupplierBasicInformationModel

@{
    var details = Model.SupplierInformation!;
    string GetActionString(bool completed) => completed ? "Change" : "Add";
    string GetActionStringWithItems(bool completed, int itemCount) => completed && itemCount > 0 ? "View" : "Add";

    void RenderAddress(CO.CDP.Organisation.WebApiClient.Address address)
    {
        <p class="govuk-body">@address.StreetAddress</p>

        @if (!string.IsNullOrWhiteSpace(address.StreetAddress2))
        {
            <p class="govuk-body">@address.StreetAddress2</p>
        }
        <p class="govuk-body">@address.Locality</p>
        @if (!string.IsNullOrWhiteSpace(address.Region))
        {
            <p class="govuk-body">@address.Region</p>
        }
        <p class="govuk-body">@address.PostalCode</p>
        <p class="govuk-body">@address.CountryName</p>
    }

    string RenderQualificationsCount(List<CO.CDP.Organisation.WebApiClient.Qualification> qualifications)
    {
        return qualifications.Count() switch { 1 => "1 qualification", _ => $"{qualifications.Count()} qualifications" };
    }
}

<a href="." class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">
                Manage @(details.OrganisationName)'s basic information
            </h2>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Supplier type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(details.SupplierType == Organisation.WebApiClient.SupplierType.Organisation ? "Organisation" : "Individual")
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="individual-or-org">
                            Change<span class="govuk-visually-hidden"> Change</span>
                        </a>
                    </dd>
                </div>

                @if (details.SupplierType == Organisation.WebApiClient.SupplierType.Organisation)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Registered address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (details.CompletedRegAddress && Model.RegisteredAddress != null)
                            {
                                RenderAddress(Model.RegisteredAddress);
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="@(Constants.AddressType.Registered.ToString().ToLower())-address-type-question">
                                @GetActionString(details.CompletedRegAddress)<span class="govuk-visually-hidden"> Change</span>
                            </a>
                        </dd>
                    </div>
                }

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Postal address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @if (details.CompletedPostalAddress && Model.PostalAddress != null)
                        {
                            RenderAddress(Model.PostalAddress);
                        }
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="@(Constants.AddressType.Postal.ToString().ToLower())-address-type-question">
                            @GetActionString(details.CompletedPostalAddress)<span class="govuk-visually-hidden"> Change</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        VAT number
                    </dt>
                    <dt class="govuk-summary-list__value">
                        @if (details.CompletedVat)
                        {
                            if (!string.IsNullOrWhiteSpace(Model.VatNumber))
                            {
                                @:Yes<br />
                                @(Model.VatNumber)
                            }
                            else
                            {
                                @:No
                            }
                        }
                    </dt>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="vat-question">
                            @GetActionString(details.CompletedVat)<span class="govuk-visually-hidden"> Change</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Website address
                    </dt>
                    <dt class="govuk-summary-list__value">
                        @if (details.CompletedWebsiteAddress)
                        {
                            if (!string.IsNullOrWhiteSpace(Model.WebsiteAddress))
                            {
                                @:Yes<br />
                                @(Model.WebsiteAddress)
                            }
                            else
                            {
                                @:No
                            }
                        }
                    </dt>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="website-question">
                            @GetActionString(details.CompletedWebsiteAddress)<span class="govuk-visually-hidden"> Add</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email address
                    </dt>
                    <dt class="govuk-summary-list__value">
                        @if (details.CompletedEmailAddress)
                        {
                            if (!string.IsNullOrWhiteSpace(Model.EmailAddress))
                            {
                                @(Model.EmailAddress)
                            }
                        }
                    </dt>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="email-address">
                            @GetActionString(details.CompletedEmailAddress)<span class="govuk-visually-hidden"> Change</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Qualifications
                    </dt>
                    <dt class="govuk-summary-list__value">
                        @if (details.CompletedQualification)
                        {
                            if (details.Qualifications != null)
                            {
                                RenderQualificationsCount(details.Qualifications.ToList());
                            }
                            else
                            {
                                @:None
                            }
                        }
                    </dt>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="supplier-qualification-question">
                            @GetActionString(details.CompletedQualification)<span class="govuk-visually-hidden"> Change</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Trade assurances
                    </dt>
                    <dt class="govuk-summary-list__value">
                        @if (details.CompletedTradeAssurance)
                        {
                            if (details.TradeAssurances.Count > 0)
                            {
                                @(details.TradeAssurances.Count) @:trade assurances
                            }
                            else
                            {
                                @:None
                            }
                        }
                    </dt>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="trade-assurance-summary">
                            @GetActionStringWithItems(details.CompletedTradeAssurance, details.TradeAssurances.Count)<span class="govuk-visually-hidden"> Change</span>
                        </a>
                    </dd>
                </div>

                @if (details.SupplierType == Organisation.WebApiClient.SupplierType.Organisation)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation type
                        </dt>
                        <dt class="govuk-summary-list__value">
                        </dt>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                @GetActionString(details.CompletedOperationType)<span class="govuk-visually-hidden"> Change</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Legal form
                        </dt>
                        <dt class="govuk-summary-list__value">
                        </dt>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                @GetActionString(details.CompletedLegalForm)<span class="govuk-visually-hidden"> Change</span>
                            </a>
                        </dd>
                    </div>
                }
            </dl>

            <a href="." role="button"
               class="govuk-button govuk-button--start govuk-body govuk-!-font-size-19" data-module="govuk-button">
                Return to account home
            </a>
        </div>
    </div>
</main>