@page "/organisation/{id}/supplier-information"
@using CO.CDP.Localization
@using CO.CDP.OrganisationApp.Pages.Forms
@using CO.CDP.OrganisationApp.Constants
@using Microsoft.FeatureManagement
@inject IUserInfoService userInfoService
@inject IFeatureManager featureManager
@inject IShareCodeMandatoryInformationService ShareCodeMandatoryInformationService
@model CO.CDP.OrganisationApp.Pages.Supplier.SupplierInformationSummaryModel

@{
    ViewData["Title"] = Model.Name;

    bool isViewer = await userInfoService.IsViewer();
    bool isAdditionalSectionEnabled = await featureManager.IsEnabledAsync(FeatureFlags.SupplierAdditionalModule);
    bool isWelshProcurementAdditionalModuleEnabled = await featureManager.IsEnabledAsync(FeatureFlags.WelshProcurementAdditionalModule);
}

@section BeforeContent {
    <a href="/organisation/@Model.Id" class="govuk-back-link">
        @StaticTextResource.Global_Back
    </a>
}

<h1 class="govuk-heading-l">
    @Model.Name
</h1>

<h2 class="govuk-heading-m govuk-!-margin-top-5">
    @StaticTextResource.Supplier_SupplierInformationSummary_BeforeStart_Heading
</h2>
<p class="govuk-body">@StaticTextResource.Supplier_SupplierInformationSummary_BeforeStart_Hint</p>
<ul class="govuk-task-list">
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="supplier-information/before-you-start">
                @StaticTextResource.Supplier_SupplierInformationSummary_BeforeStart_Link
            </a>
        </div>
    </li>
</ul>

<h2 class="govuk-heading-m govuk-!-margin-top-5">@StaticTextResource.Supplier_SupplierInformationSummary_Heading</h2>
<p class="govuk-body">@StaticTextResource.Supplier_SupplierInformationSummary_Hint</p>
<ul class="govuk-task-list">

    @* Your Organization *@
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-link--no-visited-state" href="@($"/organisation/{Model.Id}/supplier-information/{((Model.HasSupplierType || isViewer) ? "basic-information" : "individual-or-org")}")" aria-describedby="basic-info-status">
                @StaticTextResource.BasicInformation_SectionTitle
            </a>
        </div>

        <div class="govuk-task-list__status" id="basic-info-status">
            @{
                if (Model.BasicInformationStepStatus == SupplierInformationStatus.StepStatus.InProcess)
                {
                    <strong class="govuk-tag govuk-tag--light-blue">@StaticTextResource.SupplierInformationStatus_StepStatus_InProcess</strong>

                }
                else if (Model.BasicInformationStepStatus == SupplierInformationStatus.StepStatus.Completed)
                {
                    <strong class="govuk-!-font-weight-regular">@StaticTextResource.SupplierInformationStatus_StepStatus_Completed</strong>
                }
                else
                {
                    <strong class="govuk-tag govuk-tag--blue">@StaticTextResource.SupplierInformationStatus_StepStatus_NotStarted</strong>
                }
            }
        </div>
    </li>

    @* People connected to your orgnization *@
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-link--no-visited-state" href="@($"/organisation/{Model.Id}/supplier-information/connected-person/{((Model.ConnectedEntities.Count > 0 || isViewer) ? "connected-person-summary" : "declaration")}")" aria-describedby="connected-persons-status">
                @StaticTextResource.ConnectedPersons_SectionTitle
            </a>
        </div>
        <div class="govuk-task-list__status" id="connected-persons-status">
            @{
                if (Model.ConnectedPersonStepStatus == SupplierInformationStatus.StepStatus.InProcess)
                {
                    <strong class="govuk-tag govuk-tag--light-blue">
                        @string.Format(StaticTextResource.Supplier_SupplierInformationSummary_FormRecordCount, Model.ConnectedEntities.Count)
                    </strong>

                }
                else if (Model.ConnectedPersonStepStatus == SupplierInformationStatus.StepStatus.Completed)
                {
                    <strong class="govuk-!-font-weight-regular">
                        @string.Format(StaticTextResource.Supplier_SupplierInformationSummary_FormRecordCount, Model.ConnectedEntities.Count)
                    </strong>
                }
                else
                {
                    <strong class="govuk-tag govuk-tag--blue">@StaticTextResource.SupplierInformationStatus_StepStatus_NotStarted</strong>
                }
            }
        </div>
    </li>

    @{
        var formSections = Model.FormSections
            .Where(section => section.Type == CDP.Forms.WebApiClient.FormSectionType.Standard
                              || section.Type == CDP.Forms.WebApiClient.FormSectionType.Exclusions)
            .ToList();
        var declarationSection = Model.FormSections.Where(section => section.Type == CDP.Forms.WebApiClient.FormSectionType.Declaration).First();

        var additionalSection = Model.FormSections.Where(section => section.Type == CDP.Forms.WebApiClient.FormSectionType.AdditionalSection).ToList();

       var welshAdditionalSection = Model.FormSections.Where(section => section.Type == CDP.Forms.WebApiClient.FormSectionType.WelshAdditionalSection).ToList();
    }

    @foreach (var section in formSections)
    {
        var exclusionsSection = section.Type == CDP.Forms.WebApiClient.FormSectionType.Exclusions;
        var redirectLink = $"/organisation/{Model.Id}/forms/{FormsEngine.OrganisationSupplierInfoFormId}/sections/{section.SectionId}";

        if (exclusionsSection && (section.AnswerSetCount == 0 || section.AnswerSetWithFurtherQuestionExemptedExists) && !isViewer)
        {
            redirectLink += "/add-exclusion-declaration";
        }

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-link--no-visited-state" href="@redirectLink" aria-describedby="form-section-@(section.SectionId)-status">
                    @(section.SectionName)
                </a>
            </div>
            <div class="govuk-task-list__status" id="form-section-@(section.SectionId)-status">
                @if (section.AnswerSetWithFurtherQuestionExemptedExists)
                {
                    <strong class="govuk-!-font-weight-regular">
                        @string.Format(StaticTextResource.Supplier_SupplierInformationSummary_FormRecordCount, 0)
                    </strong>
                }
                else
                {
                    @if (section.AnswerSetCount > 0)
                    {
                        <strong class="govuk-!-font-weight-regular">
                            @(string.Format(StaticTextResource.Supplier_SupplierInformationSummary_FormRecordCount, section.AnswerSetCount))
                        </strong>
                    }
                    else
                    {
                        <strong class="govuk-tag govuk-tag--blue">
                            @StaticTextResource.SupplierInformationStatus_StepStatus_NotStarted
                        </strong>
                    }
                }
            </div>
        </li>
    }
</ul>

@* Additional Supplier Modules *@
@if (isAdditionalSectionEnabled)
{
    <h2 class="govuk-heading-m">@StaticTextResource.Supplier_AdditionalModulesInformation_Heading</h2>
    <p class="govuk-body">@StaticTextResource.Supplier_AdditionalModulesInformation_Hint</p>

    <ul class="govuk-task-list">
        @foreach (var section in additionalSection)
        {
            var redirectLink = $"/organisation/{Model.Id}/forms/{FormsEngine.OrganisationSupplierInfoFormId}/sections/{section.SectionId}";

            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-link--no-visited-state" href="@redirectLink" aria-describedby="form-section-@(section.SectionId)-status">
                        @(section.SectionName)
                    </a>
                </div>
                <div class="govuk-task-list__status" id="form-section-@(section.SectionId)-status">
                    @if (section.AnswerSetWithFurtherQuestionExemptedExists)
                    {
                        <strong class="govuk-!-font-weight-regular">
                            @string.Format(StaticTextResource.Supplier_SupplierInformationSummary_FormRecordCount, 0)
                        </strong>
                    } else
                    {
                        @if (section.AnswerSetCount > 0)
                        {
                            <p class="govuk-body govuk-!-margin-bottom-0">@StaticTextResource.SupplierInformationStatus_StepStatus_Completed</p>
                        }
                        else
                        {
                            <strong class="govuk-tag govuk-tag--blue">
                                @StaticTextResource.SupplierInformationStatus_StepStatus_NotStarted
                            </strong>
                        }
                    }
                </div>
            </li>
        }
    </ul>
}

@* Welsh Procurement Modules *@
@if (isWelshProcurementAdditionalModuleEnabled)
{
    <h2 class="govuk-heading-m">
        @StaticTextResource.Supplier_WelshProcurementAdditionalModulesInformation_Heading
    </h2>

    <ul class="govuk-task-list">
        @foreach (var section in welshAdditionalSection)
        {
            var redirectLink =
                $"/organisation/{Model.Id}/forms/{FormsEngine.OrganisationSupplierInfoFormId}/sections/{section.SectionId}";

            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state"
                   href="@redirectLink"
                   aria-describedby="form-section-@(section.SectionId)-status">
                    @(section.SectionName)
                </a>
                <div class="govuk-task-list__status" id="form-section-@(section.SectionId)-status">
                    @if (section.AnswerSetCount > 0)
                    {
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            @StaticTextResource.SupplierInformationStatus_StepStatus_Completed
                        </p>
                    }
                    else
                    {
                        <strong class="govuk-tag govuk-tag--blue">
                            @StaticTextResource.SupplierInformationStatus_StepStatus_NotStarted
                        </strong>
                    }
                </div>
            </li>
        }
    </ul>
}

@* Declaraion Section *@
<h2 class="govuk-heading-m">@StaticTextResource.Supplier_SupplierInformationShare_Heading</h2>
<p class="govuk-body">@StaticTextResource.Supplier_SupplierInformationShare_Hint</p>

<div class="govuk-task-list">
    @{
        int shareCodeCount = await Model.GetShareCodesCount();
        bool mandatorySectionsCompleted = await ShareCodeMandatoryInformationService.MandatorySectionsCompleted(Model.Id);
    }

    <div class="govuk-task-list__item @(mandatorySectionsCompleted || shareCodeCount > 0 ? "govuk-task-list__item--with-link" : "")">
        <div class="govuk-task-list__name-and-hint">
            @if (mandatorySectionsCompleted || shareCodeCount > 0)
            {
                <a class="govuk-link govuk-link--no-visited-state" href="/organisation/@Model.Id/forms/@FormsEngine.OrganisationSupplierInfoFormId/sections/@declarationSection.SectionId/share-codes-list-view" aria-describedby="share-code-status share-code-hint">
                    @(declarationSection.SectionName)
                </a>
            }
            else
            {
                <text>@(declarationSection.SectionName)</text>
            }

            @if (!mandatorySectionsCompleted)
            {
                if (shareCodeCount > 0)
                {
                    <div id="share-code-hint" class="govuk-task-list__hint">
                        @StaticTextResource.Supplier_SupplierInformationSummary_ShareCodeSectionsIncompleteHint
                    </div>
                }
                else
                {
                    <div id="share-code-hint" class="govuk-task-list__hint">
                        @StaticTextResource.Supplier_SupplierInformationSummary_ShareCodeCannotStartHint
                    </div>
                }
            }
        </div>

        @if (shareCodeCount > 0)
        {
            <div class="govuk-task-list__status" id="share-code-status">@string.Format(StaticTextResource.Supplier_SupplierInformationSummary_ShareCodeRecordCount, shareCodeCount)</div>
        }
        else
        {
            if (mandatorySectionsCompleted)
            {
                <div class="govuk-task-list__status" id="share-code-status">
                    <strong class="govuk-tag govuk-tag--blue">@StaticTextResource.SupplierInformationStatus_StepStatus_NotStarted</strong>
                </div>
            }
            else
            {
                <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="share-code-status">@StaticTextResource.Supplier_SupplierInformationSummary_ShareCodeCannotStart</div>
            }
        }
    </div>
</div>

<div class="govuk-!-margin-top-8">
    <a class="govuk-link" href="/organisation/@Model.Id">@StaticTextResource.Global_BackToOrganisationDetails</a>
</div>