@page "/organisation/{id}/supplier-information"
@using CO.CDP.Localization
@using CO.CDP.OrganisationApp.Pages.Forms
@using CO.CDP.OrganisationApp.Constants
@inject IUserInfoService userInfoService
@model CO.CDP.OrganisationApp.Pages.Supplier.SupplierInformationSummaryModel

@{
    ViewData["Title"] = Model.Name;
    string GetStepStatusDescription(SupplierInformationStatus.StepStatus status)
    {
        return status switch
        {
            SupplierInformationStatus.StepStatus.NotStarted => StaticTextResource.SupplierInformationStatus_StepStatus_NotStarted,
            SupplierInformationStatus.StepStatus.InProcess => StaticTextResource.SupplierInformationStatus_StepStatus_InProcess,
            SupplierInformationStatus.StepStatus.Completed => StaticTextResource.SupplierInformationStatus_StepStatus_Completed,
            _ => StaticTextResource.SupplierInformationStatus_StepStatus_NotStarted
        };
    }

    bool isViewer = await userInfoService.IsViewer();

    var basicInformationLink = $"/organisation/{Model.Id}/supplier-information/{((Model.HasSupplierType || isViewer) ? "basic-information" : "individual-or-org")}";
    var connectedEntityLink = $"/organisation/{Model.Id}/supplier-information/connected-person/{((Model.ConnectedEntities.Count > 0 || isViewer) ? "connected-person-summary" : "declaration")}";

    string NoOfConnectedPersonText()
    {
        int count = Model.ConnectedEntities.Count;

        if (count == 0)
        {
            return Model.ConnectedPersonStepStatus == SupplierInformationStatus.StepStatus.Completed ? StaticTextResource.Supplier_SupplierInformationSummary_ConnectedPersonCount_None : string.Empty;
        }

        return string.Format(count > 1 ? StaticTextResource.Supplier_SupplierInformationSummary_ConnectedPersonCount_Plural : StaticTextResource.Supplier_SupplierInformationSummary_ConnectedPersonCount_Singular, count);
    }
}

<a href="/organisation/@Model.Id" class="govuk-back-link">
    @StaticTextResource.Global_Back
</a>

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-body">
            <h1 class="govuk-heading-l">
                @ViewData["Title"]
            </h1>
            <h2 class="govuk-heading-m">@StaticTextResource.Supplier_SupplierInformationSummary_Heading</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        <a class="govuk-link govuk-link--no-visited-state" href="@basicInformationLink">@StaticTextResource.BasicInformation_SectionTitle</a>
                    </dt>
                    <dd class="govuk-summary-list__value">

                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <strong class="govuk-tag">@GetStepStatusDescription(Model.BasicInformationStepStatus)</strong>
                    </dd>
                </div>
            </dl>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        <a class="govuk-link govuk-link--no-visited-state" href="@connectedEntityLink">@StaticTextResource.ConnectedPersons_SectionTitle</a>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @NoOfConnectedPersonText()
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <strong class="govuk-tag">@GetStepStatusDescription(Model.ConnectedPersonStepStatus)</strong>
                    </dd>
                </div>

            </dl>

            @foreach (var section in Model.FormSections)
            {
                var declarationSection = section.Type == CDP.Forms.WebApiClient.FormSectionType.Declaration;
                var exclusionsSection = section.Type == CDP.Forms.WebApiClient.FormSectionType.Exclusions;
                var redirectLink = $"/organisation/{Model.Id}/forms/{FormsEngine.OrganisationSupplierInfoFormId}/sections/{section.SectionId}";

                if (declarationSection)
                {
                    redirectLink += "/share-codes-list-view";
                }
                else if (exclusionsSection && (section.AnswerSetCount == 0 || section.AnswerSetWithFurtherQuestionExemptedExists) && !isViewer)
                {
                    redirectLink += "/add-exclusion-declaration";
                }

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <a class="govuk-link govuk-link--no-visited-state" href="@redirectLink">
                                @(section.SectionName)
                            </a>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (!declarationSection && section.AnswerSetCount > 0)
                            {
                                if (section.AnswerSetWithFurtherQuestionExemptedExists)
                                {
                                    @StaticTextResource.Supplier_SupplierInformationSummary_FormsFurtherQuestionExempt
                                }
                                else
                                {
                                    @(string.Format(section.AnswerSetCount > 1 ? StaticTextResource.Supplier_SupplierInformationSummary_FormRecordCount_Plural : StaticTextResource.Supplier_SupplierInformationSummary_FormRecordCount_Singular, section.AnswerSetCount))
                                }
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            @if (!declarationSection)
                            {
                                <strong class="govuk-tag">@(section.AnswerSetCount > 0 ? StaticTextResource.SupplierInformationStatus_StepStatus_Completed: StaticTextResource.SupplierInformationStatus_StepStatus_NotStarted)</strong>
                            }
                        </dd>
                    </div>
                </dl>
            }

            <div class="govuk-!-margin-top-3">
                <a class="govuk-link" href="/organisation/@Model.Id">@StaticTextResource.Global_BackToOrganisationDetails</a>
            </div>

        </div>
    </div>
</main>