@page "/organisation/{id}/supplier-information/supplier-qualification-name"
@model CO.CDP.OrganisationApp.Pages.Supplier.SupplierQualificationNameModel
@{
    var qualificationNameHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.QualificationName)).HasInnerHtml;

    var backLink = $"/organisation/{Model.Id}/supplier-information/supplier-qualification-awarded-date";

    if (Request.Query.ContainsKey("frm-chk-answer"))
    {
        backLink = $"/organisation/{Model.Id}/supplier-information/qualification-check-answer";
    }
}
<a href="@backLink" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@Model.ModelState" />
            <h1 class="govuk-heading-l">Enter the name of the qualification</h1>
            <div id="hint" class="govuk-hint">For example, Surveying (Quantity Surveying) MSc.</div>
            <form class="form" method="post">

                <div class="govuk-form-group @(qualificationNameHasError ? "govuk-form-group--error" : "")">
                    <input class="govuk-input govuk-!-width-two-thirds @(qualificationNameHasError ? "govuk-form-group--error" : "")"
                           id="qualificationName" name="qualificationName" spellcheck="false" autocomplete="false" aria-describedby="qualification-name-hint"
                           value="@(!string.IsNullOrEmpty(Model.QualificationName) ? Model.QualificationName : "")">
                </div>

                <button class="govuk-button govuk-!-margin-top-4" type="submit">Save and continue</button>
            </form>
        </div>
    </div>
</main>