@{
    var selectedItems = ViewData["SelectedItems"] as List<CO.CDP.RegisterOfCommercialTools.WebApiClient.Models.CpvCodeDto> ?? new();
}

@if (!selectedItems.Any())
{
    <p class="govuk-body-s govuk-!-margin-bottom-0">No CPV codes selected</p>
}
else
{
    <dl class="govuk-summary-list">
        @foreach (var item in selectedItems)
        {
            <div class="govuk-summary-list__row" data-code="@item.Code">
                <dt class="govuk-summary-list__key">
                    @item.Code
                </dt>
                <dd class="govuk-summary-list__value">
                    @item.DescriptionEn
                </dd>
                <dd class="govuk-summary-list__actions">
                    <button type="button" class="govuk-link code-remove-button"
                            aria-label="Remove @item.Code @item.DescriptionEn"
                            data-code="@item.Code"
                            data-action="remove-selection">
                        Remove
                    </button>
                </dd>
            </div>
        }
    </dl>
}