@using CO.CDP.RegisterOfCommercialTools.App.Models
@model CpvSelectionViewModel

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="govuk-error-message" role="alert">
        <span class="govuk-visually-hidden">Error: </span>@Model.ErrorMessage
    </div>
}
else if (string.IsNullOrEmpty(Model.SearchQuery))
{
    <p class="govuk-body-s">Enter a search term to find CPV codes</p>
}
else if (Model.SearchQuery.Length < 2)
{
    <p class="govuk-body-s">Please enter at least 2 characters to search.</p>
}
else if (!Model.SearchResults.Any())
{
    <p class="govuk-body-s">No CPV codes found. Please check your spelling.</p>
}
else
{
    <div class="cpv-search-dropdown">
        @foreach (var (item, _) in Model.SearchResults.Take(10).Select((x, i) => (x, i)))
        {
            var isSelected = Model.IsSelected(item.Code);

            <div class="cpv-search-item @(isSelected ? "cpv-search-item--selected" : "")"
                 data-code="@item.Code"
                 data-action="toggle-selection"
                 role="button"
                 tabindex="0">
                <div class="cpv-search-text">
                    <span class="govuk-body-s govuk-!-font-weight-bold cpv-code">@item.Code</span>
                    <span class="govuk-body-s cpv-description">@item.DescriptionEn</span>
                </div>
            </div>
        }
    </div>
}