@{
    var selectedItems = ViewData["SelectedItems"] as List<CO.CDP.RegisterOfCommercialTools.WebApiClient.Models.CpvCodeDto> ?? new();
}

@if (!selectedItems.Any())
{
    <p class="govuk-body-s govuk-!-margin-bottom-0">No CPV codes selected</p>
}
else
{
    @foreach (var item in selectedItems)
    {
        <div class="govuk-tag govuk-tag--grey govuk-!-margin-right-1 govuk-!-margin-bottom-1 code-selected-tag"
             data-code="@item.Code">
            <button type="button"
                    class="govuk-tag__remove"
                    aria-label="Remove @item.Code @item.DescriptionEn"
                    data-code="@item.Code"
                    data-action="remove-selection">
                &times;
            </button>
            <div class="code-selected-tag__content">
                <div class="code-selected-tag__title">@item.Code</div>
                <div class="code-selected-tag__description">@item.DescriptionEn</div>
            </div>
        </div>
    }
}