@using CO.CDP.RegisterOfCommercialTools.App.Models
@using CO.CDP.RegisterOfCommercialTools.WebApiClient.Models
@model HierarchicalCodeSelectionViewModel<NutsCodeDto>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="govuk-error-message" role="alert">
        <span class="govuk-visually-hidden">Error: </span>@Model.ErrorMessage
    </div>
}
else
{
    var selectedItems = ViewData["SelectedItems"] as List<NutsCodeDto> ?? new List<NutsCodeDto>();

    @if (selectedItems.Any())
    {
        <dl class="govuk-summary-list govuk-!-font-size-16">
            @foreach (var item in selectedItems.OrderBy(x => x.DescriptionEn))
            {
                <div class="govuk-summary-list__row" data-code="@item.Code">
                    <dt class="govuk-summary-list__key">
                        @item.DescriptionEn
                    </dt>
                    <dd class="govuk-summary-list__actions">
                        <button type="button" class="govuk-link code-remove-button"
                                aria-label="Remove @item.Code @item.DescriptionEn"
                                data-code="@item.Code"
                                data-action="remove-selection">
                            Remove
                        </button>
                    </dd>
                </div>
            }
        </dl>
    }
    else
    {
        <p class="govuk-body-s govuk-!-margin-bottom-0">No locations selected</p>
    }

}