@using CO.CDP.RegisterOfCommercialTools.App.Models
@model LocationTreeNodeViewModel

@if (Model.HasChildren)
{
    <details class="code-details code-details--level-@Model.Level" data-location-code="@Model.Item.Code">
        <summary class="code-details__summary">
            @if (Model.Item.IsSelectable)
            {
                <input class="govuk-checkboxes__input govuk-checkboxes__input--small code-details__checkbox"
                       type="checkbox"
                       id="@Model.CheckboxId"
                       data-code="@Model.Item.Code"
                       data-parent-code="@Model.Item.ParentCode"
                       data-level="@Model.Item.Level"
                       data-action="toggle-selection"
                       @(Model.IsSelected || Model.IsDisabled ? "checked" : "")
                       @(Model.IsDisabled ? "disabled" : "")>
            }
            <span class="code-details__content">
                <span class="govuk-body-s @(Model.Item.IsSelectable ? "" : "govuk-!-font-weight-bold")">@Model.Item.DescriptionEn</span>
            </span>
        </summary>

        <div class="code-details__children" data-children-container="@Model.Item.Code">
            @if (Model.Item.Children.Any())
            {
                @foreach (var child in Model.Item.Children)
                {
                    @await Html.PartialAsync("_LocationTreeNode", new LocationTreeNodeViewModel { Item = child, Level = Model.Level + 1, SelectedCodes = Model.SelectedCodes })
                }
            }
        </div>
    </details>
}
else
{
    <div class="code-item code-item--level-@Model.Level">
        <div class="code-item__content">
            @if (Model.Item.IsSelectable)
            {
                <input class="govuk-checkboxes__input govuk-checkboxes__input--small code-item__checkbox"
                       type="checkbox"
                       id="@Model.CheckboxId"
                       data-code="@Model.Item.Code"
                       data-parent-code="@Model.Item.ParentCode"
                       data-level="@Model.Item.Level"
                       data-action="toggle-selection"
                       @(Model.IsSelected || Model.IsDisabled ? "checked" : "")
                       @(Model.IsDisabled ? "disabled" : "")>
                <span class="code-item__text">
                    <span class="govuk-body-s">@Model.Item.DescriptionEn</span>
                </span>
            }
            else
            {
                <span class="code-item__text">
                    <span class="govuk-body-s govuk-!-font-weight-bold">@Model.Item.DescriptionEn</span>
                </span>
            }
        </div>
    </div>
}