@page "/organisation/{id}/applications/{appId:guid}/user-assignments/{userId}/revoke"
@model CO.CDP.OrganisationApp.Pages.Applications.RevokeConfirmationModel

@{
    ViewData["Title"] = "Remove application access";
    var hasError = ((TagBuilder)Html.ValidationMessageFor(m => m.ConfirmRevoke)).HasInnerHtml;
}

@section BeforeContent {
    <a href="/organisation/@Model.Id/applications/@Model.AppId/user-assignments" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="@Model.ModelState" />

        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

        <p class="govuk-body">
            You are about to remove access for <strong><code>@Model.UserId</code></strong>
            from <strong>@Model.ApplicationName</strong>.
        </p>
        <p class="govuk-body">
            Organisation: <strong>@Model.OrganisationName</strong>
        </p>

        @if (Model.CurrentRoles.Any())
        {
            <p class="govuk-body">Current roles:</p>
            <ul class="govuk-list govuk-list--bullet">
                @foreach (var role in Model.CurrentRoles)
                {
                    <li>@role</li>
                }
            </ul>
        }

        <form method="post">
            <div class="govuk-form-group @(hasError ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Are you sure you want to remove this user's access?
                    </legend>
                    @if (hasError)
                    {
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            @Html.ValidationMessageFor(m => m.ConfirmRevoke)
                        </p>
                    }
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="confirm-yes" name="ConfirmRevoke"
                                   type="radio" value="true" @(Model.ConfirmRevoke == true ? "checked" : "") />
                            <label class="govuk-label govuk-radios__label" for="confirm-yes">Yes, remove access</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="confirm-no" name="ConfirmRevoke"
                                   type="radio" value="false" @(Model.ConfirmRevoke == false ? "checked" : "") />
                            <label class="govuk-label govuk-radios__label" for="confirm-no">No, cancel</label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <govuk-button>Continue</govuk-button>
        </form>
    </div>
</div>
