@page "/organisation/{id}/applications/{appId:guid}/user-assignments/check-answers"
@model CO.CDP.OrganisationApp.Pages.Applications.UserAssignmentCheckAnswersModel

@{
    ViewData["Title"] = Model.State?.IsEdit == true ? "Confirm role changes" : "Confirm user assignment";
}

@section BeforeContent {
    <a href="/organisation/@Model.Id/applications/@Model.AppId/user-assignments/assign" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <partial name="_ErrorSummary" model="@Model.ModelState" />

        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

        <form method="post">
            <dl class="govuk-summary-list govuk-!-margin-bottom-6">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Application</dt>
                    <dd class="govuk-summary-list__value">@Model.State?.ApplicationName</dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">User</dt>
                    <dd class="govuk-summary-list__value">
                        <code>@Model.State?.UserPrincipalId</code>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        @if (Model.State?.IsEdit != true)
                        {
                            <a class="govuk-link" href="/organisation/@Model.Id/applications/@Model.AppId/user-assignments/assign">
                                Change<span class="govuk-visually-hidden"> user</span>
                            </a>
                        }
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Roles assigned</dt>
                    <dd class="govuk-summary-list__value">
                        @if (Model.State?.SelectedRoleNames.Any() == true)
                        {
                            <ul class="govuk-list">
                                @foreach (var role in Model.State.SelectedRoleNames)
                                {
                                    <li><strong class="govuk-tag govuk-tag--green">@role</strong></li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span>None selected</span>
                        }
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/organisation/@Model.Id/applications/@Model.AppId/user-assignments/assign">
                            Change<span class="govuk-visually-hidden"> roles</span>
                        </a>
                    </dd>
                </div>
            </dl>

            <govuk-button>Confirm and save</govuk-button>
        </form>
    </div>
</div>
