@page "/support/organisations/{type}"
@using CO.CDP.OrganisationApp.Constants
@using CO.CDP.Localization
@using CO.CDP.OrganisationApp.Pages.Shared
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model OrganisationsModel

@{
    ViewData["Title"] = Model.Title;
    ViewData["ContainerClasses"] = "app-width-container--wide";
    var queryValue = Request.Query["q"];
}

<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<div class="govuk-tabs" data-module="govuk-tabs" data-govuk-tabs-init="">
    <ul class="govuk-tabs__list" role="tablist">
        <li class="govuk-tabs__list-item @(Model.Type == "buyer" ? "govuk-tabs__list-item--selected" : "")" role="presentation">
            <a class="govuk-tabs__tab" href="/support/organisations/buyer">
                @StaticTextResource.Support_Organisations_BuyerOrganisations_Title
            </a>
        </li>
        <li class="govuk-tabs__list-item @(Model.Type == "supplier" ? "govuk-tabs__list-item--selected" : "")" role="presentation">
            <a class="govuk-tabs__tab" href="/support/organisations/supplier">
                @StaticTextResource.Support_Organisations_SupplierOrganisations_Title
            </a>
        </li>
    </ul>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <form method="get">
        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-3">
            <label class="govuk-label" for="organisation-search-input">
                @Model.SearchTitle
            </label>
            <input class="govuk-input" id="organisation-search-input" name="q" type="text" value="@queryValue">
        </div>

        <div class="govuk-grid-column-full">
            <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
                @StaticTextResource.Global_Filter
            </button>
        </div>
    </form>
</div>

<br/>

<h2 class="govuk-heading-m">
    @(string.Format(StaticTextResource.Support_OrganisationApproval_OrganisationsCountHeading, Model.TotalOrganisations))
</h2>

<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" colspan="1" class="govuk-table__header">@StaticTextResource.Support_Organisations_TableHeader_OrganisationName</th>
        <th scope="col" colspan="1" class="govuk-table__header">Emails</th>
        @{
            if (Model.Type == "buyer")
            {
                <th scope="col" colspan="1" class="govuk-table__header">@StaticTextResource.Support_Organisations_TableHeader_Status</th>
                <th scope="col" colspan="2" class="govuk-table__header">@StaticTextResource.Support_Organisations_TableHeader_Comments</th>
                <th scope="col" colspan="1" class="govuk-table__header"></th>
            }
        }
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @{
        foreach (var org in Model.Organisations)
        {
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                    <a asp-page="/Organisation/OrganisationOverview" asp-route-id="@org.Id">
                        @org.Name
                    </a>
                    <ul class="govuk-list">
                        @{
                            foreach (var i in @org.Identifiers)
                            {
                                <li>@i</li>
                            }
                        }
                    </ul>
                </th>
                <td class="govuk-table__cell">
                    <ul class="govuk-list">
                        @{
                            foreach (var i in @org.ContactPoints)
                            {
                                <li>@StaticTextResource.Support_Organisations_TableHeader_OrgEmail: @i</li>
                            }
                        }
                        <li>@StaticTextResource.Support_Organisations_TableHeader_AdminEmail: @org.AdminEmail</li>
                    </ul>
                </td>
                @{
                    if (Model.Type == "buyer")
                    {
                        <td class="govuk-table__cell">
                            @{
                                if (org.ApprovedOn == null)
                                {
                                    <span>@StaticTextResource.Support_Organisations_Status_Pending</span>
                                }
                                else
                                {
                                    <span>@StaticTextResource.Support_Organisations_Status_Approved</span><br/>
                                    <span>@(org.ApprovedOn == null ? "N/A" : org.ApprovedOn)</span><br/>
                                    <span>@(org.ReviewedByFirstName != null ? org.ReviewedByFirstName + "" + org.ReviewedByLastName : "N/A")</span>
                                }
                            }
                        </td>
                        <td class="govuk-table__cell">
                            @{
                                if (org.ReviewComment?.Length > 0)
                                {
                                    <details class="govuk-details">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                @StaticTextResource.Support_Organisations_TableHeader_Comments
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            @org.ReviewComment
                                        </div>
                                    </details>
                                }
                                else
                                {
                                    <span>N/A</span>
                                }
                            }
                        </td>
                        <td class="govuk-table__cell">
                            @{
                                if (@org.ApprovedOn == null)
                                {
                                    <a class="govuk-link" href="/support/organisation/@org.Id/approval">@StaticTextResource.Support_Organisations_Review_Link</a>
                                }
                                else
                                {
                                    <span>@StaticTextResource.Support_Organisations_Status_Approved</span>
                                }
                            }

                        </td>
                    }
                }
            </tr>
        }
    }
    </tbody>
</table>

@await Html.PartialAsync("_Pagination", new PaginationPartialModel
{
    CurrentPage = Model.CurrentPage,
    TotalItems = Model.TotalOrganisations,
    PageSize = Model.PageSize,
    Url = $"/support/organisations/{Model.Type}?q={queryValue}"
    })