@page "/support/organisation/{organisationId}/approval"
@using CO.CDP.OrganisationApp.Constants
@using CO.CDP.Localization
@model OrganisationApprovalModel

@{
    var organisationDetails = Model.OrganisationDetails!;
    var adminUser = Model.AdminUser;
    var registeredAddress = organisationDetails.Addresses.FirstOrDefault(a => a.Type == CO.CDP.Organisation.WebApiClient.AddressType.Registered);
    var approvalHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.Approval)).HasInnerHtml;
    var commentHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.Comments)).HasInnerHtml;
    ViewData["Title"] = organisationDetails.Name;
}

@section BeforeContent {
    <a href="/support/organisations/buyer" class="govuk-back-link">
        @StaticTextResource.Global_Back
    </a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="@Model.ModelState" />
        <fieldset class="govuk-fieldset">
            <h1 class="govuk-heading-l">
                @ViewData["Title"]
            </h1>
            <h2 class="govuk-heading-m">@StaticTextResource.Support_OrganisationApproval_Heading</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @StaticTextResource.Support_OrganisationApproval_OrganisationName_List
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">@organisationDetails.Name</p>

                        @if (Model.MatchingOrganisations?.Count > 0) {
                            <div class="govuk-form-group govuk-form-group--error">
                                <p id="duplicate-org-error" class="govuk-error-message">
                                    @StaticTextResource.Support_OrganisationApproval_PotentialDuplicatesFound
                                </p>
                                <ul class="govuk-list govuk-list--bullet">
                                    @foreach (var matchingOrg in Model.MatchingOrganisations)
                                    {
                                        <li>
                                            <a href="/organisation/@matchingOrg.Id" target="_blank">
                                                @matchingOrg.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @StaticTextResource.Support_OrganisationApproval_OrganisationIdentifier_List
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">
                            @organisationDetails.Identifier.Scheme.SchemeDescription()
                        </p>
                        <p class="govuk-body">
                            @if (@organisationDetails.Identifier.Id == null)
                            {
                                <text>@StaticTextResource.Support_OrganisationApproval_PponGenerationPending_List</text>
                            }
                            else
                            {
                                @organisationDetails.Identifier.Id
                            }
                        </p>
                    </dd>
                </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @StaticTextResource.Support_OrganisationApproval_OrganisationEmail_List
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">@organisationDetails.ContactPoint.Email</p>
                </dd>
            </div>

                @if (adminUser != null)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @StaticTextResource.Support_OrganisationApproval_AdminEmail_List
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@adminUser.Email</p>
                        </dd>
                    </div>
                }

                @if (registeredAddress != null)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @StaticTextResource.Support_OrganisationApproval_OrganisationAddress_List
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@registeredAddress.StreetAddress</p>
                            <p class="govuk-body">@registeredAddress.Locality</p>
                            @if (!string.IsNullOrWhiteSpace(registeredAddress.Region))
                            {
                                <p class="govuk-body">@registeredAddress.Region</p>
                            }
                            <p class="govuk-body">@registeredAddress.PostalCode</p>
                            <p class="govuk-body">@registeredAddress.CountryName</p>
                        </dd>
                    </div>
                }

            </dl>

        </fieldset>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <div class="govuk-form-group @(approvalHasError ? "govuk-form-group--error" : "")" @(approvalHasError ? "aria-describedby=approval-error" : "")>
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">@StaticTextResource.Support_OrganisationApproval_Radio_Heading</legend>

                    @if (approvalHasError)
                    {
                        <p id="approval-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">@StaticTextResource.Global_Error:</span>
                            @Html.ValidationMessageFor(m => m.Approval)
                        </p>
                    }
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="@nameof(Model.Approval)" name="@nameof(Model.Approval)" type="radio" value="true" @(Model.Approval == true ? "checked" : "")>
                            <label class="govuk-label govuk-radios__label" for="@nameof(Model.Approval)">@StaticTextResource.Global_Yes</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="@nameof(Model.Approval)-1" name="@nameof(Model.Approval)" type="radio" value="false" data-aria-controls="conditional-comment" @(Model.Approval == false ? "checked" : "")>
                            <label class="govuk-label govuk-radios__label" for="@nameof(Model.Approval)-1">@StaticTextResource.Global_No</label>
                        </div>

                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-comment">
                            <div class="govuk-form-group @(commentHasError ? "govuk-form-group--error" : "")">
                                <label class="govuk-label govuk-label--s" for="@nameof(Model.Comments)">
                                    @StaticTextResource.Support_OrganisationApproval_ErrorMessage
                                </label>
                                <div class="govuk-hint" id="comments-hint">
                                    <p>@StaticTextResource.Support_OrganisationApproval_ErrorMessage_Hint</p>
                                </div>
                                @if (commentHasError)
                                {
                                    <p id="comments-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">@StaticTextResource.Global_Error:</span>
                                        @Html.ValidationMessageFor(m => m.Comments)
                                    </p>
                                }
                                <textarea class="govuk-textarea" id="@nameof(Model.Comments)" name="@nameof(Model.Comments)" rows="3" maxlength="10000" aria-describedby="comments-hint @(commentHasError ? "comments-error" : "")"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <govuk-button>
                @StaticTextResource.Global_Continue
            </govuk-button>
        </form>
    </div>
</div>
