@page "/support/organisations"
@using CO.CDP.Organisation.WebApiClient
@model OrganisationsModel

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model.BuyerOrganisations.Any())
            {
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">Buyer organisations</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" colspan="1" class="govuk-table__header">Organisation name</th>
                        <th scope="col" colspan="1" class="govuk-table__header">Identifier/s</th>
                        <th scope="col" colspan="1" class="govuk-table__header">PPON</th>
                        <th scope="col" colspan="1" class="govuk-table__header">Org Email</th>
                        <th scope="col" colspan="1" class="govuk-table__header">Status</th>
                        <th scope="col" colspan="1" class="govuk-table__header">Date Approved</th>
                        <th scope="col" colspan="1" class="govuk-table__header">Approver</th>
                        <th scope="col" colspan="1" class="govuk-table__header">Comments</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    @{
                        foreach (var org in Model.BuyerOrganisations)
                        {
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                @org.Name
                            </th>
                            <td class="govuk-table__cell">
                                @org.Identifier
                            </td>
                            <td class="govuk-table__cell">
                                @org.PPON
                            </td>
                            <td class="govuk-table__cell">
                                @org.Email
                            </td>
                            <td class="govuk-table__cell">
                                @org.DateApproved
                            </td>
                            <td class="govuk-table__cell">
                                @org.ApprovedBy
                            </td>
                            <td class="govuk-table__cell">
                                @org.ApprovalComments
                            </td>
                        </tr>
                        }
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>
</main>