@page "/support/organisation/{organisationId}/approval"
@using CO.CDP.OrganisationApp.Constants
@model OrganisationApprovalModel

@{
var organisationDetails = Model.OrganisationDetails!;
var registeredAddress = organisationDetails.Addresses.FirstOrDefault(a => a.Type == CO.CDP.Organisation.WebApiClient.AddressType.Registered);
}

<a href="/support/organisations/buyer" class="govuk-back-link">
    Back
</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <fieldset class="govuk-fieldset">
                <h1 class="govuk-heading-l">
                    <span class="govuk-label--l">@organisationDetails.Name</span>
                </h1>
                <h2 class="govuk-heading-m">Organisation details</h2>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@organisationDetails.Name</p>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation identifier
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">
                                @organisationDetails.Identifier.Scheme.SchemeDescription()
                            </p>
                            <p class="govuk-body">
                                @if (@organisationDetails.Identifier.Id == null)
                                {
                                    <p class="govuk-body">PPON generation pending.</p>
                                }
                                else
                                {
                                    @organisationDetails.Identifier.Id
                                }
                            </p>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@organisationDetails.ContactPoint.Email</p>
                        </dd>
                    </div>

                    @if (registeredAddress != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">@registeredAddress.StreetAddress</p>
                                <p class="govuk-body">@registeredAddress.Locality</p>
                                @if (!string.IsNullOrWhiteSpace(registeredAddress.Region))
                                {
                                    <p class="govuk-body">@registeredAddress.Region</p>
                                }
                                <p class="govuk-body">@registeredAddress.PostalCode</p>
                                <p class="govuk-body">@registeredAddress.CountryName</p>
                            </dd>
                        </div>
                    }

                </dl>

            </fieldset>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post">
                <fieldset class="govuk-fieldset" data-required="" data-error="Select yes if you want to approve this organisation" aria-required="true">
                    <div class="govuk-form-group">

                        <h2 class="govuk-heading-m">
                            <span class="govuk-label--m">Are you happy to approve?</span>
                        </h2>

                        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="conditional-YES" name="Approval" type="radio"
                                       value="true">
                                <label class="govuk-label govuk-radios__label" for="conditional-YES">Yes</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="conditional-NO" name="Approval" type="radio"
                                       value="false">
                                <label class="govuk-label govuk-radios__label" for="conditional-NO">No</label>
                            </div>
                        </div>

                    </div>

                    <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--s" for="comments">
                                Comments
                            </label>
                        </h1>
                        <textarea class="govuk-textarea" id="comments" name="comments" rows="3" maxlength="10000"></textarea>
                    </div>

                </fieldset>

                <div class="govuk-button-group govuk-!-margin-top-6">
                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>

            </form>
        </div>
    </div>



</main>