@page "/organisation/{id:guid}/buyer-parent-child-relationship/confirm"
@model CO.CDP.OrganisationApp.Pages.BuyerParentChildRelationship.ChildOrganisationConfirmPage
@using CO.CDP.Localization

@{
    ViewData["Title"] = StaticTextResource.BuyerParentChildRelationship_ConfirmPage_Title;
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Confirm your child organisation details</h1>

                <form method="post">
                    <div class="table-header">
                        <p class="govuk-body govuk-!-font-weight-bold">
                            @Model.ChildOrganisation.Name
                        </p>
                    </div>

                    <div class="table-content">
                        <table class="govuk-table">
                            <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header govuk-!-width-one-third">PPON</th>
                                <td class="govuk-table__cell govuk-!-width-two-thirds">
                                    @Model.ChildOrganisation.Identifier.Id
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Organisation type
                                </th>
                                <td class="govuk-table__cell govuk-!-width-two-thirds">Buyer</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Organisation
                                    address
                                </th>
                                <td class="govuk-table__cell govuk-!-width-two-thirds">
                                    123 Street Name<br>Example Town<br>Example County<br>AB1 2CD<br>United Kingdom
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header govuk-!-width-one-third no-border">
                                    Organisation email
                                </th>
                                <td class="govuk-table__cell govuk-!-width-two-thirds no-border">
                                    info@org.co.uk
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" asp-page-handler="Post">Confirm</button>
                        <a class="govuk-button govuk-button--secondary" asp-page="ChildOrganisationSearchPage"
                           asp-route-id="@Model.Id">@StaticTextResource.Global_SearchAgain</a>
                        <a class="govuk-link" href="/organisation/@Model.Id">@StaticTextResource.Global_Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
