@page "/organisation/{id}/users/add-user/{personId?}"
@model CO.CDP.OrganisationApp.Pages.Users.AddUserModel

@{
    var firstNameHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.FirstName)).HasInnerHtml;
    var lastNameHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.LastName)).HasInnerHtml;
    var emailHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.Email)).HasInnerHtml;
    var roleHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.Role)).HasInnerHtml;

    string IsSelected(bool selectedCondition)
    {
        return selectedCondition ? "checked='checked'" : string.Empty;
    }
}

<a href="/organisation/{@Model.Id}/users/user-summary" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@Model.ModelState" />
        </div>
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                Add a user
            </h1>
            <form class="form" method="post">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="@nameof(Model.FirstName)">
                        First name
                    </label>

                    <div class="govuk-form-group @(firstNameHasError ? "govuk-form-group--error" : "")">
                        @if (firstNameHasError)
                        {
                        <p id="first-name-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </p>
                        }
                        <input class="govuk-input govuk-input--width-20 @(firstNameHasError ? "govuk-input--error" : "")" id="@nameof(Model.FirstName)"
                               value="@Model.FirstName" name="@nameof(Model.FirstName)" type="text"
                               spellcheck="false" @(firstNameHasError ? "aria-describedby=first-name-error" : "")>
                    </div>
                </div>

                <div class="govuk-form-group">

                    <label class="govuk-label" for="@nameof(Model.LastName)">
                        Last name
                    </label>
                    <div class="govuk-form-group @(lastNameHasError ? "govuk-form-group--error" : "")">
                        @if (lastNameHasError)
                        {
                        <p id="last-name-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            @Html.ValidationMessageFor(m => m.LastName)
                        </p>
                        }
                        <input class="govuk-input govuk-input--width-20 @(lastNameHasError ? "govuk-input--error" : "")" id="@nameof(Model.LastName)"
                               value="@Model.LastName" name="@nameof(Model.LastName)" type="text"
                               spellcheck="false" @(lastNameHasError ? "aria-describedby=last-name-error" : "")>
                    </div>
                </div>

                <div class="govuk-form-group">

                    <label class="govuk-label" for="@nameof(Model.Email)">
                        Email address
                    </label>
                    <div class="govuk-form-group @(emailHasError ? "govuk-form-group--error" : "")">
                        @if (emailHasError)
                        {
                            <p id="email-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                @Html.ValidationMessageFor(m => m.Email)
                            </p>
                        }
                        <input class="govuk-input govuk-input--width-20 @(emailHasError ? "govuk-input--error" : "")" id="@nameof(Model.Email)"
                               value="@Model.Email" name="@nameof(Model.Email)" type="text"
                               spellcheck="false" @(emailHasError ? "aria-describedby=email-error" : "")>
                    </div>
                </div>

                <div class="govuk-form-group">

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="role-admin" name="IsAdmin" type="checkbox"
                               value="true" @IsSelected(Model.IsAdmin == true)>
                        <label class="govuk-label govuk-checkboxes__label" for="role-admin">
                            Is Admin
                        </label>
                        <div id="role-admin-hint" class="govuk-hint govuk-radios__hint">
                            Can add, remove and edit users
                        </div>
                    </div>
                </div>

                <div class="govuk-form-group" @(roleHasError ? "govuk-form-group--error" : "")>
                    <fieldset class="govuk-fieldset" aria-describedby="role-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Select user role
                            </h1>
                        </legend>
                        @if (roleHasError)
                        {
                            <p id="role-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                @Html.ValidationMessageFor(m => m.Role)
                            </p>
                        }
                        <div id="role-hint" class="govuk-hint">
                            Select the one that applies
                        </div>
                        <div class="govuk-radios" data-module="govuk-radios">

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="@nameof(Model.Role)" name="role" type="radio" value="EDITOR" aria-describedby="role-editor-hint" @IsSelected(Model.Role == "EDITOR")>
                                <label class="govuk-label govuk-radios__label" for="role-editor">
                                    Editor
                                </label>
                                <div id="role-editor-hint" class="govuk-hint govuk-radios__hint">
                                    Can view, add and edit organisation information, view supplier information and create API keys
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="@nameof(Model.Role)-1" name="role" type="radio" value="VIEWER" aria-describedby="role-viewer-hint" @IsSelected(Model.Role == "VIEWER")>
                                <label class="govuk-label govuk-radios__label" for="role-viewer">
                                    Viewer
                                </label>
                                <div id="role-viewer-hint" class="govuk-hint govuk-radios__hint">
                                    Can view organisation and supplier information
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-button-group govuk-!-margin-top-6">
                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>