@page "/organisation/{id}/users/{itemId}/change-role"
@model CO.CDP.OrganisationApp.Pages.Users.ChangeUserRoleModel
@using CO.CDP.OrganisationApp.Constants
@using CO.CDP.Localization

@{
    ViewData["Title"] = Model.UserFullName;
    var roleHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.Role)).HasInnerHtml;

    string IsSelected(bool selectedCondition)
    {
        return selectedCondition ? "checked='checked'" : string.Empty;
    }
}

@section BeforeContent {
    <a href="/organisation/{@Model.Id}/users/user-summary" class="govuk-back-link">@StaticTextResource.Global_Back</a>
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@Model.ModelState" />
        </div>
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                @ViewData["Title"]
            </h1>
            <form class="form" method="post" asp-page-handler="@Model.Handler">
                <div class="govuk-form-group @(roleHasError ? "govuk-form-group--error" : "")">
                    <fieldset class="govuk-fieldset" aria-describedby="role-hint @(roleHasError ? "role-error" : "")">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            @StaticTextResource.Users_UserRole_Label
                        </legend>
                        @if (roleHasError)
                        {
                            <p id="role-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">@StaticTextResource.Global_Error:</span>
                                @Html.ValidationMessageFor(m => m.Role)
                            </p>
                        }
                        <div id="role-hint" class="govuk-hint">
                            @StaticTextResource.Users_UserRole_Hint
                        </div>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="@nameof(Model.Role)" name="role" type="radio" value="@OrganisationPersonScopes.Admin" aria-describedby="role-admin-hint" @IsSelected(Model.Role == OrganisationPersonScopes.Admin)>
                                <label class="govuk-label govuk-radios__label" for="@nameof(Model.Role)">
                                    @StaticTextResource.Global_Admin
                                </label>
                                <div id="role-admin-hint" class="govuk-hint govuk-radios__hint">
                                    <details class="govuk-details govuk-!-margin-bottom-0">
                                        <summary class="govuk-details__summary">
                                          <span class="govuk-details__summary-text">
                                            @StaticTextResource.Users_UserRoleAdmin_HintTitle
                                          </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <ul class="govuk-list govuk-list--bullet">
                                                <li>@StaticTextResource.Users_UserRoleAdmin_Hint1</li>
                                                <li>@StaticTextResource.Users_UserRoleAdmin_Hint2</li>
                                                <li>@StaticTextResource.Users_UserRoleAdmin_Hint3</li>
                                                <li>@StaticTextResource.Users_UserRoleAdmin_Hint4</li>
                                                <li>@StaticTextResource.Users_UserRoleAdmin_Hint5</li>
                                            </ul>
                                        </div>
                                    </details>
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="@nameof(Model.Role)-1" name="role" type="radio" value="@OrganisationPersonScopes.Editor" aria-describedby="role-editor-hint" @IsSelected(Model.Role == OrganisationPersonScopes.Editor)>
                                <label class="govuk-label govuk-radios__label" for="@nameof(Model.Role)-1">
                                    @StaticTextResource.Global_Editor
                                </label>
                                <div id="role-editor-hint" class="govuk-hint govuk-radios__hint">
                                    <details class="govuk-details govuk-!-margin-bottom-0">
                                        <summary class="govuk-details__summary">
                                          <span class="govuk-details__summary-text">
                                            @StaticTextResource.Users_UserRoleEditor_HintTitle
                                          </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <ul class="govuk-list govuk-list--bullet">
                                                <li>@StaticTextResource.Users_UserRoleEditor_Hint1</li>
                                                <li>@StaticTextResource.Users_UserRoleEditor_Hint2</li>
                                                <li>@StaticTextResource.Users_UserRoleEditor_Hint3</li>
                                            </ul>
                                        </div>
                                    </details>
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="@nameof(Model.Role)-2" name="role" type="radio" value="@OrganisationPersonScopes.Viewer" aria-describedby="role-viewer-hint" @IsSelected(Model.Role == OrganisationPersonScopes.Viewer)>
                                <label class="govuk-label govuk-radios__label" for="@nameof(Model.Role)-2">
                                    @StaticTextResource.Global_Viewer
                                </label>
                                <div id="role-viewer-hint" class="govuk-hint govuk-radios__hint">
                                    <details class="govuk-details">
                                        <summary class="govuk-details__summary">
                                          <span class="govuk-details__summary-text">
                                            @StaticTextResource.Users_UserRoleViewer_HintTitle
                                          </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <ul class="govuk-list govuk-list--bullet">
                                                <li>@StaticTextResource.Users_UserRoleViewer_Hint1</li>
                                                <li>@StaticTextResource.Users_UserRoleViewer_Hint2</li>
                                            </ul>
                                        </div>
                                    </details>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <govuk-button class="govuk-!-margin-top-6">@StaticTextResource.Global_Continue</govuk-button>
            </form>
        </div>
    </div>
