@page "/organisation/{id}/users/user-summary"
@model CO.CDP.OrganisationApp.Pages.Users.UserSummaryModel
@using CO.CDP.OrganisationApp.Constants

@{
    var hasError = ((TagBuilder)Html.ValidationMessageFor(m => m.HasPerson)).HasInnerHtml;
    var totalPersons = Model.Persons.Count + Model.PersonInvites.Count;
}

@section BeforeContent {
    <a href="/organisation/@Model.Id" class="govuk-back-link">Back</a>
}

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@Model.ModelState" />
        </div>
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                Organisation has @(totalPersons == 1 ? "1 user" : $"{totalPersons} users")
            </h1>

            @foreach (var p in Model.Persons)
            {
                <dl class="govuk-summary-list ros-add-to-a-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @p.FirstName @p.LastName
                            @foreach(var scope in p.Scopes)
                            {
                                if (scope == OrganisationPersonScopes.Admin)
                                {
                                    <span class="govuk-tag">Admin</span>
                                }

                                if (scope == OrganisationPersonScopes.Editor)
                                {
                                    <span class="govuk-tag govuk-tag--green">Editor</span>
                                }

                                if (scope == OrganisationPersonScopes.Viewer)
                                {
                                    <span class="govuk-tag govuk-tag--yellow">Viewer</span>
                                }
                            }
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <strong>@p.Email</strong>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <ul class="govuk-summary-list__actions-list">
                                @if (p.Id != @Model.SignedInPersonId)
                                {
                                    <li class="govuk-summary-list__actions-list-item">
                                        <a class="govuk-link" href="/organisation/@Model.Id/users/@p.Id/change-role?handler=person">Change</a>
                                    </li>
                                    <li class="govuk-summary-list__actions-list-item">
                                        <a class="govuk-link" href="/organisation/@Model.Id/users/@p.Id/remove">Remove</a>
                                    </li>
                                }
                            </ul>
                        </dd>
                    </div>
                </dl>
            }

            @foreach (var p in Model.PersonInvites)
            {
                <dl class="govuk-summary-list ros-add-to-a-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @p.FirstName @p.LastName
                            @foreach(var scope in p.Scopes)
                            {
                                if (scope == OrganisationPersonScopes.Admin)
                                {
                                    <span class="govuk-tag">Admin</span>
                                }

                                if (scope == OrganisationPersonScopes.Editor)
                                {
                                    <span class="govuk-tag govuk-tag--green">Editor</span>
                                }

                                if (scope == OrganisationPersonScopes.Viewer)
                                {
                                    <span class="govuk-tag govuk-tag--yellow">Viewer</span>
                                }
                            }
                            <div class="govuk-hint">Invite sent</div>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <strong>@p.Email</strong>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <ul class="govuk-summary-list__actions-list">
                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link" href="/organisation/@Model.Id/users/@p.Id/change-role?handler=personInvite">Change</a>
                                </li>
                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link" href="/organisation/@Model.Id/users/@p.Id/remove?handler=personInvite">Remove</a>
                                </li>
                            </ul>
                        </dd>
                    </div>
                </dl>
            }

            <form class="form" method="post">
                <div class="govuk-form-group @(hasError ? "govuk-form-group--error" : "")">
                    <fieldset class="govuk-fieldset" @(hasError ? Html.Raw(@"aria-describedby=""has-person-error""") : "")>
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                Add another user?
                            </h2>
                        </legend>
                        @if (hasError)
                        {
                            <p class="govuk-error-message" id="has-person-error">
                                <span class="govuk-visually-hidden">Error:</span> @Html.ValidationMessageFor(m => m.HasPerson)
                            </p>
                        }
                        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="@nameof(Model.HasPerson)" name="HasPerson" type="radio"
                                        value="true" @(Model.HasPerson == true ? "checked" : "")>
                                <label class="govuk-label govuk-radios__label" for="@nameof(Model.HasPerson)">Yes</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="@nameof(Model.HasPerson)-1" name="HasPerson" type="radio"
                                        value="false" @(Model.HasPerson == false ? "checked" : "")>
                                <label class="govuk-label govuk-radios__label" for="@nameof(Model.HasPerson)-1">No</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <govuk-button>
                    Continue
                </govuk-button>
            </form>
        </div>
    </div>
</main>