@page "/organisation/{id}/users/user-summary"
@model CO.CDP.OrganisationApp.Pages.Users.UserSummaryModel

@{
    var hasError = ((TagBuilder)Html.ValidationMessageFor(m => m.HasPerson)).HasInnerHtml;
    var totalPersons = Model.Persons.Count + Model.PersonInvites.Count;
}

<a href="/organisation" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@Model.ModelState" />
        </div>
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                Organisation has @(totalPersons == 1 ? "1 user" : $"{totalPersons} users")
            </h1>

            @foreach (var p in Model.Persons)
            {
                <dl class="govuk-summary-list ros-add-to-a-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @p.FirstName @p.LastName
                            @foreach(var scope in p.Scopes)
                            {
                                if (scope == "ADMIN")
                                {
                                    <span class="govuk-tag">Admin</span>
                                }

                                if (scope == "EDITOR")
                                {
                                    <span class="govuk-tag govuk-tag--green">Editor</span>
                                }

                                if (scope == "VIEWER")
                                {
                                    <span class="govuk-tag govuk-tag--yellow">Viewer</span>
                                }
                            }
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @p.Email
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <ul class="govuk-summary-list__actions-list">
                                @if (p.Id != @Model.UserDetails?.PersonId)
                                {
                                    <li class="govuk-summary-list__actions-list-item">
                                        <a class="govuk-link" href="/organisation/@Model.Id/users/add-user/@p.Id?handler=change">Change</a>
                                    </li>
                                    <li class="govuk-summary-list__actions-list-item">
                                        <a class="govuk-link" href="/organisation/@Model.Id/users/@p.Id/remove">Remove</a>
                                    </li>
                                }
                            </ul>
                        </dd>
                    </div>
                </dl>
            }

            @foreach (var p in Model.PersonInvites)
            {
                <dl class="govuk-summary-list ros-add-to-a-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @p.FirstName @p.LastName
                            @foreach(var scope in p.Scopes)
                            {
                                if (scope == "ADMIN")
                                {
                                    <span class="govuk-tag">Admin</span>
                                }

                                if (scope == "EDITOR")
                                {
                                    <span class="govuk-tag govuk-tag--green">Editor</span>
                                }

                                if (scope == "VIEWER")
                                {
                                    <span class="govuk-tag govuk-tag--yellow">Viewer</span>
                                }
                            }
                            <div class="govuk-hint">Invite sent</div>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @p.Email
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <ul class="govuk-summary-list__actions-list">
                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link" href="/organisation/@Model.Id/users/add-user/@p.Id?handler=change">Change</a>
                                </li>
                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link" href="/organisation/@Model.Id/users/@p.Id/remove?handler=personInvite">Remove</a>
                                </li>
                            </ul>
                        </dd>
                    </div>
                </dl>
            }

            <div class="govuk-form-group @(hasError ? "govuk-form-group--error" : "")">
                <form class="form" method="post">
                    <fieldset class="govuk-fieldset" data-required="" data-error="Select yes if you need to add another user" aria-required="true">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                Add another user?
                            </h2>
                        </legend>
                        @if (hasError)
                        {
                            <p id="qualification-option-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Select an option
                            </p>
                        }
                        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="conditional-YES" name="HasPerson" type="radio"
                                       value="true" data-aria-controls="conditional-YES" @(Model.HasPerson == true ? "checked" : "")>
                                <label class="govuk-label govuk-radios__label" for="conditional-YES">Yes</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="conditional-NO" name="HasPerson" type="radio"
                                       value="false" data-aria-controls="conditional-NO" @(Model.HasPerson == false ? "checked" : "")>
                                <label class="govuk-label govuk-radios__label" for="conditional-NO">No</label>
                            </div>
                        </div>
                    </fieldset>

                    <div class="govuk-button-group govuk-!-margin-top-6">
                        <button class="govuk-button" data-module="govuk-button">
                            Continue
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>