@page "/organisation/{id}/users/{userId}/remove"
@model CO.CDP.OrganisationApp.Pages.Users.UserRemoveConfirmationModel
@{
    ViewData["Title"] = $"Are you sure you want to remove {Model.UserFullName}?";
    var hasError = ((TagBuilder)Html.ValidationMessageFor(m => m.ConfirmRemove)).HasInnerHtml;;
}

<a href="/organisation/@Model.Id/users/user-summary" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@Model.ModelState" />
            <form method="post">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-form-group @(hasError ? "govuk-form-group--error" : "")" @(hasError ? Html.Raw(@"aria-describedby=""confirm-remove-error""") : "")>
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Are you sure you want to remove <br/>[@Model.UserFullName]?
                            </h1>
                        </legend>

                        <input type="hidden" asp-for="UserFullName" />

                        @if (hasError)
                        {
                            <p id="confirm-remove-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                @Html.ValidationMessageFor(m => m.ConfirmRemove)
                            </p>
                        }

                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="conditional-YES" name="ConfirmRemove" type="radio"
                                       value="true" @(Model.ConfirmRemove == true ? "checked" : "")>
                                <label class="govuk-label govuk-radios__label" for="conditional-YES">Yes</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="conditional-NO" name="ConfirmRemove" type="radio"
                                       value="false" @(Model.ConfirmRemove == false ? "checked" : "")>
                                <label class="govuk-label govuk-radios__label" for="conditional-NO">No</label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <govuk-button class="govuk-!-margin-top-6">
                    Continue
                </govuk-button>
            </form>
        </div>
    </div>
</main>