@page "/organisation/{id}/users/view-admins"
@model CO.CDP.OrganisationApp.Pages.Users.ViewAdminsModel
@using CO.CDP.OrganisationApp.Constants
@using CO.CDP.Localization
@using CO.CDP.Organisation.WebApiClient

@{
    ViewData["Title"] = StaticTextResource.Users_ViewAdmins_Title;
}

@section BeforeContent {
    <a href="/organisation/@Model.Id" class="govuk-back-link">@StaticTextResource.Global_Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="@Model.ModelState"/>
    </div>
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">
            @ViewData["Title"]
        </h1>

        @foreach (var p in Model.Persons)
        {
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        @p.FirstName @p.LastName
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @p.Email
                    </dd>
                </div>
            </dl>
        }
    </div>
</div>

<div class="govuk-!-margin-top-8">
    <a class="govuk-link" href="/organisation/@Model.Id">@StaticTextResource.Global_BackToOrganisationDetails</a>
</div>