@page "/organisation/{organisationId:guid}/forms/{formId:guid}/sections/{sectionId:guid}/add-exclusion-declaration"
@model AddExclusionDeclarationModel
@using CO.CDP.Localization

@{
    ViewData["Title"] = StaticTextResource.Exclusions_AddExclusionDeclaration_Title;
}

@section BeforeContent {
    <a href="/organisation/@Model.OrganisationId/supplier-information" class="govuk-back-link">@StaticTextResource.Global_Back</a>
}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

        <p class="govuk-body">
            @StaticTextResource.Exclusions_AddExclusionDeclaration_Paragraph1
        </p>
        <p class="govuk-body">
            @StaticTextResource.Exclusions_AddExclusionDeclaration_Paragraph2
        </p>
        <div class="govuk-inset-text">
            @Html.Raw(string.Format(StaticTextResource.Exclusions_AddExclusionDeclaration_InsetText,
                     $"/organisation/{Model.OrganisationId}/supplier-information/connected-person/declaration"))
        </div>
        <p class="govuk-body">
            @StaticTextResource.Exclusions_AddExclusionDeclaration_Paragraph3
        </p>

        <h2 class="govuk-heading-m">@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryExclusionsHeading</h2>
        <p class="govuk-body">@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryExclusionsIntro</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryExclusions_Penalty1</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryExclusions_Penalty2</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryExclusions_Penalty3</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryExclusions_Penalty4</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryExclusions_Penalty5</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryExclusions_Penalty6</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryExclusions_Penalty7</li>
        </ul>

        <p class="govuk-body">@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryConvictionsIntro</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryConvictions_Conviction1</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryConvictions_Conviction2</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryConvictions_Conviction3</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryConvictions_Conviction4</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryConvictions_Conviction5</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryConvictions_Conviction6</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryConvictions_Conviction7</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryConvictions_Conviction8</li>
        </ul>

        <p class="govuk-body">
            @Html.Raw(string.Format(StaticTextResource.Exclusions_AddExclusionDeclaration_MandatoryExclusionsLinkText,
                     "https://www.legislation.gov.uk/ukpga/2023/54/schedule/6"))
        </p>

        <h2 class="govuk-heading-m">@StaticTextResource.Exclusions_AddExclusionDeclaration_DiscretionaryExclusionsHeading</h2>
        <p class="govuk-body">@StaticTextResource.Exclusions_AddExclusionDeclaration_DiscretionaryExclusionsIntro</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_DiscretionaryExclusions_Exclusion1</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_DiscretionaryExclusions_Exclusion2</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_DiscretionaryExclusions_Exclusion3</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_DiscretionaryExclusions_Exclusion4</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_DiscretionaryExclusions_Exclusion5</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_DiscretionaryExclusions_Exclusion6</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_DiscretionaryExclusions_Exclusion7</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_DiscretionaryExclusions_Exclusion8</li>
            <li>@StaticTextResource.Exclusions_AddExclusionDeclaration_DiscretionaryExclusions_Exclusion9</li>
        </ul>

        <div id="court-rulings-body" class="govuk-body">
            @Html.Raw(string.Format(StaticTextResource.Exclusions_AddExclusionDeclaration_DiscretionaryExclusionsLinkText,
                     "https://www.legislation.gov.uk/ukpga/2023/54/schedule/7"))
        </div>

        <a class="govuk-button govuk-!-margin-top-5" role="button" data-module="govuk-button"
           href="/organisation/@Model.OrganisationId/forms/@Model.FormId/sections/@Model.SectionId">@StaticTextResource.Global_Continue</a>
    </div>
</div>
