@page "/{id:guid}"
@model DetailsModel
@{
    ViewData["Title"] = Model.Result?.Title ?? "Details";
}

<govuk-back-link href="/">Back to search results</govuk-back-link>

@if (Model.Result != null)
{
    <div class="govuk-width-container">
        <h1 class="govuk-heading-l">@Model.Result.Title</h1>
        <p class="govuk-caption-m">@Model.Result.Caption</p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Type</dt>
                <dd class="govuk-summary-list__value">@Model.Result.CommercialTool</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Status</dt>
                <dd class="govuk-summary-list__value">@Model.Result.Status</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Maximum fee</dt>
                <dd class="govuk-summary-list__value">@Model.Result.MaximumFee</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Other contracting authority can use</dt>
                <dd class="govuk-summary-list__value">@Model.Result.OtherContractingAuthorityCanUse</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Submission deadline</dt>
                <dd class="govuk-summary-list__value">@Model.Result.SubmissionDeadline</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Contract dates</dt>
                <dd class="govuk-summary-list__value">@Model.Result.ContractDates</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Award method</dt>
                <dd class="govuk-summary-list__value">@Model.Result.AwardMethod</dd>
            </div>
        </dl>
    </div>
}
else
{
    <p class="govuk-body">No details found.</p>
}
