@model CO.CDP.UserManagement.App.Models.ChangeApplicationRolesCheckViewModel
@{
    ViewData["Title"] = "Check application role changes";
    var changeUrl = Model.IsPending
        ? $"/organisation/{Model.OrganisationId}/invites/{Model.InviteGuid}/application-roles/change"
        : $"/organisation/{Model.OrganisationId}/user/{Model.CdpPersonId}/application-roles/change";
}

@section BeforeContent {
    <a href="@changeUrl" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="app-filter-container govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">@Model.UserDisplayName</h2>
            <p class="govuk-body govuk-!-margin-bottom-0">@Model.Email</p>
        </div>

        <h1 class="govuk-heading-xl">Check application role changes</h1>

        @foreach (var app in Model.ChangedApplications)
        {
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">@app.ApplicationName</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-6">
                @if (app.IsNewAssignment)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Access</dt>
                        <dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--green">New access</strong></dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="@changeUrl">
                                Change<span class="govuk-visually-hidden"> access for @app.ApplicationName</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Role</dt>
                        <dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--purple">@app.NewRoleName</strong></dd>
                    </div>
                }
                else
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Current role</dt>
                        <dd class="govuk-summary-list__value">@app.CurrentRoleName</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">New role</dt>
                        <dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--purple">@app.NewRoleName</strong></dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="@changeUrl">
                                Change<span class="govuk-visually-hidden"> new role for @app.ApplicationName</span>
                            </a>
                        </dd>
                    </div>
                }
            </dl>
        }

        <p class="govuk-body">Check the changes above before saving. Existing application access that is not shown here will stay the same.</p>

        <form method="post">
            @Html.AntiForgeryToken()
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">Save changes</button>
                <a class="govuk-link" href="/organisation/@Model.OrganisationId">Cancel</a>
            </div>
        </form>
    </div>
</div>
