@page "/consortium/{id}/overview"
@using CO.CDP.OrganisationApp.Constants
@using CO.CDP.OrganisationApp.WebApiClients
@using CO.CDP.Localization

@inject IUserInfoService userInfoService

@model ConsortiumOverviewModel

@{
    var organisationDetails = Model.OrganisationDetails!;
    var postalAddress = organisationDetails.Addresses.FirstOrDefault(a => a.Type == CO.CDP.Organisation.WebApiClient.AddressType.Postal);
    bool isViewer = await userInfoService.IsViewer();
    ViewData["Title"] = organisationDetails.Name;
}


@section BeforeContent {
    <a href="/consortium/address/uk" class="govuk-back-link">@StaticTextResource.Global_Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-body">
    <span class="govuk-caption-l">
      PPON: S3XYPP0N
    </span>
    <h1 class="govuk-heading-l">
      My fab consortium
    </h1>

    <h2 class="govuk-heading-m">Consortium details</h2>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Name</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">@organisationDetails.Name</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="org-name">Change<span class="govuk-visually-hidden"> consortium name</span></a>
        </dd>
      </div>
        
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Address</dt>
            <dd class="govuk-summary-list__value">
                <p class="govuk-body">@postalAddress.StreetAddress</p>
                <p class="govuk-body">@postalAddress.Locality</p>
                @if (!string.IsNullOrWhiteSpace(postalAddress.Region))
                {
                    <p class="govuk-body">@postalAddress.Region</p>
                }
                <p class="govuk-body">@postalAddress.PostalCode</p>
                <p class="govuk-body">@postalAddress.CountryName</p>
            </dd>
        <authorize scope="@OrgScopeRequirement.Editor">
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="/organisation/@Model.Id/address/@(postalAddress.Country == Country.UKCountryCode ? "uk" : "non-uk")?frm-overview">@Html.Raw(StaticTextResource.Organisation_ChangeAddress)</a>
            </dd>
        </authorize>
    </div>
        
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Email address</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">@organisationDetails.ContactPoint.Email</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="contact-details">Change<span class="govuk-visually-hidden"> consortium address</span></a>
        </dd>
      </div>



    </dl>

    <h2 class="govuk-heading-m">Organisations in this consortium</h2>


    
    <p>To add an organisation you'll need its most recent share code</p>
    <div class="govuk-body">
      <a class="govuk-button govuk-button--secondary" href="enter-sharecode">Add an organisation</a>
    </div>

    <hr class="govuk-section-break govuk-section-break--l">

    <h2 class="govuk-heading-m">Share your combined supplier information</h2>

    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="manage-codes" aria-describedby="before-you-start-2-status">
            Declare and create a share code
          </a>
        </div>

        <div class="govuk-task-list__status" id="before-you-start-2-status">

          
          <strong class="govuk-tag govuk-tag--orange">
            Cannot start yet
          </strong>
          
        </div>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l">

    <div class="govuk-!-margin-top-3">
        <a class="govuk-link" href="org-dashboard">Back to my account</a>
      </div>
    </div>
</div>
