@page "/consortium/address/{UkOrNonUk}"
@model CO.CDP.OrganisationApp.Pages.Consortium.ConsortiumAddressModel
@using CO.CDP.Localization

@{
    ViewData["Title"] = Model.Address.Heading;
    var backLink = ConsortiumStepModel.ConsortiumNamePage;

    if (Model.Address.IsNonUkAddress)
    {
        backLink = $"/consortium/address/uk";
        if (Model.RedirectToCheckYourAnswer == true)
        {
            backLink += "?frm-chk-answer=true";
        }
    }
    else
    {
        if (Model.RedirectToCheckYourAnswer == true)
        {
            backLink = ConsortiumStepModel.ConsortiumCheckAnswerPage + "?frm-chk-answer=true";
        }
    }

}

@section BeforeContent {
    <a href="@backLink" class="govuk-back-link">
        @StaticTextResource.Global_Back
    </a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="@ModelState" />
        <form method="post">
            <span class="govuk-caption-l">
                @Model.ConsortiumName
            </span>
            <partial name="_Address" model="@Model.Address" />
        </form>
    </div>
</div>