@page
@attribute [RazorCompiledItemMetadata("RouteTemplate", ConsortiumStepModel.ConsortiumNamePage)]
@model ConsortiumNameModel
@using CO.CDP.Localization

@{
    ViewData["Title"] = StaticTextResource.Consortium_ConsortiumName_Heading;
    var consortiumNameHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.ConsortiumName)).HasInnerHtml;
    var backLink = Request.Query.ContainsKey("frm-chk-answer") ? ConsortiumStepModel.ConsortiumCheckAnswerPage : "/organisation-selection";
}

@section BeforeContent {
    <a href="@backLink" class="govuk-back-link">@StaticTextResource.Global_Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="@Model.ModelState" />
        <form class="form" method="post">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="consortiumName">
                    @ViewData["Title"]
                </label>
            </h1>

            <div id="consortiumName-hint" class="govuk-hint">
                @StaticTextResource.Consortium_ConsortiumName_Hint
            </div>

            <div class="govuk-form-group @(consortiumNameHasError ? "govuk-form-group--error" : "")">
                @if (consortiumNameHasError)
                {
                    <p id="organisation-name-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">@StaticTextResource.Global_Error:</span>
                        @Html.ValidationMessageFor(m => m.ConsortiumName)
                    </p>
                }
                <input class="govuk-input govuk-!-width-two-thirds @(consortiumNameHasError ? "govuk-input--error" : "")" id="@nameof(Model.ConsortiumName)"
                       value="@Model.ConsortiumName" name="@nameof(Model.ConsortiumName)" type="text"
                       spellcheck="false" @(consortiumNameHasError ? "aria-describedby=consortium-name-error" : "")>
            </div>
            <govuk-button>@StaticTextResource.Global_Continue</govuk-button>
        </form>
    </div>
</div>
