@page "/organisation/{id}/manage-api-key/{apikey}/details"
@model NewApiKeyDetailsModel
@using CO.CDP.Localization

@{
    ViewData["Title"] = StaticTextResource.ApiKeyManagement_NewApiKeyDetails_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">
            <div class="govuk-grid-column-full">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">@ViewData["Title"]</h1>
                    <div class="govuk-panel__body">
                        @StaticTextResource.ApiKeyManagement_NewApiKeyDetails_YourApiKey<br>
                        <strong id="apikeytext">@Model.ApiKey</strong>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-inset-text">
                        @StaticTextResource.ApiKeyManagement_NewApiKeyDetails_CopyApiKey
                    </div>
                    <p class="govuk-body">
                        @StaticTextResource.ApiKeyManagement_NewApiKeyDetails_Notice
                    </p>

                    <govuk-button id="copybutton" type="button" class="govuk-button--secondary govuk-visually-hidden" prevent-double-click="false">
                        @StaticTextResource.ApiKeyManagement_NewApiKeyDetails_CopyButton
                    </govuk-button>

                    <p>
                        <a data-testid="backtoManageApiKey" class="govuk-link govuk-link--no-visited-state" href="/organisation/@Model.Id/manage-api-keys">@StaticTextResource.ApiKeyManagement_NewApiKeyDetails_BackToApiKeys</a>
                    </p>
                </div>
            </div>
        </form>
        <script nonce-csp>
            var copyButton = document.getElementById("copybutton");
            copyButton.classList.remove('govuk-visually-hidden');

            const copyContent =
                async (id) => {
                    try {
                        const text = document.getElementById(id).innerHTML;
                        await navigator.clipboard.writeText(text);
                    }
                    catch (e) { }
                }

            copyButton.addEventListener("click", () => copyContent("apikeytext"));
        </script>
    </div>
</div>
