@page "/organisation/{id}/supplier-information/connected-person/law-enforces/{ConnectedEntityId?}"
@model CO.CDP.OrganisationApp.Pages.Supplier.ConnectedEntityLawEnforceModel

@{
    var lawRegister = ((TagBuilder)Html.ValidationMessageFor(m => m.LawRegistered)).HasInnerHtml;

    var backPage = Request.Query.ContainsKey("frm-chk-answer") ? "check-answers-organisation" : Model.BackPageLink;
    var backLink = $"/organisation/{Model.Id}/supplier-information/connected-person/{backPage}/{Model.ConnectedEntityId}";
}

<a href="@backLink" class="govuk-back-link">
    Back
</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">@Model.Caption</span>
            <partial name="_ErrorSummary" model="@ModelState" />

            <form method="post">
                <fieldset class="govuk-fieldset" data-required="" data-error="Enter the legal form of the organisation" aria-required="true">
                    @if (Request.Query.ContainsKey("frm-chk-answer"))
                    {
                        <input type="hidden" name="RedirectToCheckYourAnswer" value="true" />
                    }
                    <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--l" for="legalForm">
                                @Model.Heading
                            </label>
                        </h1>
                        <div id="legalForm-hint" class="govuk-hint">
                            In the UK the Companies House Act 2006 enforces the limited company legal form.
                        </div>
                        <div class="govuk-form-group govuk-!-width-two-thirds @(lawRegister ? "govuk-form-group--error" : "")">
                            @if (lawRegister)
                            {
                                <p id="organisation-name-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    @Html.ValidationMessageFor(m => m.LawRegistered)
                                </p>
                            }
                            <input class="govuk-input @(lawRegister ? "govuk-input--error" : "")" id="@nameof(Model.LawRegistered)"
                                   value="@Model.LawRegistered" name="@nameof(Model.LawRegistered)" type="text"
                                   spellcheck="false" @(lawRegister ? "aria-describedby=organisation-name-error" : "")>
                        </div>
                    </div>

                    <button type="submit"
                            class="govuk-button"
                            data-prevent-double-click="true" data-module="govuk-button">
                        Continue
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</main>