@page "/organisation/{id}/supplier-information/connected-person/date-registered/{ConnectedEntityId?}"
@model CO.CDP.OrganisationApp.Pages.Supplier.ConnectedEntityCompanyRegistrationDateModel

@{
    var dayHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.Day)).HasInnerHtml;
    var monthHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.Month)).HasInnerHtml;
    var yearHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.Year)).HasInnerHtml;
    var dateOfRegistrationHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.RegistrationDate)).HasInnerHtml;
    var hasError = dateOfRegistrationHasError || dayHasError || monthHasError || yearHasError;

    var backLink = $"/organisation/{Model.Id}/supplier-information/connected-person/nature-of-control/{Model.ConnectedEntityId}";
    if (Request.Query.ContainsKey("frm-chk-answer"))
    {
        var InduvOrOrg = "check-answers-organisation";

        if (Model.ConnectedEntityType != Constants.ConnectedEntityType.Organisation)
        {
            InduvOrOrg = "check-answer-individual-trust";
        }

        backLink = $"/organisation/{Model.Id}/supplier-information/connected-person/{InduvOrOrg}/{Model.ConnectedEntityId}";        
    }
}

<a href="@backLink" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@Model.ModelState" />
            <form class="form" method="post">
                @if (Request.Query.ContainsKey("frm-chk-answer"))
                {
                    <input type="hidden" name="RedirectToCheckYourAnswer" value="true" />
                }
                <div class="govuk-form-group @(hasError ? "govuk-form-group--error" : "")">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="connectedPersonDateHint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <span class="govuk-caption-l">@Model.Caption</span>
                            <h1 class="govuk-fieldset__heading">@Model.Heading</h1>
                        </legend>
                        <div id="connectedPersonDate-hint" class="govuk-hint">
                            For example, the date a person with significant control was registered with Companies House.
                            <br><br>
                            For example, 27 03 2007
                        </div>
                        @if (dayHasError)
                        {
                            <p id="day-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                @Html.ValidationMessageFor(m => m.Day)
                            </p>
                        }
                        @if (monthHasError)
                        {
                            <p id="month-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                @Html.ValidationMessageFor(m => m.Month)
                            </p>
                        }
                        @if (yearHasError)
                        {
                            <p id="year-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                @Html.ValidationMessageFor(m => m.Year)
                            </p>
                        }
                        @if (dateOfRegistrationHasError)
                        {
                            <p id="date-of-formation-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                @Html.ValidationMessageFor(m => m.RegistrationDate)
                            </p>
                        }
                        <div class="govuk-date-input" id="connectedPersonDate">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="connectedPersonDateDay">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 @(dayHasError || dateOfRegistrationHasError ? "govuk-input--error" : "")"
                                           id="connectedPersonDateDay" name="Day" type="text" inputmode="numeric" value="@Model.Day">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="connectedPersonDateMonth">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 @(monthHasError || dateOfRegistrationHasError ? "govuk-input--error" : "")"
                                           id="connectedPersonDateMonth" name="Month" type="text" inputmode="numeric" value="@Model.Month">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="connectedPersonDateYear">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4 @(yearHasError || dateOfRegistrationHasError ? "govuk-input--error" : "")"
                                           id="connectedPersonDateYear" name="Year" type="text" inputmode="numeric" value="@Model.Year">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button" data-prevent-double-click="true" data-module="govuk-button" type="submit">Continue</button>
            </form>
        </div>
    </div>
</main>