@page "/organisation/{id}/supplier-information/connected-person/organisation-name/{ConnectedEntityId?}"
@model CO.CDP.OrganisationApp.Pages.Supplier.ConnectedEntityOrganisationNameModel

@{
    var organisationNameHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.OrganisationName)).HasInnerHtml;

    var categoryPage = (Model.ConnectedEntityType == Constants.ConnectedEntityType.Organisation
                            ? "organisation-category" : "");
    
    var backPage = Request.Query.ContainsKey("frm-chk-answer") ? "check-answers-organisation" : categoryPage;

    var backLink = $"/organisation/{@Model.Id}/supplier-information/connected-person/{backPage}";
}

<a href="@backLink" class="govuk-back-link">
    Back
</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">@Model.Caption</span>
            <partial name="_ErrorSummary" model="@ModelState" />

            <form method="post">
                @if (Request.Query.ContainsKey("frm-chk-answer"))
                {
                    <input type="hidden" name="RedirectToCheckYourAnswer" value="true" />
                }
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">

                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--l" for="@nameof(Model.OrganisationName)">
                                @Html.DisplayNameFor(m => m.OrganisationName)
                            </label>
                        </h1>

                        <div id="hint" class="govuk-hint">The name of the 'connected person' that has control or influence over your organisation.</div>

                        <div class="govuk-form-group @(organisationNameHasError ? "govuk-form-group--error" : "")">
                            @if (organisationNameHasError)
                            {
                                <p id="organisation-name-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    @Html.ValidationMessageFor(m => m.OrganisationName)
                                </p>
                            }
                            <input class="govuk-input govuk-!-width-two-thirds @(organisationNameHasError ? "govuk-input--error" : "")" id="@nameof(Model.OrganisationName)"
                                   value="@Model.OrganisationName" name="@nameof(Model.OrganisationName)" type="text"
                                   spellcheck="false" @(organisationNameHasError ? "aria-describedby=organisation-name-error" : "")>
                        </div>

                    </fieldset>
                </div>

                <button type="submit"
                        class="govuk-button"
                        data-prevent-double-click="true" data-module="govuk-button">
                    Continue
                </button>

            </form>
        </div>
    </div>
</main>