@page "/organisation/{id}/supplier-information/connected-person-type/{connectedEntityId?}"
@model CO.CDP.OrganisationApp.Pages.Supplier.ConnectedEntitySelectTypeModel

@{
    var personQuestionHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.ConnectedEntityType)).HasInnerHtml;

    string IsSelected(Constants.ConnectedEntityType radioValue)
    {
        return Model.ConnectedEntityType == radioValue ? "checked='checked'" : string.Empty;
    }
}

<a href="/organisation/@Model.Id/supplier-information/connected-person-company-question?selected=true" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@Model.ModelState" />
            <form class="form" method="post">
                <div class="govuk-form-group @(personQuestionHasError ? "govuk-form-group--error": "")">
                    <fieldset class="govuk-fieldset" data-required="" data-error="Select organisation, person or an equivalent Stand in." aria-required="true">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Select the relevant option
                            </h1>
                        </legend>
                        <div id="connected-hint" class="govuk-hint">
                            A ‘connected person’ can be an individual, organisation or trustee or trust.
                        </div>
                        <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios">
                            @if (personQuestionHasError)
                            {
                                <p id="registered-org-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @Html.ValidationMessageFor(m => m.ConnectedEntityType)
                                </p>
                            }

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="personQuestion" name="ConnectedEntityType" type="radio" value="@Constants.ConnectedEntityType.Organisation"
                                       data-aria-controls="conditional-personQuestion" @IsSelected(Constants.ConnectedEntityType.Organisation)>
                                <label class="govuk-label govuk-radios__label" for="personQuestion">
                                    Organisation
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="personQuestion-2" name="ConnectedEntityType" type="radio" value="@Constants.ConnectedEntityType.Individual"
                                       data-aria-controls="conditional-personQuestion-2" @IsSelected(Constants.ConnectedEntityType.Individual)>
                                <label class="govuk-label govuk-radios__label" for="personQuestion-2">
                                    Individual
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="personQuestion-3" name="ConnectedEntityType" type="radio" value="@Constants.ConnectedEntityType.TrustOrTrustee"
                                       data-aria-controls="conditional-personQuestion-3" @IsSelected(Constants.ConnectedEntityType.TrustOrTrustee)>
                                <label class="govuk-label govuk-radios__label" for="personQuestion-3">
                                    Trustee or trust
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button class="govuk-button govuk-!-margin-top-4" type="submit">Continue</button>
            </form>
        </div>
    </div>
</main>