@page "/organisation/{id}/supplier-information/connected-person/law-register/{ConnectedEntityId?}"
@model CO.CDP.OrganisationApp.Pages.Supplier.ConnectedEntityLawRegisterModel
@using CO.CDP.Localization

@{
    ViewData["Title"] = Model.LegalFormDisplayText;
    var legalFormHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.LegalForm)).HasInnerHtml;

    var lawRegisterHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.LawRegistered)).HasInnerHtml;

    var backPage = Request.Query.ContainsKey("frm-chk-answer") ? "check-answers-organisation" : Model.BackPageLink;
    var backLink = $"/organisation/{Model.Id}/supplier-information/connected-person/{backPage}/{Model.ConnectedEntityId}";
}

@section BeforeContent {
    <a href="@backLink" class="govuk-back-link">
        @StaticTextResource.Global_Back
    </a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.Caption</span>
        <partial name="_ErrorSummary" model="@ModelState" />

        <form method="post">
            <fieldset class="govuk-fieldset">
                @if (Request.Query.ContainsKey("frm-chk-answer"))
                {
                    <input type="hidden" name="RedirectToCheckYourAnswer" value="true" />
                }
                <h1 class="govuk-heading-l">
                    @ViewData["Title"]
                </h1>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="legalForm">
                        @StaticTextResource.Supplier_ConnectedEntity_ConnectedEntityLawRegister_LegalFormationLabel
                    </label>
                    <div id="legalFormation-hint-1" class="govuk-hint">
                        @StaticTextResource.Supplier_ConnectedEntity_ConnectedEntityLawRegister_LegalFormationHint
                    </div>

                    <div class="govuk-form-group @(legalFormHasError ? "govuk-form-group--error" : "")">
                        @if (legalFormHasError)
                        {
                            <p id="legalForm-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">@StaticTextResource.Global_Error:</span>
                                @Html.ValidationMessageFor(m => m.LegalForm)
                            </p>
                        }
                        <input class="govuk-input @(legalFormHasError ? "govuk-input--error" : "")" id="@nameof(Model.LegalForm)"
                                value="@Model.LegalForm" name="@nameof(Model.LegalForm)" type="text"
                                spellcheck="false" @(legalFormHasError ? "aria-describedby=legalForm-error" : "")>
                    </div>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="LawRegistered">
                        @StaticTextResource.Supplier_ConnectedEntity_ConnectedEntityLawRegister_LawEnforcesLabel
                    </label>
                    <div id="legalFormation-hint-2" class="govuk-hint">
                        @StaticTextResource.Supplier_ConnectedEntity_ConnectedEntityLawRegister_LawEnforcesHint
                    </div>
                    <div class="govuk-form-group @(lawRegisterHasError ? "govuk-form-group--error" : "")">
                        @if (lawRegisterHasError)
                        {
                            <p id="LawRegistered-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">@StaticTextResource.Global_Error:</span>
                                @Html.ValidationMessageFor(m => m.LawRegistered)
                            </p>
                        }
                        <input class="govuk-input @(lawRegisterHasError ? "govuk-input--error" : "")" id="@nameof(Model.LawRegistered)"
                                value="@Model.LawRegistered" name="@nameof(Model.LawRegistered)" type="text"
                                spellcheck="false" @(lawRegisterHasError ? "aria-describedby=LawRegistered-error" : "")>
                    </div>
                </div>

                <govuk-button>
                    @StaticTextResource.Global_Continue
                </govuk-button>
            </fieldset>
        </form>
    </div>
</div>
