@page "/organisation/{id}/supplier-information/connected-person/check-answers-organisation/{connectedEntityId?}"
@using CO.CDP.OrganisationApp.Constants
@model CO.CDP.OrganisationApp.Pages.Supplier.ConnectedEntityCheckAnswersOrganisationModel
@{
    var details = Model.ConnectedEntityDetails!;
    var ukNonUkRegisterAddress = details.RegisteredAddress!.IsNonUk ? "non-uk" : "uk";
    var ukNonUkPostalAddress = details.PostalAddress != null ? (details.PostalAddress.IsNonUk ? "non-uk" : "uk") : "uk";
    var backLink = $"/organisation/{Model.Id}/supplier-information/connected-person/{Model.BackPageLink}/{Model.ConnectedEntityId}";

    var registerDatePage = details.SupplierHasCompanyHouseNumber == false ? "date-registered-question" : "date-registered";

    if (Model.ConnectedEntityId != null)
    {
        backLink = $"/organisation/{Model.Id}/supplier-information/connected-person/connected-person-summary";
    }

    var registrationLink = $"/organisation/{Model.Id}/supplier-information/connected-person/{registerDatePage}/{Model.ConnectedEntityId}?frm-chk-answer=true";
    if (Model.ShowRegisterDate)
    {
        registrationLink += details.HasRegistartionDate.HasValue ? "" : "&selected=false";
    }
}

<a href="@backLink" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form class="form" method="post">
                <span class="govuk-caption-l">@Model.Caption</span>
                <h1 class="govuk-heading-l">@Model.Heading</h1>
                <dl class="govuk-summary-list">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Company name:
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @details.OrganisationName
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/connected-person/organisation-name/@Model.ConnectedEntityId?frm-chk-answer=true">
                                Change<span class="govuk-visually-hidden">
                                    the organisation name
                                </span>
                            </a>
                        </dd>
                    </div>
                    @if (details.RegisteredAddress != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Registered address:
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">@details.RegisteredAddress.AddressLine1</p>
                                <p class="govuk-body">@details.RegisteredAddress.TownOrCity</p>
                                <p class="govuk-body">@details.RegisteredAddress.Postcode</p>
                                <p class="govuk-body">@details.RegisteredAddress.CountryName</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/connected-person/registered-address/@ukNonUkRegisterAddress/@Model.ConnectedEntityId?frm-chk-answer=true">
                                    Change<span class="govuk-visually-hidden">
                                        the organisation's address
                                    </span>
                                </a>
                            </dd>
                        </div>
                    }
                    @if (details.PostalAddress != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Postal address:
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">@details.PostalAddress!.AddressLine1</p>
                                <p class="govuk-body">@details.PostalAddress.TownOrCity</p>
                                <p class="govuk-body">@details.PostalAddress.Postcode</p>
                                <p class="govuk-body">@details.PostalAddress.CountryName</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/connected-person/postal-address/@ukNonUkPostalAddress/@Model.ConnectedEntityId?frm-chk-answer=true">
                                    Change<span class="govuk-visually-hidden">
                                        the organisation's address
                                    </span>
                                </a>
                            </dd>
                        </div>
                    }                                        

                    @if (details.SupplierHasCompanyHouseNumber == true)
                    {
                        @if (Model.ShowLegalForm)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Legal form and law:
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @details.LegalForm <br>
                                    @details.LawRegistered
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/connected-person/law-register/@Model.ConnectedEntityId?frm-chk-answer=true">
                                        Change<span class="govuk-visually-hidden">
                                            the Legal form
                                        </span>
                                    </a>
                                </dd>
                            </div>
                        }
                    }
                    else
                    {
                        @if (Model.ShowLegalForm)
                        {
                            var enforceLinkPage = details.HasLegalForm == true ? "law-enforces" : "legal-form-question";

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Legal form:
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @details.LegalForm
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/connected-person/legal-form-question/@Model.ConnectedEntityId?frm-chk-answer=true">
                                        Change<span class="govuk-visually-hidden">
                                            the Legal form
                                        </span>
                                    </a>
                                </dd>
                            </div>
                        
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Enforced by:
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @details.LawRegistered
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/connected-person/@enforceLinkPage/@Model.ConnectedEntityId?frm-chk-answer=true">
                                        Change<span class="govuk-visually-hidden">
                                            which law enforces it?
                                        </span>
                                    </a>
                                </dd>
                            </div>
                        }
                    }

                    @if (details.HasCompaniesHouseNumber.HasValue)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Companies House registered:
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Html.Raw((details.HasCompaniesHouseNumber == true ?
                                         $"Yes<br>Company House no. {details.CompaniesHouseNumber}"
                                         : "No"))
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/connected-person/company-question/@Model.ConnectedEntityId?frm-chk-answer=true">
                                    Change<span class="govuk-visually-hidden">
                                        the company house number
                                    </span>
                                </a>
                            </dd>
                        </div>
                    }

                    @if (details.HasOverseasCompaniesHouseNumber.HasValue)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Registered with overseas equivalent:
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Html.Raw(details.HasOverseasCompaniesHouseNumber == true ? $"Yes<br>{details.OverseasCompaniesHouseNumber}" : "No")
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/connected-person/overseas-company-question/@Model.ConnectedEntityId?frm-chk-answer=true">
                                    Change<span class="govuk-visually-hidden">
                                        the company house number
                                    </span>
                                </a>
                            </dd>
                        </div>
                    }

                    @if (details.ControlConditions.Any())
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Conditions of control:
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Html.Raw(string.Join("", details.ControlConditions.Select(x => $"<li>{x.Description()}</li>")))
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/connected-person/nature-of-control/@Model.ConnectedEntityId?frm-chk-answer=true">
                                    Change<span class="govuk-visually-hidden">
                                        the nature of control
                                    </span>
                                </a>
                            </dd>
                        </div>
                    }

                    @if (Model.ShowRegisterDate)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Registered date:
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Html.Raw(details.RegistrationDate.HasValue == true
                                         ? $"Yes<br>On {details.RegistrationDate.Value.ToString("dd/MM/yyyy")}"
                                         : "No")                                
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="@registrationLink">
                                    Change<span class="govuk-visually-hidden">
                                        the registered date
                                    </span>
                                </a>
                            </dd>
                        </div>
                    }

                    @if (details.InsolvencyDate.HasValue)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Insolvency date:
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @details.InsolvencyDate!.Value.ToString("dd/MM/yyyy")
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/connected-person/date-insolvency/@Model.ConnectedEntityId?frm-chk-answer=true">
                                    Change<span class="govuk-visually-hidden">
                                        the insolvency date
                                    </span>
                                </a>
                            </dd>
                        </div>
                    }

                    @if (!string.IsNullOrWhiteSpace(details.RegisterName))
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Register name:
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @if (ConnectedEntityCompanyRegisterNameModel.RegisterNameType.Keys.Contains(details.RegisterName!))
                                {
                                    @(ConnectedEntityCompanyRegisterNameModel.RegisterNameType[details.RegisterName!])
                                }
                                else
                                {
                                    @Html.Raw($"Other<br>{details.RegisterName}")                                    
                                }                                
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/connected-person/company-register-name/@Model.ConnectedEntityId?frm-chk-answer=true">
                                    Change<span class="govuk-visually-hidden">
                                        the registered name
                                    </span>
                                </a>
                            </dd>
                        </div>
                    }
                </dl>

                <govuk-button>Submit</govuk-button>
            </form>
        </div>
    </div>
</main>