@page "/organisation/{id}/supplier-information/connected-person/check-answer-individual-trust/{ConnectedEntityId?}"
@using CO.CDP.OrganisationApp.Constants
@model CO.CDP.OrganisationApp.Pages.Supplier.ConnectedEntityCheckAnswersIndividualOrTrustModel
@{
    var details = Model.ConnectedEntityDetails!;
    var ukNonUkRegisterAddress = details.RegisteredAddress!.IsNonUk ? "non-uk" : "uk";    
}
<a href="/organisation/@Model.Id/supplier-information/connected-person/date-registered" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form class="form" method="post">
                <span class="govuk-caption-l">@Model.Caption</span>
                <h1 class="govuk-heading-l">@Model.Heading</h1>
                <dl class="govuk-summary-list">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            PSC details:
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@details.FirstName</p>
                            <p class="govuk-body">@details.LastName</p>
                            <p class="govuk-body">DoB: @details.DateOfBirth?.ToString("dd/MM/yyyy")</p>
                            <p class="govuk-body">@details.Nationality</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/connected-person/individual-psc-details/@Model.ConnectedEntityId?frm-chk-answer">
                                Change<span class="govuk-visually-hidden">
                                    the person of significant control's details
                                </span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Registered address:
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@details.RegisteredAddress!.AddressLine1</p>
                            <p class="govuk-body">@details.RegisteredAddress.TownOrCity</p>
                            <p class="govuk-body">@details.RegisteredAddress.Postcode</p>
                            <p class="govuk-body">@details.RegisteredAddress.Country</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/connected-person/registered-address/@ukNonUkRegisterAddress/@Model.ConnectedEntityId?frm-chk-answer">
                                Change<span class="govuk-visually-hidden">
                                    the person's address
                                </span>
                            </a>
                        </dd>
                    </div>
                    @if (details.PostalAddress != null)
                    {
                        var ukNonUkPostalAddress = details.PostalAddress.IsNonUk ? "non-uk" : "uk";

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Postal address:
                            </dt>
                            <dd class="govuk-summary-list__value">

                                <p class="govuk-body">@details.PostalAddress.AddressLine1</p>
                                <p class="govuk-body">@details.PostalAddress.TownOrCity</p>
                                <p class="govuk-body">@details.PostalAddress.Postcode</p>
                                <p class="govuk-body">@details.PostalAddress.Country</p>

                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/connected-person/postal-address/@ukNonUkPostalAddress/@Model.ConnectedEntityId?frm-chk-answer">
                                    Change<span class="govuk-visually-hidden">
                                        the person's address
                                    </span>
                                </a>
                            </dd>
                        </div>
                    }
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Conditions of control:
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Html.Raw(string.Join("", details.ControlConditions.Select(x => $"<li>{x.Description()}</li>")))
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/connected-person/nature-of-control/@Model.ConnectedEntityId?frm-chk-answer">
                                Change<span class="govuk-visually-hidden">
                                    the nature of control
                                </span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Registered date:
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @details.RegistrationDate!.Value.ToString("dd/MM/yyyy")
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/connected-person/date-registered/@Model.ConnectedEntityId?frm-chk-answer">
                                Change<span class="govuk-visually-hidden">
                                    the registered date
                                </span>
                            </a>
                        </dd>
                    </div>
                </dl>

                <button class="govuk-button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</main>