@page "/organisation/{organisationId:guid}/not-signed-memorandum"
@using CO.CDP.Localization
@model CO.CDP.OrganisationApp.Pages.MoU.NotSignedMouModel

@{
    ViewData["Title"] = "Memorandum of Understanding (MoU) Required";
}

@section BeforeContent {
    <a href="@Model.BackLinkUrl" class="govuk-back-link">
        @StaticTextResource.Global_Back
    </a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (!Model.CanSignMou)
        {
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
                 data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        Only users with editor or admin permissions can sign the MoU
                    </p>
                </div>
            </div>
        }

        <h1 class="govuk-heading-l">Your organisation needs to sign the latest Memorandum of Understanding (MoU)</h1>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                Access to buyer services is restricted until the latest MoU is signed
            </strong>
        </div>

        <p class="govuk-body">@Model.OrganisationName needs to sign the latest MoU before
            you can access buyer services.</p>

        <p class="govuk-body">The MoU is an agreement between your organisation and the Crown Commercial Service that
            outlines:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>how you can use Digital Marketplace frameworks</li>
            <li>your responsibilities when buying</li>
            <li>how Crown Commercial Service can help you</li>
        </ul>

        <p class="govuk-body">Only a user with authority to sign agreements on behalf of your organisation can sign the MoU.</p>

        @if (Model.CanSignMou)
        {
            <div class="govuk-inset-text">
                <p class="govuk-body">As an editor or admin for @Model.OrganisationName, you can sign the MoU.</p>
            </div>

            <a href="/organisation/@Model.OrganisationId/review-and-sign-memorandom" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                Sign the MoU
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
                </svg>
            </a>
        }
        else
        {
            <div class="govuk-inset-text">
                <p class="govuk-body">As a viewer for @Model.OrganisationName, you cannot sign the MoU.</p>
                <p class="govuk-body">Please contact an editor or admin in your organisation to sign the MoU.</p>
            </div>
        }

        <p class="govuk-body">
            <a href="/" class="govuk-link">Return to the homepage</a>
        </p>
    </div>
</div>
