@page "/organisation/{id}/review-and-sign-memorandom-complete"
@model CO.CDP.OrganisationApp.Pages.MoU.ReviewAndSignMemorandomCompleteModel
@using CO.CDP.Localization
@{
    ViewData["Title"] = StaticTextResource.MoU_ReviewAndSignComplete_Title;
    var backLink = $"/organisation/{@Model.Id}";
}

@section BeforeContent {
    <a href="@backLink" class="govuk-back-link">@StaticTextResource.Global_Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">
            @ViewData["Title"]
        </h1>
        <p class="govuk-body">
            @Html.Raw(string.Format(@StaticTextResource.MoU_ReviewAndSignComplete_Link, Model.Id))
        </p>
        
    </div>
</div>
