@inject IFlashMessageService flashMessageService
@using CO.CDP.Localization
@using CO.CDP.UI.Foundation.Services

@if (flashMessageService.PeekFlashMessage(FlashMessageType.Success) != null)
{
    var message = flashMessageService.GetFlashMessage(FlashMessageType.Success);
    if (message != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            @if (message.Title != null)
                            {
                                @message.Title
                            }
                            else
                            {
                                <text>Success</text>
                            }
                        </h2>
                    </div>

                    <div class="govuk-notification-banner__content">
                        <h3 class="govuk-notification-banner__heading">@Html.Raw(message.Heading)</h3>

                        @if (message.Description != null)
                        {
                            <p>@Html.Raw(message.Description)</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}

@if (flashMessageService.PeekFlashMessage(FlashMessageType.Important) != null)
{
    var message = flashMessageService.GetFlashMessage(FlashMessageType.Important);
    if (message != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-notification-banner" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            @if (message.Title != null)
                            {
                                @message.Title
                            }
                            else
                            {
                                <text>Important</text>
                            }
                        </h2>
                    </div>


                    <div class="govuk-notification-banner__content">
                        <h3 class="govuk-notification-banner__heading">@Html.Raw(message.Heading)</h3>

                        @if (message.Description != null)
                        {
                            <p>@Html.Raw(message.Description)</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}

@if (flashMessageService.PeekFlashMessage(FlashMessageType.Failure) != null)
{
    var message = flashMessageService.GetFlashMessage(FlashMessageType.Failure);
    if (message != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-notification-banner app-notification-banner--failure" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            @if (message.Title != null)
                            {
                                @message.Title
                            }
                            else
                            {
                                @StaticTextResource.Global_Failure_Heading
                            }
                        </h2>
                    </div>

                    <div class="govuk-notification-banner__content">
                        <h3 class="govuk-notification-banner__heading">@Html.Raw(message.Heading)</h3>

                        @if (message.Description != null)
                        {
                            <p>@Html.Raw(message.Description)</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}
