@model CO.CDP.RegisterOfCommercialTools.App.Models.Accordion

<div class="govuk-accordion no-border govuk-filter-section govuk-!-margin-bottom-1 govuk-!-padding-top-2 govuk-!-padding-bottom-3" data-accordion-section>
    <div class="govuk-accordion__section no-border @(Model.IsOpen ? "govuk-accordion__section--expanded" : "")">
        <button type="button"
                class="govuk-accordion__section-button govuk-!-padding-left-2 govuk-!-padding-top-2 govuk-!-padding-right-2 govuk-!-padding-bottom-0 govuk-!-width-full no-border"
                aria-expanded="@(Model.IsOpen)" aria-controls="@Model.Id-content" data-accordion-button>
            <span class="custom-chevron govuk-!-margin-0 govuk-!-margin-right-2" aria-hidden="true">
                <svg class="custom-chevron-icon" xmlns="http://www.w3.org/2000/svg"
                     width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M3.75 6.75L7.5 10.5L11.25 6.75" stroke="#0b0c0c" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            <span class="govuk-body govuk-!-margin-0 govuk-!-font-weight-bold">
                @Model.Title
            </span>
        </button>
        <div id="@Model.Id-content" class="govuk-accordion__section-content no-border govuk-!-padding-bottom-0 govuk-!-margin-left-2" data-accordion-content>
            <partial name="@Model.PartialViewName" model="@Model.PartialViewModel" />
        </div>
    </div>
</div>
