@model CO.CDP.RegisterOfCommercialTools.App.Models.SearchModel

<div class="govuk-!-margin-top-0">
    <p class="govuk-body-s govuk-!-margin-bottom-0">Search for commercial tools being established, modified or terminated</p>
    <details class="govuk-details govuk-!-margin-top-2 govuk-!-padding-left-2" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text govuk-!-font-size-14">Definitions</span>
        </summary>
        <div class="govuk-details__text govuk-!-padding-bottom-1">
            <p class="govuk-body-s govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Framework</span></p>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                <li>a type of contract that allows the award of future contracts</li>
                <li>only suppliers who are part of the framework can bid for these future contracts</li>
            </ul>
            <p class="govuk-body-s govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Dynamic market</span></p>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                <li>a flexible arrangement where suppliers can join if they meet specific membership conditions</li>
                <li>only members of the market can bid for future contracts</li>
                <li>future contracts must be advertised through tender notices</li>
                <li>new suppliers can join at any time during the market's duration</li>
            </ul>
            <p class="govuk-body-s govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Utilities dynamic framework</span></p>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                <li>a dynamic market that can only be used by utility organisations to award utilities contracts</li>
                <li>tender notices can optionally be provided only to members of the market</li>
            </ul>
        </div>
    </details>
    <details class="govuk-details accordion-highlight"
             data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text govuk-!-font-size-14">Procurement Act 2023</span>
        </summary>
        <div class="govuk-details__text govuk-!-padding-0 no-border">
            <div class="govuk-form-group govuk-!-margin-bottom-0">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter-frameworks" name="filter_frameworks"
                               type="checkbox" value="true"
                               data-aria-controls="conditional-frameworks"
                               @(Model.FilterFrameworks ? "checked" : null)>
                        <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-14" for="filter-frameworks">
                            Frameworks
                        </label>
                    </div>
                    <div class="govuk-checkboxes__conditional @(Model.FilterFrameworks ? "" : "govuk-checkboxes__conditional--hidden")"
                         id="conditional-frameworks">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="open-frameworks" name="open_frameworks"
                                       type="checkbox" value="true"
                                       @(Model.IsOpenFrameworks ? "checked" : null)>
                                <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-14" for="open-frameworks">
                                    Open frameworks only
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter-markets" name="filter_markets"
                               type="checkbox" value="true"
                               data-aria-controls="conditional-markets"
                               @(Model.FilterDynamicMarkets ? "checked" : null)>
                        <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-14" for="filter-markets">
                            Dynamic Markets
                        </label>
                    </div>
                    <div class="govuk-checkboxes__conditional @(Model.FilterDynamicMarkets ? "" : "govuk-checkboxes__conditional--hidden")"
                         id="conditional-markets">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="utilities-only" name="utilities_only"
                                       type="checkbox" value="true"
                                       @(Model.IsUtilitiesOnly ? "checked" : null)>
                                <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-14" for="utilities-only">
                                    Utilities contracts only
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </details>
</div>
