@using CO.CDP.RegisterOfCommercialTools.App.Models
@using CO.CDP.RegisterOfCommercialTools.App.Pages
@model IndexModel
@{
    var locationSelection = Model.LocationSelection;
    var selectorOptions = new HierarchicalCodeSelectorOptions
    {
        CodeType = "Location",
        ModalTitle = "Select contract locations",
        SearchPlaceholder = "e.g. London or UK",
        RoutePrefix = "location",
        FieldName = "location",
        BrowseButtonId = "browse-location-codes",
        ModalId = "location-selector-modal",
        SearchInputId = "location-search",
        TreeContainerId = "location-tree",
        SearchContainerId = "location-search-results-list",
        SelectionContainerId = "location-selected-codes-list",
        AccordionContentId = "contract-location-content"
    };
}

<div class="govuk-!-margin-top-0" id="contract-location-content">
    @if (locationSelection.HasSelections)
    {
        <div class="govuk-summary-card filter-panel-card govuk-!-margin-top-3" id="location-selected-codes-display">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title">@locationSelection.SelectionSummary</h3>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a href="#" class="govuk-link" id="@selectorOptions.BrowseButtonId">Edit</a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    @foreach (var selectedItem in locationSelection.SelectedItems.OrderBy(x => x.GetDescription()))
                    {
                        <div class="govuk-summary-list__row" data-code="@selectedItem.Code">
                            <dt class="govuk-summary-list__key govuk-!-width-full">
                                @selectedItem.GetDescription()
                            </dt>
                        </div>
                    }
                </dl>
            </div>
        </div>
    }
    else
    {
        <div class="accordion-highlight">
            <a href="#" class="govuk-link" id="@selectorOptions.BrowseButtonId">
                @locationSelection.BrowseLinkText
            </a>
        </div>
    }

    @foreach (var (name, value) in locationSelection.GetHiddenInputs("location"))
    {
        <input type="hidden" name="@name" value="@value" />
    }
</div>

<partial name="_HierarchicalCodeSelector" model="(selectorOptions, (IHierarchicalCodeSelection)locationSelection)" />

<script src="~/js/location-selector.js" nonce-csp></script>
<script nonce-csp>
document.addEventListener("DOMContentLoaded", function () {
    if (typeof LocationSelector !== 'undefined') {
        LocationSelector.init({
            codeType: '@selectorOptions.CodeType',
            routePrefix: '@selectorOptions.RoutePrefix',
            fieldName: '@selectorOptions.FieldName',
            modalId: '@selectorOptions.ModalId',
            triggerId: '@selectorOptions.BrowseButtonId',
            searchInputId: '@selectorOptions.SearchInputId',
            treeContainerId: '@selectorOptions.TreeContainerId',
            searchContainerId: '@selectorOptions.SearchContainerId',
            selectionContainerId: '@selectorOptions.SelectionContainerId',
            accordionContentId: '@selectorOptions.AccordionContentId'
        });
    }

});
</script>