@model CO.CDP.RegisterOfCommercialTools.App.Models.CpvCodeSelection

<div class="govuk-modal" id="cpv-selector-modal" tabindex="-1" role="dialog" aria-labelledby="cpv-selector-title"
     aria-hidden="true">
    <div class="govuk-modal__dialog" role="document">
        <div class="govuk-modal__header">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0" id="cpv-selector-title">
                Select CPV codes
            </h2>
            <button type="button" class="govuk-modal__close" data-dismiss="modal" aria-label="Close modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="govuk-modal__body">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="cpv-search">
                    Search CPV codes
                </label>
                <div id="cpv-search-hint" class="govuk-hint">
                    Search by code or description
                </div>
                <input class="govuk-input" id="cpv-search" name="cpv-search" type="text"
                       aria-describedby="cpv-search-hint"
                       placeholder="e.g. agricultural or 03000000">

                <div id="cpv-search-results" style="display: none;">
                    <div id="search-results-list"></div>
                </div>
            </div>

            <div class="cpv-browser">
                <div id="cpv-hierarchy">
                    <h3 class="govuk-heading-s">Browse by category</h3>
                    <div id="cpv-tree" role="tree" aria-label="CPV code hierarchy">
                        <div class="govuk-body">Loading CPV codes...</div>
                    </div>
                </div>
            </div>

            <div class="cpv-selections-box govuk-!-margin-top-6">
                <div class="govuk-inset-text">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                        Selected CPV codes
                        (<span id="selection-count">@Model.SelectedCodes.Count</span>)
                    </h3>

                    <div id="selected-codes-list">
                        @if (Model.HasSelections)
                        {
                            @foreach (var selectedItem in Model.SelectedItems)
                            {
                                <div class="govuk-tag govuk-tag--grey govuk-!-margin-right-1 govuk-!-margin-bottom-1"
                                     data-code="@selectedItem.Code">
                                    <strong>@selectedItem.Code</strong> @selectedItem.GetDescription()
                                    <button type="button" class="govuk-tag__remove"
                                            aria-label="Remove @selectedItem.Code @selectedItem.GetDescription()"
                                            data-code="@selectedItem.Code"
                                            data-action="remove-selection">
                                        &times;
                                    </button>
                                </div>
                            }
                        }
                        else
                        {
                            <p class="govuk-body-s govuk-!-margin-bottom-0">No CPV codes selected</p>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="govuk-modal__footer">
            <div class="govuk-button-group">
                <button type="button" class="govuk-button" id="apply-selection">
                    Apply selection
                </button>
                <button type="button" class="govuk-button govuk-button--secondary" id="clear-all">
                    Clear all
                </button>
                <button type="button" class="govuk-button govuk-button--secondary" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>