@using CO.CDP.RegisterOfCommercialTools.App.Models
@using CO.CDP.RegisterOfCommercialTools.App.Pages
@model IndexModel
@{
    var cpvSelection = Model.CpvSelection;
    var selectorOptions = new HierarchicalCodeSelectorOptions
    {
        CodeType = "CPV",
        ModalTitle = "Select CPV codes",
        SearchPlaceholder = "e.g. agricultural or 03000000",
        RoutePrefix = "cpv",
        FieldName = "cpv",
        BrowseButtonId = "browse-cpv-codes",
        ModalId = "cpv-selector-modal",
        SearchInputId = "cpv-search",
        TreeContainerId = "cpv-tree",
        SearchContainerId = "search-results-list",
        SelectionContainerId = "selected-codes-list",
        AccordionContentId = "industry-cpv-code-content"
    };
}

<div class="govuk-!-margin-top-0" id="industry-cpv-code-content">
    <p class="govuk-body-s">The common procurement vocabulary (CPV) is used to classify contracts
        in a standardised way</p>

    @if (cpvSelection.HasSelections)
    {
        <div class="govuk-summary-card filter-panel-card govuk-!-margin-top-3" id="cpv-selected-codes-display">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title">@cpvSelection.SelectionSummary</h3>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a href="#" class="govuk-link" id="@selectorOptions.BrowseButtonId">Edit</a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    @foreach (var selectedCode in cpvSelection.SelectedCodes)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-!-width-full">
                                @selectedCode
                            </dt>
                        </div>
                    }
                </dl>
            </div>
        </div>
    }
    else
    {
        <div class="accordion-highlight">
            <a href="#" class="govuk-link" id="@selectorOptions.BrowseButtonId">
                @cpvSelection.BrowseLinkText
            </a>
        </div>
    }

    @foreach (var (name, value) in cpvSelection.GetHiddenInputs("cpv"))
    {
        <input type="hidden" name="@name" value="@value" />
    }
</div>

<partial name="_HierarchicalCodeSelector" model="(selectorOptions, (IHierarchicalCodeSelection)cpvSelection)" />

<script src="~/js/cpv-selector.js" nonce-csp></script>
<script nonce-csp>
document.addEventListener("DOMContentLoaded", function () {
    if (typeof CpvSelector !== 'undefined') {
        CpvSelector.init({
            codeType: '@selectorOptions.CodeType',
            routePrefix: '@selectorOptions.RoutePrefix',
            fieldName: '@selectorOptions.FieldName',
            modalId: '@selectorOptions.ModalId',
            triggerId: '@selectorOptions.BrowseButtonId',
            searchInputId: '@selectorOptions.SearchInputId',
            treeContainerId: '@selectorOptions.TreeContainerId',
            searchContainerId: '@selectorOptions.SearchContainerId',
            selectionContainerId: '@selectorOptions.SelectionContainerId',
            accordionContentId: '@selectorOptions.AccordionContentId'
        });
    }
});
</script>