@using CO.CDP.UI.Foundation.Services
@using CO.CDP.UI.Foundation.Cookies
@inject IFtsUrlService FtsUrlService
@inject ISirsiUrlService SirsiUrlService
@inject ICookiePreferencesService CookiePreferencesService
@inject CookieSettings CookieSettings
@inject IUrlHelper Url
@{
    @* Common, rebranded page chrome lives in CO.CDP.UI.Foundation/_GovUkLayout. *@
    Layout = "_GovUkLayout";

    ViewData["HtmlLang"] ??= "en";
    ViewData["ServiceName"] ??= "Find a Tender";
    ViewData["ServiceUrl"] = FtsUrlService.BuildUrl("/");
    ViewData["ContainerClasses"] ??= "app-width-container";

    var cookieBannerViewModel = new CookieBannerViewModel(
        CookiePreferencesService,
        CookieSettings,
        Url,
        Context.Request.Path,
        Context.Request.PathBase,
        Context.Request.QueryString.Value
    );

    Guid? organisationId = Guid.TryParse(Context.Request.Query["organisation_id"].FirstOrDefault(), out var parsedGuid)
        ? parsedGuid
        : null;

    string GetFtsUrl(string path, Guid? orgId)
    {
        return User.Identity?.IsAuthenticated == true
            ? FtsUrlService.BuildUrl("/login", orgId, redirectUrl: path)
            : FtsUrlService.BuildUrl(path, orgId);
    }
}

@section Head {
    <link rel="manifest" href="/assets/manifest.json" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true">
}

@section CookieBanner {
    <partial name="/Pages/Shared/_CookieBanner.cshtml" model="cookieBannerViewModel" />
}

@section PhaseBanner {
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                Beta
            </strong>
            <span class="govuk-phase-banner__text">
                <a class="govuk-link" href="@SirsiUrlService.BuildUrl("provide-feedback-and-contact/?context=feedback")" target="_blank" rel="noopener noreferrer">Contact the Find a Tender team (opens in new tab)</a> if you have feedback, questions or suggestions.
            </span>
        </p>
    </div>
}

@section HeaderNavigation {
    @if (User.Identity?.IsAuthenticated == true)
    {
        <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="@SirsiUrlService.BuildAuthenticatedUrl("/organisation-selection")">
                My account
            </a>
        </li>
        <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/Auth/Logout">
                Sign out
            </a>
        </li>
    }
    else
    {
        <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/Auth/Login">
                Sign in
            </a>
        </li>
    }
}

@section FooterLinks {
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="@SirsiUrlService.BuildUrl("/contact-us")">Contact us</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="@GetFtsUrl("/Home/AccessibilityStatement", organisationId)">Accessibility statement</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="@GetFtsUrl("/Home/TermsAndConditions", organisationId)">Terms and conditions</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="@SirsiUrlService.BuildUrl("/privacy-notice")">Privacy</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/cookies">Cookies</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="@GetFtsUrl("/Developer/Documentation", organisationId)">Data and API</a>
    </li>
}

@section FooterExtra {
    <p>Notices are based on TED XML schema. © European Union, <a class="govuk-footer__link" target="_blank" rel="noopener noreferrer" href="https://ted.europa.eu">https://ted.europa.eu</a>, 1998–2020</p>
}

@section BeforeContent {
    @if (IsSectionDefined("BeforeContent"))
    {
        @await RenderSectionAsync("BeforeContent", required: false)
    }
}

@RenderBody()
